Repository Monolith-Station/Monolith, pull requests merged in 2025-07, with the labels that each got.

#1062 I'm Sorry Dave
  Content.Shared/_Mono/Shipyard/ShipAccessReaderSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: C#, YML, size/S

#1052 Added New Kinds of Signs, Emblems ! (For Faction & Corporations Logo Show-Offs)
  Resources/Prototypes/_Mono/Entities/Structures/Wallmounts/Signs/emblems.yml
  Resources/Textures/_Mono/Structures/Wallmounts/emblems.rsi/Drake_Industries_Emblem.png
  Resources/Textures/_Mono/Structures/Wallmounts/emblems.rsi/Drake_Industries_Emblem_Broken.png
  Resources/Textures/_Mono/Structures/Wallmounts/emblems.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#1063 Spawn Coordinates [QOL]
  Content.Server/_Mono/SpawnCoordinates/SpawnCoordinatesSystem.cs
Labels: S: Untriaged, C#, size/S

#1066 Optional Ship Access Update
  Content.Server/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Shared/_Mono/Shipyard/ShipAccessReaderComponent.cs
  Resources/Locale/en-US/shuttles/shuttle-console.ftl
Labels: S: Untriaged, C#, size/M, FTL

#1072 Shuttle Console Lock Changes
  Content.Server/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shuttles/Components/ShipGridLockComponent.cs
  Content.Shared/Shuttles/Components/ShuttleConsoleLockComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleLockSystem.cs
  Resources/Locale/en-US/shuttles/shuttle-console.ftl
Labels: C#, size/M, FTL

#1071 Make DIS Pluto & Rig More Branded, Adjusted Price for DIS Rig
  Resources/Maps/_Mono/Shuttles/pluto.yml
  Resources/Maps/_Mono/Shuttles/rig.yml
  Resources/Prototypes/_Mono/Shipyard/rig.yml
Labels: YML, size/L, No C#

#1074 Revert "Hitbox Adjustment (#803)"
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_Mono/Humanoid/HumanoidPhysicsScalingSystem.cs
Labels: C#, size/M, S: Needs Review

#1073 Changed Out Sekunda's Grinder with Hotplate, Added Chem Locker
  Resources/Maps/_Mono/Shuttles/USSP/sekunda.yml
Labels: YML, size/S, No C#

#1075 Sunset Trade Outpost
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
Labels: YML, size/M, No C#

#1077 Fixes Contra Scanning Values
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
Labels: C#, YML, size/S

#1080 Super Surplus Updated for 5x
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1078 Imp Hardsuit Buff
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/viper_group.yml
Labels: YML, size/XS, No C#

#1068 Self Surgery Is 4x Slower
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
Labels: C#, size/XS

#1083 Fentanyl Rebalance
  Resources/Prototypes/_Mono/Entities/Objects/Misc/solids.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/fentanyl.yml
Labels: S: Untriaged, YML, size/S, No C#

#1084 TM Plastitanium Walls + MR-8C Full Auto + Uplink Price Increases
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: YML, No C#, size/XL, Map-POI

#1085 Gift
  Content.Server/Administration/Logs/AdminLogManager.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Administration/Managers/IAdminManager.cs
  Content.Server/_Mono/Administration/Commands/ToggleAdminLoggingCommand.cs
  Content.Shared/Administration/AdminData.cs
  Resources/Locale/en-US/_Mono/administration/commands/toggle-admin-logging-command.ftl
  Resources/Locale/en-US/administration/managers/admin-manager.ftl
Labels: S: Untriaged, C#, size/M, FTL

#1087 Revert "The BBI Leaf"
  Resources/Maps/_Mono/Shuttles/leaf.yml
  Resources/Prototypes/_Mono/Shipyard/leaf.yml
Labels: YML, size/L, No C#

#1041 Add HES Arribane, Atmospherics Vessel (for Real)
  Resources/Maps/_Mono/Shuttles/arribane.yml
  Resources/Prototypes/_Mono/Shipyard/arribane.yml
Labels: S: Untriaged, YML, No C#, size/XL

#1088 USSP Can Grant Access + Fix Colonel Being Able to Open Rogue Doors
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Prototypes/Access/misc.yml
Labels: S: Untriaged, C#, YML, size/S

#1101 Flyssa Holopad + Cameras + Walkway Fix
  Resources/Maps/_Mono/Shuttles/Capitals/flyssa.yml
Labels: YML, No C#, size/XL

#1102 Its Powercreep. Who Gives a Shit?
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Content.Server/_Mono/SpaceArtillery/Components/SpaceArtilleryDisabledGridComponent.cs
  Resources/Maps/_Mono/Shuttles/BlackMarket/prowler.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/prowler.yml
  Resources/Prototypes/_Mono/Shipyard/Capitals/flyssa.yml
Labels: C#, YML, size/L

#1103 Nope I Never Make Mistakes
  Resources/Maps/_Mono/Shuttles/BlackMarket/prowler.yml
Labels: S: Untriaged, YML, size/M, No C#

#1104 270 -> 150 DPS LWMMG
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/8x65mm.yml
Labels: S: Untriaged, YML, size/S, No C#

#1107 Fragger Satisfaction Bill
  Resources/Locale/en-US/_Mono/prototypes/access/accesses.ftl
  Resources/Prototypes/_Mono/Access/pirate.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/anti_meta.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/anaconda.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/defector.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/europa.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/prowler.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/scorpion.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/spyglass.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/tethys.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/vega.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/vulture.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#1108 Barista Fix Probably
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1109 Fent Buffs
  Resources/Locale/en-US/_Mono/prototypes/access/accesses.ftl
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/store/tsfmc-uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Mono/Access/security.yml
  Resources/Prototypes/_Mono/Access/voucher.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/scaf_pirate.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/ussp.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/viper_group.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/grenades.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/prowler.yml
  Resources/Prototypes/_Mono/Shipyard/Capitals/flyssa.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#1113 Revert "Fent Buff 2"
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1114 Revert "Fent Buffs"
  Resources/Locale/en-US/_Mono/prototypes/access/accesses.ftl
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/store/tsfmc-uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Mono/Access/security.yml
  Resources/Prototypes/_Mono/Access/voucher.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/scaf_pirate.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/ussp.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/viper_group.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/grenades.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/prowler.yml
  Resources/Prototypes/_Mono/Shipyard/Capitals/flyssa.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#1112 Ship Limits
  Content.Server/_Mono/Ships/Systems/CrewedShuttleSystem.cs
  Content.Server/_Mono/Ships/Systems/LimitedShuttleSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShuttleDeedSystem.cs
  Content.Shared/_Mono/Ships/Components/ShipActivityComponent.cs
  Content.Shared/_Mono/Ships/Components/VesselComponent.cs
  Content.Shared/_Mono/Shipyard/AttemptShipyardShuttlePurchaseEvent.cs
  Content.Shared/_Mono/Shipyard/ShipyardShuttlePurchaseEvent.cs
  Content.Shared/_NF/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/prowler.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/vulture.yml
  Resources/Prototypes/_Mono/Shipyard/Capitals/flyssa.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/serpent.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/tunguska.yml
  Resources/Prototypes/_Mono/tags.yml
Labels: S: Untriaged, C#, YML, size/M, FTL

#1116 Replaces the Rpg with the China Lake in the Rogue Uplink
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#1120 Buffs the Tsfmctech
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsdtec.yml
Labels: S: Untriaged, YML, size/S, No C#

#1121 Prowler Price Increase
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
Labels: YML, No C#

#1125 Big Beautiful PR
  Resources/Locale/en-US/_Mono/research/technologies.ftl
  Resources/Maps/_Mono/POI/cove.yml
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Circuitboards/Machine/techfab.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/faction_servers.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/melee_weapons.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/misc.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/ranged_weapons.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/vouchers.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/Rogues/rogues.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/tsfmc.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/weapons.yml
  Resources/Prototypes/_Mono/Research/rogue.yml
  Resources/Prototypes/_Mono/Research/tsf.yml
  Resources/Prototypes/_Mono/disciplines.yml
Labels: YML, FTL, No C#, size/XL

#1127 Stealth Killer [Bounty]
  Content.Server/_Mono/Ships/Systems/CloakSuppressionSystem.cs
  Content.Server/_NF/Shipyard/Components/ShipyardVoucherComponent.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/_Mono/Ships/Components/CloakSuppressionComponent.cs
  Content.Shared/_NF/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/spear.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
Labels: S: Untriaged, C#, YML, size/M

#1100 Gruznyk - the USSP Cargo Hauler (NOW REDONE)
  Resources/Maps/_Mono/Shuttles/USSP/gruznyk.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/gruznyk.yml
Labels: S: Untriaged, YML, size/L, No C#

#1129 Faction Lathe Changes
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/disciplines.yml
Labels: YML, size/M, FTL, No C#

#1131 More More Stuff
  Resources/Locale/en-US/_Mono/research/technologies.ftl
  Resources/Maps/_Mono/Shuttles/Nfsd/splinter.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/FullyPowered_14.5mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/misc.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/Rogues/ammo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/ammo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/tsfmc.yml
  Resources/Prototypes/_Mono/Research/rogue.yml
  Resources/Prototypes/_Mono/Research/tsf.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/splinter.yml
Labels: S: Untriaged, YML, size/L, FTL, No C#, S: Needs Review

#1055 Takeaway: Botany Kitchen Shittle
  Resources/Maps/_Mono/Shuttles/takeaway.yml
  Resources/Prototypes/_Mono/Shipyard/takeaway.yml
Labels: YML, No C#, size/XL, S: Needs Review

#1058 Adds the DIS Brute. Third Hull of DIS
  Resources/Maps/_Mono/Shuttles/brute.yml
  Resources/Prototypes/_Mono/Shipyard/brute.yml
Labels: YML, No C#, size/XL, S: Needs Review

#1132 Removed Starsector Ship Size Vocabulary, Swapped with Weight Classes on DIS Ships
  Resources/Prototypes/_Mono/Shipyard/pluto.yml
  Resources/Prototypes/_Mono/Shipyard/rig.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1133 Minor Halcyon Edits
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
Labels: YML, No C#, size/XL

#1141 Modified Gruznyk Slightly
  Resources/Maps/_Mono/Shuttles/USSP/gruznyk.yml
Labels: S: Untriaged, YML, size/M, No C#

#1143 Grid Lock Fixes
  Content.Server/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleLockSystem.cs
Labels: S: Untriaged, C#, size/M

#1142 Doubles Solars Power Gen
  Content.Server/_NF/Solar/Components/NFSolarPanelComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
Labels: S: Untriaged, C#, YML, size/S

#1140 Limbs Harder to Sever/Gib
  Content.Shared/Body/Part/BodyPartComponent.cs
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
Labels: C#, YML, size/S

#1137 Minor Brute Tweaks
  Resources/Maps/_Mono/Shuttles/brute.yml
Labels: YML, size/M, No C#

#1144 Buffs the Public Transport Shuttle
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: S: Untriaged, C#, size/S

#1155 Noc Reaction Begone
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: S: Untriaged, YML, size/S, No C#

#1149 Controllable PTK
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: S: Untriaged, YML, size/S, No C#

#1150 Container Automatic Stacking [QOL]
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
Labels: S: Untriaged, C#, size/S

#1147 Holoflares, Grappling Hooks, Stun Batons to Vendomats.
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
Labels: YML, size/S, No C#

#1157 Remove M92-X Pending Rework
  Content.Server/_Mono/Company/CompanySystem.cs
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/grenades.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: S: Untriaged, C#, YML, size/S, No C#

#1154 Gift 3
  Resources/Prototypes/_Mono/Loadouts/ColonialOutpost/gun.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/belt.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/universal_groups.yml
Labels: YML, size/S, No C#

#1158 More MODsuits in Lockers
  Resources/Locale/en-US/_Mono/set-selector/selectable-sets.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Mono/Catalogs/selectable_sets.yml
  Resources/Prototypes/_Mono/Entities/Objects/Misc/voidsuitselectors.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#1163 DIS Pluto Fixes + Desc Change
  Resources/Maps/_Mono/Shuttles/pluto.yml
  Resources/Prototypes/_Mono/Shipyard/pluto.yml
Labels: S: Untriaged, YML, size/M, No C#

#1167 Fixes Mech Ships
  Resources/Maps/_Mono/Shuttles/Expedition/flashpointmk2.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/tumourmk2.yml
  Resources/Maps/_Mono/Shuttles/USSP/tunguska-c.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/flashpointmk2.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tumourmk2.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/tunguska-c.yml
Labels: S: Untriaged, YML, size/S, No C#

#1166 Adds Stuff to Contractor Loadout
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: YML, size/M, No C#

#1168 I Dont Know Anymore
  Resources/Locale/en-US/_Mono/research/technologies.ftl
  Resources/Maps/_Mono/Shuttles/Nfsd/serpent.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/tumour.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/tumourmk2.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/base_equipment.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/equipment_rogue.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/equipment_tsf.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/ranged_weapons.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/Rogues/equipment.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/equipment.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/tsfmc.yml
  Resources/Prototypes/_Mono/Research/Rogue/faction_tacsuits.yml
  Resources/Prototypes/_Mono/Research/Rogue/rogue_misc.yml
  Resources/Prototypes/_Mono/Research/Rogue/rogue_weapons.yml
  Resources/Prototypes/_Mono/Research/TSF/faction_tacsuits.yml
  Resources/Prototypes/_Mono/Research/TSF/tsf_misc.yml
  Resources/Prototypes/_Mono/Research/TSF/tsf_weapons.yml
  Resources/Prototypes/_Mono/Roles/Jobs/TSFMC/engineer.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/wielded-inhand-right.png
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#1165 Adds Empty Implants to Rogues, Removes All Indication of Backlash, Adds Handcuffs to Autolathes and Mercfabs, Adds Handcuffs to Bounty Vends
  Content.Shared/Implants/SharedImplanterSystem.cs
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: S: Untriaged, C#, YML, size/M, FTL

#1164 Faction Medicine Rework
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/store/tsfmc-uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Mono/Catalogs/VendingMachines/Inventories/ussp.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Entities/Specific/chemical-containers.yml
  Resources/Prototypes/_Mono/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: YML, size/M, FTL, No C#, S: Needs Review

#1171 Prowler pacman fix
  Resources/Maps/_Mono/Shuttles/BlackMarket/prowler.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1174 Mech Changes
  Content.Server/Mech/Systems/MechSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: S: Untriaged, C#, YML, size/S

#1178 Port Funky #830 Paradise Airlock SFX
  Resources/Audio/Machines/airlock_close.ogg
  Resources/Audio/Machines/airlock_open.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/boltsdown.ogg
  Resources/Audio/Machines/boltsup.ogg
Labels: S: Untriaged, YML, Audio, No C#

#1175 Updates Fent Posing
  Resources/Prototypes/_Mono/Catalogs/VendingMachines/Inventories/ussp.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: YML, size/S, No C#

#1181 Takeaway IPC Customer Accessibility
  Resources/Maps/_Mono/Shuttles/takeaway.yml
Labels: S: Untriaged, YML, size/M, No C#

#1183 Syndicate Suits Made Pricier
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/uplink_catalog.yml
Labels: YML, size/S, No C#

#1186 Mech Bug Fixes
  Resources/Maps/_Mono/Shuttles/Expedition/flashpointmk2.yml
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#1193 Unironically Fixes the Majority of Shipgun Projectile Collision Bugs
  Content.Server/Projectiles/ProjectileSystem.cs
Labels: C#, size/S, S: Needs Review

#1189 Final Resomi Sprites
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/ussp_combat.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/ussp_combat_lightmk2.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/ussp_combat_lightmk2.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/ussp_officer_combat.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/ussp_officer_combat.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_medic.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_medic.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_standard.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_standard.rsi/meta.json
Labels: S: Untriaged, Sprites, No C#

#1185 Gave Camelot a Shield
  Resources/Maps/_Mono/POI/camelot.yml
Labels: S: Untriaged, YML, No C#, size/XL

#1196 Motion Detector
  Content.Shared/_Mono/MotionDetector/Components/MotionDetectorIgnoreHolderComponent.cs
  Content.Shared/_Mono/MotionDetector/Systems/MotionDetectorIgnoreHolderSystem.cs
  Resources/Prototypes/_Mono/Entities/Objects/Tools/motion_detector.yml
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/detector.png
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/meta.json
Labels: S: Untriaged, C#, YML, size/M, Sprites, S: Needs Review

#1197 Conflict Ruleset Changes
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/Four_PortStriking.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/One_RandomDeathmatch.xml
Labels: size/S, No C#, Docs, S: Needs Review

#1198 25jul06 I Cant Stop Yamlmaxxing
  Content.Shared/Stacks/StackComponent.cs
  Resources/Locale/en-US/_Mono/research/technologies.ftl
  Resources/Maps/_Mono/Shuttles/Nfsd/splinter.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/_Mono/Entities/Objects/Tools/motion_detector.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/misc.yml
  Resources/Prototypes/_Mono/Research/TSF/tsf_misc.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/m25.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/m25.rsi/space_artillery.png
Labels: S: Untriaged, C#, YML, size/L, Sprites, FTL

#1203 Nocturine Accessible Again, Nerfs Noct
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: S: Untriaged, YML, size/S, No C#

#1207 CO Borg Charger Mald PR
  Resources/Maps/_Mono/Outpost/colonial.yml
Labels: YML, size/S, No C#

#1205 Improves USSP Bounties
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Resources/Locale/en-US/_Mono/cargo/ussp-bounties.ftl
  Resources/Maps/_Mono/POI/camelot.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Mono/Catalogs/Bounties/ussp_bounties.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/mechs.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/role_loadouts_ussp.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/universal_groups.yml
  Resources/Prototypes/_Mono/tags.yml
  Resources/Prototypes/_NF/Entities/Materials/materials.yml
Labels: C#, YML, FTL, size/XL

#1212 Only Colonel/Commander Can Change Job Slots
  Resources/Locale/en-US/_Mono/prototypes/access/accesses.ftl
  Resources/Prototypes/_Mono/Access/pirate.yml
  Resources/Prototypes/_Mono/PointsOfInterest/cove.yml
  Resources/Prototypes/_Mono/PointsOfInterest/tsfmchalcyon.yml
  Resources/Prototypes/_Mono/PointsOfInterest/tsfmcsecondary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#, S: Needs Review

#1213 Fixes Resomi Scaf Hardsuit Helmet
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/scaf_pirate.rsi/equipped-HELMET-resomi.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/scaf_pirate.rsi/meta.json
Labels: S: Untriaged, Sprites, size/XS, No C#, S: Needs Review

#1211 DIS Rig:remove Silly Missile Add Sick PKA Guns for Mining
  Resources/Maps/_Mono/Shuttles/rig.yml
Labels: S: Untriaged, YML, size/S, No C#

#1210 Better Motion Detector
  Resources/Audio/_RMC14/Effects/attributions.yml
  Resources/Audio/_RMC14/Effects/motion_detector.ogg
  Resources/Prototypes/_Mono/Entities/Objects/Tools/motion_detector.yml
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/detector-o.png
  Resources/Textures/_RMC14/Objects/Tools/motion_detector.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, Audio, size/S, No C#

#1215 Revert "CO Borg Charger Mald PR "
  Resources/Maps/_Mono/Outpost/colonial.yml
Labels: YML, size/S, No C#

#1217 Certain Mech Guns Cant Fire on Grids Anymore
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/Equipment/Components/MechEquipmentComponent.cs
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/Weapons/Gun/combat.yml
Labels: S: Untriaged, C#, YML, size/S

#1218 Adds Popup to the Mech Gun Gravity Override
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Resources/Locale/en-US/mech/mech.ftl
Labels: S: Untriaged, C#, FTL

#1199 Akula - Now with Mini Charon (PR'ing, as I Aint Getting an Anwser if Its Fine or Not and Am Impatient)
  Resources/Maps/_Mono/Shuttles/USSP/akula.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/akula.yml
Labels: S: Untriaged, YML, size/L, No C#

#1226 Resomi Gasp and Deathgasp Fixed
  Resources/Prototypes/_Floofstation/Voice/avali_emote_sounds.yml
Labels: S: Untriaged, YML, size/S, No C#

#1225 Resomi Stealth Suit
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/meta.json
Labels: Sprites, No C#

#1224 Swabs Redux
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/service_techfab.yml
Labels: S: Untriaged, YML, size/S, No C#

#1220 Init Commit (IFF Devices+ Fixes)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/Weapons/Gun/combat.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/Weapons/IFF_Packs/IFF.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/mecha_equipment.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/mechs.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/Mech Projectiles/45MechACP.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/mechs.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/mech_weapons.yml
  Resources/Prototypes/_Mono/Research/mech_research.yml
  Resources/Prototypes/_Mono/tags.yml
Labels: YML, size/M, No C#

#1238 Calypso Readd, some Locale Fixes
  Resources/Locale/en-US/_NF/job/department-roletimers.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/store/security-uplink-catalog.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Maps/_Mono/Shuttles/Nfsd/calypso.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/calypso.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
Labels: C#, YML, size/L, FTL, No C#

#1233 Mail Carrier Description Fix
  Resources/Locale/en-US/nyanotrasen/nyano-jobs.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#1229 Shield FTL Draw Change
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
Labels: UI, C#, size/XS

#1242 Latejoin Ammo + Latejoin Weapon Refactor
  Resources/Locale/en-US/_Mono/loadout.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/_Mono/Loadouts/ColonialOutpost/gun.yml
  Resources/Prototypes/_Mono/Loadouts/Contractor/gun.yml
  Resources/Prototypes/_Mono/Loadouts/Mercenary/gun.yml
  Resources/Prototypes/_Mono/Loadouts/Rogue/Specifics/gun.yml
  Resources/Prototypes/_Mono/Loadouts/Rogue/gun.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/Specifics/gun.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/gun.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/Specifics/gun.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/role_loadouts_ussp.yml
  Resources/Prototypes/_Mono/Loadouts/gun.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/corporal.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/medic.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/rifleman.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/sergeant.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/security_guard.yml
Labels: S: Untriaged, YML, size/L, FTL, No C#

#1243 Fixes some Pretty Major Oversights on Akula
  Resources/Maps/_Mono/Shuttles/USSP/akula.yml
Labels: S: Untriaged, YML, size/M, No C#

#1240 Adjusts C4 Differently
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/explosion.yml
Labels: YML, size/S, No C#, S: Needs Review

#1244 Volta Modsuit for TSF Engineers
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Back/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Hands/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/bags.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/universal_groups.yml
  Resources/Textures/_Mono/Clothing/Back/Modsuits/tsfmc-volta.rsi/control-sealed.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/tsfmc-volta.rsi/control.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/tsfmc-volta.rsi/equipped-BACKPACK-resomi.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/tsfmc-volta.rsi/equipped-BACKPACK-sealed-resomi.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/tsfmc-volta.rsi/equipped-BACKPACK-sealed.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/tsfmc-volta.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/tsfmc-volta.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/tsfmc-volta.rsi/equipped-HAND-resomi.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/tsfmc-volta.rsi/equipped-HAND-sealed-resomi.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/tsfmc-volta.rsi/equipped-HAND-sealed.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/tsfmc-volta.rsi/equipped-HAND.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/tsfmc-volta.rsi/gauntlets-sealed.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/tsfmc-volta.rsi/gauntlets.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/tsfmc-volta.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Modsuits/tsfmc-volta.rsi/equipped-HEAD-sealed.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/tsfmc-volta.rsi/equipped-HEAD.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/tsfmc-volta.rsi/helmet-sealed.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/tsfmc-volta.rsi/helmet.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/tsfmc-volta.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/tsfmc-volta.rsi/chestplate-sealed.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/tsfmc-volta.rsi/chestplate.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/tsfmc-volta.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/tsfmc-volta.rsi/equipped-OUTERCLOTHING-sealed-resomi.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/tsfmc-volta.rsi/equipped-OUTERCLOTHING-sealed.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/tsfmc-volta.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/tsfmc-volta.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/tsfmc-volta.rsi/boots-sealed.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/tsfmc-volta.rsi/boots.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/tsfmc-volta.rsi/equipped-FEET-sealed.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/tsfmc-volta.rsi/equipped-FEET.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/tsfmc-volta.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#1246 FTL Knockdown Immunity Fix
  Content.Server/_NF/Shuttles/Systems/MagbootsFTLImmunitySystem.cs
Labels: S: Untriaged, C#, size/S

#1247 Hotfix Ship Limits
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: C#, size/S

#1248 Adds Hristov Ammo to Uplink
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
Labels: S: Untriaged, YML, FTL, No C#

#1250 Cloaking Heat
  Content.Server/_Mono/CloakHeat/Systems/CloakHeatSystem.Console.cs
  Content.Shared/_Mono/CloakHeat/CloakHeatComponent.cs
  Content.Shared/_Mono/CloakHeat/Systems/CloakHeatSystem.cs
  Resources/Locale/en-US/_Mono/cloak-heat.ftl
Labels: S: Untriaged, C#, size/M, FTL

#1254 Mech Buffs (Armor and Energy)
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/mechs.yml
Labels: S: Untriaged, YML, size/S, No C#

#1253 Adjust Gunnery Server Things
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Content.Shared/_Mono/ShipGuns/ShipGunClassComponent.cs
  Resources/Maps/_Mono/ShuttleEvent/nebula.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/dagger.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/serpent.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: S: Untriaged, C#, YML, size/S

#1249 Arribane Fixes and Improvements.
  Resources/Maps/_Mono/Shuttles/arribane.yml
  Resources/Prototypes/_Mono/Shipyard/arribane.yml
Labels: S: Untriaged, YML, size/L, No C#

#1256 Tritsky Portable Engine Buffs (Bounty)
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: S: Untriaged, YML, size/S, No C#

#1258 Construct The Unconstructable
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_Mono/Recipes/Construction/structures.yml
Labels: YML, size/M, No C#

#1262 Cloak heat increase
  Content.Shared/_Mono/CloakHeat/CloakHeatComponent.cs
Labels: S: Untriaged, C#, size/XS

#1264 Less Job Slots for TSF Engineer
  Resources/Prototypes/_Mono/PointsOfInterest/tsfmchalcyon.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1270 Removes Requiring Outerclothing for Commandant/Commander
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
Labels: S: Untriaged, YML, size/S, No C#

#1269 Passive Gain for Faction R&D Servers
  Resources/Prototypes/_Mono/Entities/Structures/Machines/faction_servers.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1279 Revert "Adjusts C4 Differently"
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/explosion.yml
Labels: S: Untriaged, YML, size/S, No C#

#1272 Buffs Stealth Suit, Nerfs Cobra Grand a Tiny Bit
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/space.yml
Labels: S: Untriaged, YML, size/S, No C#

#1275 Adds Charonette and Updates Charon Xmls
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Prototypes/_Mono/Guidebook/gunnery.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CHARON.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CHARONETTE.xml
Labels: S: Untriaged, YML, FTL, size/S, No C#, Docs

#1276 Engineer Slots Increased to 3
  Resources/Prototypes/_Mono/PointsOfInterest/tsfmchalcyon.yml
Labels: S: Untriaged, YML, No C#

#1267 Removes Heavy Ussp Modsuit From Loadout
  Resources/Prototypes/_Mono/Loadouts/USSP/role_loadouts_ussp.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/universal_groups.yml
Labels: S: Untriaged, YML, size/S, No C#, S: Needs Review

#1282 Captain's Voidsuit Selector Fix
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: S: Untriaged, YML, No C#

#1281 CloakHeatSystem only Applies Heat when Moving
  Content.Shared/_Mono/CloakHeat/CloakHeatComponent.cs
  Content.Shared/_Mono/CloakHeat/Systems/CloakHeatSystem.cs
Labels: S: Untriaged, C#, size/S, S: Needs Review

#1286 Fixes Flail Construction
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/mech_construction.yml
Labels: S: Untriaged, YML, No C#

#1277 Add UNSA
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Prototypes/_Mono/companies.yml
  Resources/Textures/_Mono/Companies/UNSA.png
Labels: S: Untriaged, YML, FTL, size/S, No C#

#1290 Better Cove Hallways, R&D Passive Point Generators for Halcyon and Cove
  Resources/Maps/_Mono/POI/cove.yml
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
Labels: S: Untriaged, YML, No C#, size/XL

#1292 Ports Frontier Magnet Improvements
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
Labels: S: Untriaged, C#, size/S

#1291 Removes a Chair Which Souldnt Be There
  Resources/Maps/_Mono/Shuttles/USSP/akula.yml
Labels: S: Untriaged, YML, size/M, No C#

#1293 25jul09
  Resources/Maps/_Mono/POI/lancelot.yml
Labels: YML, No C#, size/XL

#1294 Access Fixes
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Mono/Access/tsfmc.yml
  Resources/Prototypes/_Mono/Access/vouchers.yml
Labels: S: Untriaged, YML, size/S, No C#

#1298 Jukebox Error Fix Attempt
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
Labels: S: Untriaged, C#, size/S

#1299 Gives Dionae Shoe Slots
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: YML, size/S, No C#

#1301 Allows USSP Serzhants and Kommissars to Skip Bounties
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Untriaged, YML, size/M, No C#

#1300 Reinforced Wall Diagonal Rotation Fix
  Resources/Prototypes/_Mono/Recipes/Construction/structures.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1303 Adds a Black Cloak
  Resources/Prototypes/_Mono/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/neck.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_Mono/Clothing/Neck/Cloaks/blackcloak.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Cloaks/blackcloak.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Cloaks/blackcloak.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Cloaks/blackcloak.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Cloaks/blackcloak.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#1308 Updates Respawn System Ftl
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostRespawnRulesWindow.xaml
  Resources/Locale/en-US/_NF/respawn/respawn-system.ftl
Labels: S: Untriaged, UI, FTL, size/S, No C#, S: Needs Review

#1305 Welder Fixes
  Resources/Maps/_Mono/Shuttles/Nfsd/welder.yml
Labels: S: Untriaged, YML, size/M, No C#

#1320 Removes Magnets From Generators
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: YML, size/XS, No C#

#1318 Adjusts Charon Explosion, Makes 57mms Not Hardbombs
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
Labels: S: Untriaged, YML, size/S, No C#

#1323 TSF Hardsuit Endrippification
  Resources/Locale/en-US/_Mono/store/tsfmc-uplink-catalog.ftl
  Resources/Prototypes/_Mono/Catalogs/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/Hardsuits/TSFMC/m82series.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/Hardsuits/TSFMC/m86.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/TSFMC/m82series.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/TSFMC/m86.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/equipment_tsf.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/equipment.yml
  Resources/Prototypes/_Mono/Research/TSF/faction_tacsuits.yml
  Resources/Prototypes/_Mono/Research/TSF/tsf_weapons.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/m82.rsi/equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/m82.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/m82.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/m86.rsi/equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/m86.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/m86.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82b.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82b.rsi/icon.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82b.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82b.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82b.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82c.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82c.rsi/icon.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82c.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82c.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m82c.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m86.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m86.rsi/icon.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m86.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m86.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/m86.rsi/meta.json
  Resources/mono_migration.yml
Labels: YML, size/M, Sprites, FTL, No C#, S: Needs Review

#1317 Freezer Resists Blasts Heavily
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: YML, size/S, No C#

#1326 Better Grid Pacification Code + Magnet Code
  Content.Server/_Mono/GridPacifiedSystem.cs
  Content.Server/_Mono/GridPacifierSystem.cs
  Content.Shared/Storage/EntitySystems/MaterialReclaimerMagnetPickupSystem.cs
  Content.Shared/Storage/EntitySystems/MaterialStorageMagnetPickupSystem.cs
  Content.Shared/_Mono/GridPacifiedComponent.cs
  Content.Shared/_Mono/GridPacifierComponent.cs
  Resources/Maps/_Mono/Outpost/colonial.yml
  Resources/Maps/_NF/POI/medical.yml
Labels: S: Untriaged, C#, YML, size/XL, Map-POI

#1327 Fix Hristov (#1737) + Hristov Buff
  Content.Client/Movement/Systems/ContentEyeSystem.cs
  Content.Client/Movement/Systems/EyeCursorOffsetSystem.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/14.5x114mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/ranged_weapons.yml
Labels: C#, YML, size/M, S: Needs Review

#1328 Fixes the Ruby
  Resources/Maps/_Mono/Shuttles/ruby.yml
Labels: S: Untriaged, YML, size/L, No C#

#1315 DIS Olympus, Last Titan of the DIS Shipset
  Resources/Maps/_Mono/Shuttles/olympus.yml
  Resources/Prototypes/_Mono/Shipyard/olympus.yml
Labels: YML, No C#, size/XL, S: Needs Review

#1329 Yeah Whatever
  Resources/Maps/_Mono/Shuttles/Expedition/meteor.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/meteor.yml
Labels: S: Untriaged, YML, No C#, size/XL, S: Needs Review

#1330 Gives a New Sprite to the ASM-501 or Whatever
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/launcher.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/vanyk-MK2.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/vanyk-MK2.rsi/space_artillery.png
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#1287 DME EVA Suit, Small DME Shareholder Change
  Resources/Maps/_Mono/Shuttles/shareholder.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_Mono/Entities/Structures/Storage/Closets/wall_departments.yml
  Resources/Prototypes/_Mono/Entities/Structures/Storage/Closets/wall_departments_eva.yml
  Resources/Prototypes/_Mono/Shipyard/shareholder.yml
Labels: S: Untriaged, YML, size/M, No C#

#1333 Adds Fans to DIS Olympus
  Resources/Maps/_Mono/Shuttles/olympus.yml
Labels: S: Untriaged, YML, size/S, No C#

#1331 QOL
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
Labels: YML, size/S, No C#

#1335 DIS Olympush Patch no.2
  Resources/Maps/_Mono/Shuttles/olympus.yml
Labels: YML, size/S, No C#

#1339 Smartgun [Port]
  Content.Client/Weapons/Ranged/Components/MagazineVisualsComponent.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.MagazineVisuals.cs
  Content.Client/_Goobstation/Weapons/LaserPointer/LaserPointerOverlay.cs
  Content.Client/_Goobstation/Weapons/LaserPointer/LaserPointerSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/_Goobstation/Weapons/Ranged/LaserPointerSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/LaserPointerComponent.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/LaserPointerManagerComponent.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SharedLaserPointerSystem.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SmartGunComponent.cs
  Content.Shared/_Goobstation/Weapons/SmartGun/SmartGunSystem.cs
  Content.Shared/_Goobstation/Wizard/Projectiles/HomingProjectileComponent.cs
  Content.Shared/_Goobstation/Wizard/Projectiles/HomingProjectileSystem.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/laserpointer.ogg
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/smartgun_shoot.ogg
  Resources/Locale/en-US/_Goobstation/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/smartgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/smartgun.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smartgun.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/Research/arsenal.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/smartgun.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/misc.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Casings/smartgun.rsi/base-spent.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Casings/smartgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Casings/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/smartgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/smartgun.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Ammunition/Magazine/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Projectiles/smartgun.rsi/smartgun.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/base-unshaded.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-unshaded-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/mag-unshaded-1.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/wielded-inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/SMGs/smartgun.rsi/wielded-inhand-right.png
Labels: C#, YML, size/L, Sprites, Audio, FTL

#1340 No More Absurdly Easy S2/S4 Mechs
  Resources/Locale/en-US/_Mono/research/mechs.ftl
  Resources/Locale/en-US/_Mono/research/technologies.ftl
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/0.5_gauge.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/120mm_HE.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/20mmMech.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/280mm_rocket.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/3cm_sabot.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/45MechACP.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/60mm_shell.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/Blanket_Flares.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/Spark_Flares.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/MechProjectiles/shortplasma.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/mech_weapons.yml
  Resources/Prototypes/_Mono/Research/mech_research.yml
Labels: YML, size/M, FTL, No C#

#1337 Ai Interactions 2
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: S: Untriaged, YML, size/M, No C#

#1336 UNSA Vanguard Armband
  Resources/Prototypes/_Mono/Entities/Clothing/Neck/armbands.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/neck.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_Mono/Clothing/Neck/Armbands/vanguard.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Armbands/vanguard.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Armbands/vanguard.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#1314 Unsa
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/Structures/Wallmounts/flags.rsi/UNSA_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#1252 Major and Minor Limbs Have Different Durabilities and Severing Stats
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
Labels: YML, No C#, S: Needs Review

#1341 More Mono/Goob Guns in Exped Loot Pools
  Resources/Locale/en-US/_Mono/research/faction-universal.ftl
  Resources/Locale/en-US/_Mono/research/rogue-research.ftl
  Resources/Locale/en-US/_Mono/research/technologies.ftl
  Resources/Locale/en-US/_Mono/research/tsf-research.ftl
  Resources/Locale/en-US/_Mono/research/ussp-research.ftl
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smartgun.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_Mono/disciplines.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#
