Repository Monolith-Station/Monolith, pull requests merged in 2025-06, with the labels that each got.

#666 Laser buffs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: S: Untriaged, YML, size/S, No C#

#668 Unpowered
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_Mono/Shuttles/Components/ShuttleConsoleJobSlotsComponent.cs
Labels: S: Untriaged, C#, size/M

#669 Grid Component Fixes
  Content.Server/_Mono/GridGodModeSystem.cs
  Content.Server/_Mono/GridPacifierSystem.cs
  Content.Shared/_Mono/GridPacifierComponent.cs
Labels: S: Untriaged, C#, size/M

#671 Ship Renaming
  Content.Client/_NF/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/_NF/Shipyard/Events/ShipyardConsoleRenameMessage.cs
Labels: S: Untriaged, UI, C#, size/M

#672 Tarantula comments
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tarantula.yml
Labels: S: Untriaged, YML, size/XS, No C#

#678 Top Secret
  Content.Server/_Mono/Body/Systems/BodyRejuvenateSystem.cs
Labels: S: Untriaged, C#, size/M

#679 Smart-Equip to Back (Suit Storage) [Port]
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_Goobstation/Interaction/BackEquipSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: S: Untriaged, UI, C#, YML, size/M, FTL

#680 Unlocked SOS
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
Labels: C#, size/XS

#681 Target Seeking Fix Attempt
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingComponent.cs
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingSystem.cs
Labels: S: Untriaged, C#, size/S

#686 Brighter hardsuit lights
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: S: Untriaged, YML, No C#

#687 Remove gatherDestructionWhitelist from NFAsteroidRockOre
  Resources/Prototypes/_NF/Entities/Structures/Walls/asteroid.yml
Labels: S: Untriaged, YML, No C#

#689 Height Trait Removal
  Resources/Locale/en-US/_NF/traits/traits.ftl
  Resources/Prototypes/_NF/Traits/height.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#695 Shuttle Impacts [Port]
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/CCVar/CCVars.Shuttle.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Tiles/plating.yml
Labels: C#, YML, size/L

#696 Market Scam Fix
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
Labels: C#, size/XS

#703 Mommi
  Content.Packaging/ServerPackaging.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/MoMMI/IMoMMILink.cs
  Content.Server/MoMMI/MoMMILink.cs
  Content.Shared/CCVar/CCVars.Chat.Admin.cs
  Content.Shared/CCVar/CCVars.Chat.Ooc.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Content.Shared/CCVar/CCVars.Status.cs
  Content.Shared/Chat/ChatChannel.cs
  Directory.Packages.props
  Resources/Locale/en-US/chat/chat-channel.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: S: Untriaged, C#, FTL

#698 resomi cold speed thresholds
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
Labels: S: Untriaged, YML, size/XS, No C#

#700 Baby space dragons scary
  Content.Server/Dragon/Components/DragonComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/baby_dragon.yml
Labels: C#, YML, size/M, No C#

#699 moves fob farther away
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: YML, size/XS, No C#

#694 Gives cyborgs access to shortband for yapping, also syndicate borg has more channels
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: S: Untriaged, YML, size/XS, No C#

#704 FMC Value Increase
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#705 Summary Webhook
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/CCVar/CCVars.Discord.cs
Labels: C#, size/M

#709 Protogen adjustment
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/protogen.yml
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/silicon_base.yml
  Resources/ServerInfo/Guidebook/Mobs/Protogen.xml
Labels: S: Untriaged, YML, size/S, No C#, Docs

#708 Fixes orit
  Resources/Maps/_Mono/Shuttles/orit.yml
  Resources/Prototypes/_Mono/Shipyard/orit.yml
Labels: S: Untriaged, YML, No C#

#707 IPC max health and states
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: YML, size/XS, No C#

#706 Gives mining and salvage borg a wrench.
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: S: Untriaged, YML, No C#

#718 Turret LOS Change
  Content.Server/NPC/HTN/Preconditions/TargetInLOSPrecondition.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
Labels: S: Untriaged, C#

#717 Admin Chat Fix
  Content.Server/Chat/Managers/ChatManager.cs
Labels: C#, size/XS

#719 Ahelp Relay Addition
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: C#

#715 make fent great again
  Resources/Prototypes/_Mono/Entities/Objects/Misc/solids.yml
Labels: YML, size/XS, No C#

#713 implanter update
  Content.Shared/Implants/Components/ImplanterComponent.cs
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: C#, YML, FTL, size/S, No C#

#714 variety to smuggling and decreases payment a bit
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/base.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/crates.yml
Labels: YML, size/S, No C#

#716 Removes TSFMC playtime req from normal rogue agents
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
Labels: S: Untriaged, YML, No C#

#720 No More [Titlecard]
  Resources/Maps/_Mono/POI/camelot.yml
  Resources/Maps/_Mono/POI/tsfmcoutpost.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/tsfmc.yml
Labels: S: Untriaged, YML, size/XS, No C#, Map-POI

#721 Pacifier Change
  Content.Server/_Mono/GridPacifierSystem.cs
Labels: S: Untriaged, C#

#722 Fent Buff
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/_NF/bank/bank-ATM-component.ftl
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
Labels: S: Untriaged, C#, FTL

#723 unbreaks protogen
  Resources/Prototypes/Entities/Mobs/Species/protogen.yml
Labels: YML, No C#

#725 merc/scaf suit buffs
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: YML, size/XS, No C#

#726 MED designation
  Resources/Prototypes/_Mono/Shipyard/eden.yml
  Resources/Prototypes/_Mono/Shipyard/miriam.yml
  Resources/Prototypes/_Mono/Shipyard/orit.yml
  Resources/Prototypes/_Mono/Shipyard/skalpel.yml
  Resources/Prototypes/_Mono/Shipyard/taichi.yml
  Resources/Prototypes/_Mono/Shipyard/tzipora.yml
Labels: YML, No C#

#727 blackmarket atm #STOP-TAXES
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: YML, size/XS, No C#

#728 Added (real) damage to the ship based proto kinetic accelerator
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: S: Untriaged, YML, No C#

#735 adding ame cores doesn't magically diminish power returns
  Content.Server/Ame/AmeNodeGroup.cs
Labels: S: Untriaged, C#

#736 Grandhonker Gone
  Resources/Maps/_Mono/Shuttles/grandhonker.yml
  Resources/Prototypes/_Mono/Shipyard/grandhonker.yml
Labels: S: Untriaged, YML, No C#, size/XL

#737 Fent Spawns Naturally x15
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Client/_Mono/Company/CompanySystem.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/_Mono/Company/CompanySystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/Systems/IdExaminableSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/en-US/_Mono/companies/examine.ftl
  Resources/Locale/en-US/pda/pda-component.ftl
Labels: UI, C#, FTL

#738 Downed Changes
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Components/RequireProjectileTargetComponent.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
Labels: S: Untriaged, C#

#739 Downed Company Patch
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
Labels: S: Untriaged, C#, size/S

#741 Height Migration Fix Attempt
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Server.Database/Migrations/Postgres/20250602114530_FixProfileHeightWidthDefaults.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250602114530_FixProfileHeightWidthDefaults.cs
  Content.Server.Database/Migrations/Sqlite/20250602114530_FixProfileHeightWidthDefaults.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250602114530_FixProfileHeightWidthDefaults.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
Labels: S: Untriaged, size/M

#740 great species damage modifier yaml tweak
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
  Resources/Prototypes/_DV/Damage/modifier_sets.yml
  Resources/Prototypes/_EinsteinEngines/Damage/modifier_sets.yml
  Resources/Prototypes/_Floofstation/Damage/modifier.sets.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_NF/Damage/modifier_sets.yml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Protogen.xml
  Resources/ServerInfo/Guidebook/Mobs/Resomi.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Chitinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/_DV/Vulpkanin.xml
  Resources/ServerInfo/_NF/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/_NF/Guidebook/Mobs/Goblin.xml
Labels: S: Untriaged, YML, size/S, No C#, Docs

#744 Space Garbage Cleanup (Attempt 2)
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Content.Server/_Mono/SpaceGarbageCleanupSystem.cs
  Content.Shared/_Mono/CCVar/CCVars.Mono.cs
Labels: S: Untriaged, C#, size/S

#753 reflect fix
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: S: Untriaged, YML, No C#

#751 no more robbing CO/MD budgets
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: YML, size/XS, No C#

#749 drop pod spawner adjustment
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
Labels: S: Untriaged, YML, size/XS, No C#

#756 Floating Corpse Fix
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
Labels: C#

#754 PMC Prices and Stock Adjustments.
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/registered.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
Labels: S: Untriaged, YML, size/M, No C#

#771 Temporarily disable speed suits and HF blades
  Resources/Prototypes/_Mono/Catalogs/VendingMachines/Inventories/ussp.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: YML, size/M, No C#

#765 Adjusts Vendor Rates (Fixes BSD Resale Issue)
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/ussp.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
Labels: S: Untriaged, YML, No C#

#763 brigmedic surgery speed buff
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
Labels: S: Untriaged, YML, No C#

#783 AB
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
Labels: C#, size/S

#781 hides sensorsoff from spawn menu
  Resources/Prototypes/_Mono/Entities/Clothing/Jumpsuit/piratejumpsuits.yml
Labels: S: Untriaged, YML, size/XS, No C#

#777 ADS law rewrite
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
Labels: S: Untriaged, FTL, size/S, No C#

#770 ports better vulpkanin sounds
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_fox_growl.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_fox_scream1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_fox_scream2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_wolf_howl.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_cry1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_cry2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_laugh1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_laugh2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_sneeze.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_fox_scream1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_fox_scream2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_wolf_growl.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_wolf_howl.ogg
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DeadSpace/SoundCollections/vulpkanin.yml
Labels: S: Untriaged, YML, Audio, size/S, No C#

#780 Barozine Recipe
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, YML, size/S, No C#

#784 Rodentia Returns
  Resources/Prototypes/_DV/Species/rodentia.yml
Labels: S: Untriaged, YML, size/XS, No C#

#769 Various minor TSF adjustments
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/commissar.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/corporal.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/medic.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/rifleman.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/sergeant.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/StatusIcon/job.yml
  Resources/Prototypes/radio_channels.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#762 USSP medpen and weapon adding
  Resources/Prototypes/_Mono/Catalogs/VendingMachines/Inventories/ussp.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: S: Untriaged, YML, size/XS, No C#

#798 salvage qol
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/salvage_techfab.yml
Labels: S: Untriaged, YML, size/S, No C#

#793 corporal slots in tsf ships
  Resources/Prototypes/_Mono/Shipyard/Nfsd/dagger.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/fracture.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/legionnaire.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/serpent.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/spear.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tarantula.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tumour.yml
Labels: S: Untriaged, YML, size/S, No C#

#802 Port Goobs Naval Sabre, Alter Existing Captain Sabre
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_Mono/Catalogs/Fills/Items/belt.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_Mono/Objects/Weapons/Melee/ccsabre.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/ccsabre.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/ccsabre.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/ccsabre.rsi/meta.json
Labels: YML, size/M, Sprites, FTL, No C#

#797 Minor error fix for a few ships
  Resources/Maps/_Mono/Shuttles/Expedition/flashpoint.yml
  Resources/Maps/_Mono/Shuttles/Expedition/judiciary.yml
  Resources/Maps/_Mono/Shuttles/Expedition/magus.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/tarantula.yml
  Resources/Maps/_Mono/Shuttles/letterbox.yml
  Resources/Maps/_Mono/Shuttles/twilight.yml
Labels: YML, No C#

#786 readds new sounds with consideration to feedback on the older PR [BOUNTY]
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_fox_growl.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_fox_scream1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_fox_scream2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/female_wolf_howl.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_cry1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_cry2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_laugh1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_laugh2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/fox_sneeze.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_fox_scream1.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_fox_scream2.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_wolf_growl.ogg
  Resources/Audio/_DeadSpace/Voice/Vulpkanin/male_wolf_howl.ogg
  Resources/Locale/en-US/_Floofstation/voice/speech_emotes.ftl
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DeadSpace/SoundCollections/vulpkanin.yml
Labels: S: Untriaged, YML, Audio, FTL, size/S, No C#

#800 Can buy money with TC, Cash QOL
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/store/tsfmc-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Misc/space_cash.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#805 Usspvend priced less
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
Labels: S: Untriaged, YML, size/XS, No C#

#806 Garbage Collector Fixes
  Content.Server/_Mono/SpaceGarbageCleanupSystem.cs
Labels: S: Untriaged, C#, size/S

#808 IPC Encryption Fix
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: S: Untriaged, C#, size/XS

#807 decreased worldloader range on consoles
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Untriaged, YML, size/XS, No C#

#809 Summary Duplicate Cleanup
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: S: Untriaged, C#, size/S

#810 Contextual Problems
  Resources/Locale/en-US/_NF/m_emp/m_emp.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/nyanotrasen/interaction/interaction-popup-component.ftl
Labels: FTL, size/XS, No C#

#811 makes the kammerer a pump shotgun
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: S: Untriaged, C#, YML, size/S

#816 resomi silly bawk
  Content.Server/Speech/Components/ResomiAccentComponent.cs
  Content.Server/Speech/EntitySystems/ResomiAccentSystem.cs
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
Labels: S: Untriaged, C#, YML, size/S, Silly

#813 Ports `Buff humans #1260` from Goob-Station
  Content.Server/Communications/CommsHackerSystem.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Ninja/Systems/BatteryDrainerSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Vape.cs
  Content.Server/_EE/Carrying/CarryingSystem.cs
  Content.Server/_EinsteinEngines/Power/Systems/BatteryDrinkerSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsHackerSystem.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Execution/SharedExecutionSystem.cs
  Content.Shared/Magic/SpellbookSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Content.Shared/Research/Systems/SharedResearchStealerSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Species/Systems/ReformSystem.cs
  Content.Shared/_EinsteinEngines/Silicon/DeadStartupButton/SharedDeadStartupButtonSystem.cs
  Content.Shared/_Goobstation/DoAfter/DoAfterDelayMultiplierComponent.cs
  Content.Shared/_Goobstation/DoAfter/DoAfterDelayMultiplierSystem.cs
  Content.Shared/_Shitmed/Body/Systems/SharedBodySystem.Relay.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Prototypes/dwarf.yml
  Resources/Prototypes/Nyanotrasen/Body/Prototypes/felinid.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Floofstation/Body/Parts/resomi.yml
  Resources/Prototypes/_Goobstation/Body/Parts/hands.yml
  Resources/Prototypes/_Goobstation/Body/Prototypes/yowie.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_Shitmed/Body/Parts/generic.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
Labels: S: Untriaged, C#, YML, size/M, Docs

#821 Camelot Godmode Fix
  Resources/Maps/_Mono/POI/camelot.yml
Labels: S: Untriaged, YML, No C#, size/XL

#772 The Baeg Shuttle
  Resources/Maps/_Mono/Shuttles/Baeg.yml
  Resources/Prototypes/_Mono/Shipyard/Baeg.yml
Labels: YML, size/M, No C#, Map-Shuttle, S: Needs Review

#822 fixes atmos on baeg
  Resources/Maps/_Mono/Shuttles/Baeg.yml
Labels: YML, size/M, No C#

#823 Spyglass mald pr
  Resources/Maps/_Mono/Shuttles/BlackMarket/spyglass.yml
Labels: S: Untriaged, YML, size/L, No C#

#597 Added the Jitterbug, a cheap purely Botanical shuttle.
  Resources/Maps/_Mono/Shuttles/jitterbug.yml
  Resources/Prototypes/_Mono/Shipyard/jitterbug.yml
Labels: S: Untriaged, YML, size/L, No C#

#824 jukebox flatpack to flatpackvend
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
Labels: S: Untriaged, YML, size/XS, No C#

#825 increases uncryo max time
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: C#, size/XS, S: Needs Review

#826 Buff missile tracking
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/projectiles.yml
Labels: YML, size/S, No C#

#828 Gunnery Server Fix
  Content.Server/_Mono/FireControl/FireControlSystem.Console.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Resources/Textures/_Mono/Interface/Misc/circle_cutout.svg
  Resources/Textures/_Mono/Interface/Misc/circle_cutout.svg.192dpi.png
Labels: S: Untriaged, C#, size/M

#829 Body Part Refactor [Port]
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/_Shitmed/Body/Systems/BodySystem.VitalOrgans.cs
  Content.Server/_Shitmed/DelayedDeath/DelayedDeathSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/_Shitmed/Body/Part/BodyPartAppearanceComponent.cs
  Resources/Locale/en-US/_Shitmed/medical/components/defibrillator.ftl
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Parts/gingerbread.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Body/Parts/rat.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_DV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/_EinsteinEngines/Body/Parts/ipc.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/carp.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/kobold.yml
  Resources/Prototypes/_Shitmed/Body/Parts/Animal/monkey.yml
  Resources/Prototypes/_Shitmed/Body/Parts/animal.yml
  Resources/Prototypes/_Shitmed/Body/Parts/base.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
  Resources/Prototypes/_Shitmed/Species/cyborg.yml
Labels: S: Untriaged, C#, YML, size/L, FTL

#831 failed exped cooldown decrease
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: S: Untriaged, C#, size/XS

#840 adds exped capability to framework
  Resources/Prototypes/_Mono/Shipyard/framework.yml
Labels: YML, size/XS, No C#

#839 Distance changes v2
  Resources/Prototypes/_Mono/PointsOfInterest/camelot.yml
  Resources/Prototypes/_Mono/PointsOfInterest/tsfmcsecondary.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
Labels: S: Untriaged, YML, size/S, No C#

#838 Big carp have carp heart/lungs
  Resources/Prototypes/Body/Organs/Animal/bloodsucker.yml
  Resources/Prototypes/Body/Prototypes/Animal/bloodsucker.yml
Labels: YML, size/XS, No C#

#837 Additional body part refactor + Nymphs baggable now
  Resources/Prototypes/Body/Parts/moth.yml
  Resources/Prototypes/Body/Parts/protogen.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_DV/Body/Parts/chitinid.yml
  Resources/Prototypes/_DV/Body/Parts/harpy.yml
  Resources/Prototypes/_DV/Body/Parts/rodentia.yml
  Resources/Prototypes/_DV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/_Floofstation/Body/Parts/resomi.yml
  Resources/Prototypes/_NF/Body/Parts/goblin_parts.yml
Labels: S: Untriaged, YML, size/M, No C#, S: Needs Review

#842 navy officers sabre fix
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
Labels: S: Untriaged, YML, size/S, No C#

#846 n2o tanks in surgery duffels
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
Labels: YML, size/XS, No C#

#845 ports bigger volume canisters, adjusts gas sell prices
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: YML, size/S, No C#

#836 Refactor and Clarify Monolith Rules
  Resources/Prototypes/_Mono/Guidebook/rules.yml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/Four_PortStriking.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/One_RandomDeathmatch.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/Three_FairPlay.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/Two_NewLife.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Four_AlternativeAccounts.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/MonolithRuleset.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/One_CommonSense.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Eight_SafeZones.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Five_CharacterActions.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Four_SpeakEnglish.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/One_BreakCharacter.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Seven_Metagame.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Six_EroticRoleplay.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Three_ProperGrammar.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Two_TextChat.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Three_CheatingExploits.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Two_Respect.xml
Labels: S: Untriaged, YML, size/M, No C#, Docs

#852 Kentucky Fried Resomi
  Resources/Locale/en-US/_Mono/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Mono/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Mono/Entities/Objects/Consumable/Food/Containers/bucket_paper.yml
  Resources/Prototypes/_Mono/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Mono/Entities/Objects/Consumable/Food/steak.yml
  Resources/Prototypes/_Mono/Flavors/flavors.yml
  Resources/Prototypes/_Mono/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/_Mono/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/cooking.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/service_techfab.yml
  Resources/Textures/_Mono/Objects/Consumable/Food/bucket_paper.rsi/bucket-paper.png
  Resources/Textures/_Mono/Objects/Consumable/Food/bucket_paper.rsi/meta.json
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/bird-resomi.png
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/chicken-bucket.png
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/resomi-bucket.png
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/resomi-cooked.png
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/resomi-cutlet-cooked.png
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/resomi-cutlet.png
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/resomi-fried.png
  Resources/Textures/_Mono/Objects/Consumable/Food/meat.rsi/resomi2-fried.png
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#, S: Needs Review

#856 Adds a radio jammer for rogues
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#859 dex hands printable
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/robotics.yml
Labels: S: Untriaged, YML, size/S, No C#

#861 Fix IFF text being clipped by the new radar
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: S: Untriaged, UI, C#, size/S

#855 contravends anchorable, adds POI version
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: S: Untriaged, YML, size/S, No C#, Map-POI

#868 Make encryption key names match their channel names
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#864 make TSFMC vending machines anchorable
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: YML, No C#

#851 Dymere Buff
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/DYMERE.xml
Labels: S: Untriaged, YML, size/S, No C#, Docs

#863 A-Class mini gupdate
  Resources/Maps/_Mono/Shuttles/aclass.yml
Labels: YML, No C#

#873 GC Flare Fix
  Content.Server/_Mono/SpaceGarbageCleanupSystem.cs
Labels: S: Untriaged, C#, size/XS

#872 Fix some test fails
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Maps/MapMigrationSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Resources/Prototypes/_Mono/Catalogs/Bounties/ussp_bounties.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/ftldrive.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  mono_migration.yml
Labels: C#, YML, size/S, Map-Shuttle

#876 Add proper blacklists to emotes
  Resources/Locale/en-US/_Floofstation/voice/speech_emotes.ftl
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EinsteinEngines/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EinsteinEngines/Voice/speech_emotes.yml
  Resources/Prototypes/_Floofstation/Voice/speech_emotes.yml
  Resources/Prototypes/_Mono/tags.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#877 [Port] resomi_flavour_stuff.txt from GoobStation
  Resources/Audio/_EinsteinEngines/Voice/Shadowkin/attributions.yml
  Resources/Audio/_Floofstation/Voice/Avali/attributions.yml
  Resources/Audio/_Floofstation/Voice/Avali/avali_laugh.ogg
  Resources/Audio/_Goobstation/Voice/Resomi/attributions.yml
  Resources/Audio/_Goobstation/Voice/Resomi/trill.ogg
  Resources/Audio/_Goobstation/Voice/Resomi/warble.ogg
  Resources/Audio/_Goobstation/Voice/Resomi/wurble.ogg
  Resources/Audio/_Starlight/Voice/Resomi/attributions.yml
  Resources/Audio/_Starlight/Voice/Resomi/resomi_chirp1.ogg
  Resources/Audio/_Starlight/Voice/Resomi/resomi_chirp2.ogg
  Resources/Audio/_Starlight/Voice/Resomi/resomi_chirp3.ogg
  Resources/Audio/_Starlight/Voice/Resomi/resomi_chirp4.ogg
  Resources/Audio/_Starlight/Voice/Resomi/resomi_chirp5.ogg
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Floofstation/Entities/Mobs/Species/resomi.yml
  Resources/Prototypes/_Floofstation/Voice/avali_emote_sounds.yml
  Resources/Prototypes/_Goobstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Goobstation/Voice/speech_emotes.yml
  Resources/Prototypes/_StarLight/SoundCollections/emotes.yml
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Suits/atmos_firesuit.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/meta.json
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/displacement.rsi/inHand.png
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/displacement.rsi/meta.json
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/displacement.rsi/outerClothing.png
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/displacement.rsi/suitStorage.png
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/parts.rsi/PartsMcRaptor.png
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/parts.rsi/full.png
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/parts.rsi/groin.png
  Resources/Textures/_Floofstation/Mobs/Species/Resomi/parts.rsi/meta.json
  Resources/Textures/_Goobstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Goobstation/Interface/Emotes/caw.png
Labels: S: Untriaged, YML, size/M, Sprites, Audio, FTL, No C#

#896 fixes shuttle speed slider being silly
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
Labels: UI, C#

#897 The Performance PR
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Labels: C#, size/S

#893 kestrel price increase
  Resources/Maps/_Mono/Shuttles/kestrel.yml
  Resources/Prototypes/_Mono/Shipyard/kestrel.yml
Labels: S: Untriaged, YML, size/XS, No C#

#891 Total Gun Hell
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/DRAVON.xml
Labels: S: Untriaged, YML, size/S, No C#, Docs

#881 fixes garbage hell sorta
  Content.Server/Shuttles/Components/SpaceGarbageComponent.cs
  Content.Server/_Mono/SpaceGarbageCleanupSystem.cs
  Content.Shared/_Mono/CCVar/CCVars.Mono.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/_Mono/Entities/Objects/Consumable/Food/Containers/bucket_paper.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/pouches.yml
Labels: C#, YML, size/S, S: Needs Review

#892 USSP Modsuit Real?
  Resources/Prototypes/_Mono/Entities/Clothing/Back/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Hands/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/bags.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/role_loadouts_ussp.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/universal_groups.yml
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-varyag.rsi/control-sealed.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-varyag.rsi/control.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-varyag.rsi/equipped-BACKPACK-sealed.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-varyag.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-varyag.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-zastavnik.rsi/control-sealed.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-zastavnik.rsi/control.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-zastavnik.rsi/equipped-BACKPACK-sealed.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-zastavnik.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Clothing/Back/Modsuits/ussp-zastavnik.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-varyag.rsi/equipped-HAND-sealed.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-varyag.rsi/equipped-HAND.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-varyag.rsi/gauntlets-sealed.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-varyag.rsi/gauntlets.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-varyag.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-zastavnik.rsi/equipped-HAND-sealed.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-zastavnik.rsi/equipped-HAND.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-zastavnik.rsi/gauntlets-sealed.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-zastavnik.rsi/gauntlets.png
  Resources/Textures/_Mono/Clothing/Hands/Modsuits/ussp-zastavnik.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-varyag.rsi/equipped-HEAD-sealed.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-varyag.rsi/equipped-HEAD.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-varyag.rsi/helmet-sealed.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-varyag.rsi/helmet.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-varyag.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-zastavnik.rsi/equipped-HEAD-sealed.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-zastavnik.rsi/equipped-HEAD.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-zastavnik.rsi/helmet-sealed.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-zastavnik.rsi/helmet.png
  Resources/Textures/_Mono/Clothing/Head/Modsuits/ussp-zastavnik.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-varyag.rsi/chestplate-sealed.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-varyag.rsi/chestplate.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-varyag.rsi/equipped-OUTERCLOTHING-sealed.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-varyag.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-varyag.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-zastavnik.rsi/chestplate-sealed.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-zastavnik.rsi/chestplate.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-zastavnik.rsi/equipped-OUTERCLOTHING-sealed.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-zastavnik.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Modsuits/ussp-zastavnik.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-varyag.rsi/boots-sealed.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-varyag.rsi/boots.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-varyag.rsi/equipped-FEET-sealed.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-varyag.rsi/equipped-FEET.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-varyag.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-zastavnik.rsi/boots-sealed.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-zastavnik.rsi/boots.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-zastavnik.rsi/equipped-FEET-sealed.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-zastavnik.rsi/equipped-FEET.png
  Resources/Textures/_Mono/Clothing/Shoes/Modsuits/ussp-zastavnik.rsi/meta.json
Labels: YML, size/M, Sprites, No C#

#895 Debris Adjustment/Optimization
  Content.Server/Worldgen/Components/Debris/DebrisFeaturePlacerControllerComponent.cs
  Content.Server/Worldgen/Systems/Carvers/NoiseRangeCarverSystem.cs
  Content.Server/Worldgen/Systems/Debris/DebrisFeaturePlacerSystem.cs
  Content.Server/Worldgen/Systems/Debris/NoiseDrivenDebrisSelectorSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/GC/world.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: S: Untriaged, C#, YML, size/S, S: Needs Review

#886 Attempts to fix USSP IDs and Medical PDAs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, YML, size/S, No C#

#866 Vulture update
  Resources/Maps/_Mono/Shuttles/BlackMarket/vulture.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/vulture.yml
Labels: S: Untriaged, YML, No C#, size/XL

#898 Lower whitelist role requirements, raise DoC requirements
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
Labels: YML, No C#

#902 Revert "The Performance PR (#897)"
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Labels: S: Untriaged, C#, size/S

#900 Remove the brigmed's insane FMC amount
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
Labels: S: Untriaged, YML, size/XS, No C#

#904 Clothing Storage Fix
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: YML, No C#

#901 Updates ADS laws
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon-laws.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#905 A Performance PR
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/Worldgen/Components/Debris/DebrisFeaturePlacerControllerComponent.cs
  Content.Shared/CCVar/CCVars.NPC.cs
  Resources/Prototypes/GC/world.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
Labels: S: Untriaged, C#, YML, size/M

#903 kills rookie TSF leaking base coords
  Resources/Prototypes/_Mono/Loadouts/TSFMC/role_loadouts_tsfmc.yml
Labels: S: Untriaged, YML, size/XS, No C#

#884 Overhaul hypospray obtainment and return unrestricted hypo
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
Labels: S: Untriaged, YML, No C#

#916 lagpart3
  Resources/Prototypes/GC/world.yml
Labels: S: Untriaged, YML, size/XS, No C#

#917 wreck lag part 4
  Content.Server/Worldgen/Prototypes/GCQueuePrototype.cs
  Resources/Prototypes/GC/world.yml
Labels: S: Untriaged, C#, YML, size/XS

#921 Perf fix two
  Content.Server/NPC/HTN/HTNComponent.cs
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/NPC/Systems/NPCSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: S: Untriaged, C#, YML

#923 Ship Company Label Change
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: S: Untriaged, C#

#924 decreases worldloading on consoles
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: S: Untriaged, YML, size/XS, No C#

#912 LP bravo tweak
  Resources/Maps/_NF/POI/lpbravo.yml
Labels: S: Untriaged, No C#, Map-POI

#930 PMC Weapons Description Fix
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/registered.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
Labels: S: Untriaged, YML, size/S, No C#

#942 Consistent (Hopefully) Shield
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
Labels: UI, C#, size/M

#928 more slots for co staff
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: YML, size/S, No C#

#933 [Bounty] Adds AI Crafting
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Devices/Electronics/ai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/plasteel_core.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Machines/plasteel_core.rsi/core_board.png
  Resources/Textures/Structures/Machines/plasteel_core.rsi/core_brained.png
  Resources/Textures/Structures/Machines/plasteel_core.rsi/core_empty.png
  Resources/Textures/Structures/Machines/plasteel_core.rsi/core_glassed.png
  Resources/Textures/Structures/Machines/plasteel_core.rsi/core_wired.png
  Resources/Textures/Structures/Machines/plasteel_core.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#, S: Needs Review

#949 Railing Change
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
Labels: S: Untriaged, YML, size/S, No C#

#963 Solar Flare No Longer Open Doors, Jams More Channels at Random
  Resources/Prototypes/_NF/Events/events.yml
Labels: S: Untriaged, YML, size/S, No C#

#969 Give the TSFMC Colonel a Ship Voucher
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Tools/update_pr_reuse_headers.py
Labels: S: Untriaged, YML, size/S, No C#

#959 Adds the Spessbite
  Resources/Maps/_Mono/Shuttles/Spessbite.yml
  Resources/Prototypes/_Mono/Shipyard/spessbite.yml
Labels: S: Untriaged, YML, size/L, No C#

#974 AI Core Changes
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
Labels: S: Untriaged, C#, size/M

#979 Modified: Resources/Maps/_Mono/Shuttles/Spessbite.yml
  Resources/Maps/_Mono/Shuttles/Spessbite.yml
Labels: S: Untriaged, YML, size/M, No C#

#981 Updates the Dram Minorly. Replaces Its Generator.
  Resources/Maps/_Mono/Shuttles/dram.yml
  Resources/Prototypes/_Mono/Shipyard/dram.yml
Labels: S: Untriaged, YML, size/L, No C#

#984 Spawn Fix Attempt
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
Labels: S: Untriaged, C#, size/S

#985 Company Prototype Fix Attempt
  Content.Shared/_Mono/Company/CompanyPrototype.cs
Labels: C#, size/XS

#990 Attempt Fix Shield Code
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldTempSpeedChangeEffect.cs
Labels: S: Untriaged, C#, size/S

#989 Refactor TSF Central Bank Code
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
Labels: S: Untriaged, C#, size/M, FTL

#992 Sorting Is Pretty but Inefficient
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldTempSpeedChangeEffect.cs
Labels: S: Untriaged, C#, size/M
