Repository Monolith-Station/Monolith, pull requests merged in 2025-03, with the labels that each got.

#1 Dark UI
  Content.Client/Administration/UI/CustomControls/HSeparator.cs
  Content.Client/Administration/UI/CustomControls/VSeparator.cs
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Info/PlaytimeStats/PlaytimeStatsWindow.cs
  Content.Client/Lathe/UI/RecipeTooltip.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/Controls/MenuButton.cs
  Resources/Prototypes/themes.yml
  Resources/Textures/Interface/Nano/checkbox_checked.svg.96dpi.png
  Resources/Textures/Interface/Nano/checkbox_unchecked.svg.96dpi.png
  Resources/Textures/Interface/Nano/gear.svg.192dpi.png
  Resources/Textures/Interface/Nano/light_panel_background_bordered.png
  Resources/Textures/Interface/Nano/lineedit.png
  Resources/Textures/Interface/Nano/lock.svg.192dpi.png
  Resources/Textures/Interface/Nano/lock_open.svg.192dpi.png
  Resources/Textures/Interface/Nano/nanoheading.svg.96dpi.png
  Resources/Textures/Interface/Nano/stripeback.svg.96dpi.png
  Resources/Textures/Interface/Nano/tabcontainer_panel.png
  Resources/Textures/Interface/Nano/tooltip.png
  Resources/Textures/Interface/Nano/transparent_window_background_bordered.png
  Resources/Textures/Interface/Nano/whisper.png
  Resources/Textures/Interface/Nano/window_background.png
  Resources/Textures/Interface/Nano/window_background_bordered.png
  Resources/Textures/Interface/Nano/window_header.png
Labels: S: Untriaged, UI, C#, YML, size/M

#2 Ship Guns Port
  Content.Client/Shuttles/BUI/RadarConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Mono/FireControl/UI/FireControlConsoleBoundUserInterface.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
  Content.Client/_Mono/FireControl/UI/FireControlWindow.xaml
  Content.Client/_Mono/FireControl/UI/FireControlWindow.xaml.cs
  Content.Client/_Mono/Radar/RadarBlipsSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/_Mono/FireControl/FireControlGridComponent.cs
  Content.Server/_Mono/FireControl/FireControlServerComponent.cs
  Content.Server/_Mono/FireControl/FireControlSystem.Console.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Content.Server/_Mono/FireControl/FireControllableComponent.cs
  Content.Server/_Mono/Radar/RadarBlipComponent.cs
  Content.Server/_Mono/Radar/RadarBlipSystem.cs
  Content.Server/_Mono/SpaceArtillery/Components/SpaceArtilleryComponent.cs
  Content.Server/_Mono/SpaceArtillery/SpaceArtillerySystem.cs
  Content.Shared/_Mono/FireControl/FireControlConsoleComponent.cs
  Content.Shared/_Mono/FireControl/FireControlMessages.cs
  Content.Shared/_Mono/Radar/RadarMessages.cs
  Content.Shared/_Mono/SpaceArtillery/ShipWeaponProjectileComponent.cs
  Resources/Audio/_Mono/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Mono/Weapons/Guns/Gunshots/uaf_57mm.ogg
  Resources/Locale/en-US/_Mono/gunnery.ftl
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/50cal.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/sink_ports.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/50cal.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/50cal.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/artillery.rsi/artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/artillery.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t35.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t35.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/50_armorpiercing_machinegun_casing.rsi/base-projectile.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/50_armorpiercing_machinegun_casing.rsi/base-spent.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/50_armorpiercing_machinegun_casing.rsi/base.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/50_armorpiercing_machinegun_casing.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/630_armorpiercing_shell_casing.rsi/base-projectile.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/630_armorpiercing_shell_casing.rsi/base-spent.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/630_armorpiercing_shell_casing.rsi/base.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/630_armorpiercing_shell_casing.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/plasmashot.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/plasmashot.rsi/plasmashot.png
Labels: S: Untriaged, UI, C#, YML, size/L, Sprites, Audio, FTL

#3 Monolith Logo
  Content.Client/MainMenu/UI/MainMenuControl.xaml.cs
  Content.Replay/Menu/ReplayMainMenuControl.xaml.cs
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Textures/_Mono/Logo/icon.ico
  Resources/Textures/_Mono/Logo/icon/icon-128x128.png
  Resources/Textures/_Mono/Logo/icon/icon-16x16.png
  Resources/Textures/_Mono/Logo/icon/icon-24x24.png
  Resources/Textures/_Mono/Logo/icon/icon-256x256.png
  Resources/Textures/_Mono/Logo/icon/icon-32x32.png
  Resources/Textures/_Mono/Logo/icon/icon-48x48.png
  Resources/Textures/_Mono/Logo/icon/icon-64x64.png
  Resources/Textures/_Mono/Logo/logo.png
  Resources/Textures/_Mono/Logo/logo.png.yml
  Resources/Textures/_Mono/Logo/logo.svg
  Resources/manifest.yml
Labels: S: Untriaged, UI, C#, YML, size/M

#4 FTL Returns
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
Labels: S: Untriaged, UI, C#, size/XS

#5 Admin Ghost OOC Color
  Content.Server/Administration/Commands/AGhostCommand.cs
  Content.Server/Ghost/GhostSystem.cs
Labels: C#, size/S

#6 Shuttle Impacts
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
Labels: S: Untriaged, C#, size/S

#7 Shuttle Shields
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/_Mono/ShipShield/GridShieldGeneratorSystem.cs
  Content.Server/_Mono/ShipShield/GridShieldProtectionSystem.cs
  Content.Shared/_Mono/ShipShield/GridShieldGeneratorComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectedEntityComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectionComponent.cs
  Resources/Locale/en-US/_Mono/shield-generator-component.ftl
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/ShipShield/shield.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Textures/_Mono/Tiles/space.png
Labels: S: Untriaged, C#, YML, size/M, FTL

#8 Console Localization Changes + Thruster Blips
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#9 Fix UI Color
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
Labels: UI, C#, size/XS

#10 FTL Drive + Thrusters Blip Fix
  Content.Server/_Mono/Ships/FTLDriveSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Content.Shared/_Mono/Ships/FTLDriveComponent.cs
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/Entities/Structures/Machines/ftldrive.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: S: Untriaged, C#, YML, size/M, FTL

#11 Shields Absorb Impact + Death
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
Labels: S: Untriaged, C#, size/M

#12 Goob Stealth Fix [Port]
  Content.Client/Stealth/StealthSystem.cs
  Content.Shared/Stealth/Components/StealthComponent.cs
  Content.Shared/Stealth/Components/StealthOnMoveComponent.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Prototypes/Anomaly/behaviours.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: S: Untriaged, C#, YML, size/M

#15 Ship Projectiles Match Grid Velocity
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_Mono/SpaceArtillery/SpaceArtillerySystem.cs
Labels: S: Untriaged, C#, size/S

#17 Projectiles Blip Fix
  Content.Server/_Mono/Radar/RadarBlipSystem.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: S: Untriaged, C#, size/S

#18 Merc C2 exclusive guns woo
  Resources/Locale/en-US/_Mono/job/department-desc.ftl
  Resources/Locale/en-US/_Mono/job/department.ftl
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/RegisteredC3/registered.yml
  Resources/Prototypes/_Mono/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Mono/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#20 Skalpel thruster fix + pirate changes
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Maps/_Mono/Shuttles/skalpel.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
Labels: S: Untriaged, YML, FTL, No C#, size/XL, Map-POI

#21 rule changes + move skalpel to medical POI
  Resources/Prototypes/_Mono/Shipyard/skalpel.yml
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/_NF/Guidebook/Rules/12_Security.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/13_Command.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/3_Escalation.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/6_Safezone.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/7_Antag.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/8_PVP.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/9_Pirates.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/Zero_Tolerance.xml
Labels: YML, No C#, Docs

#22 M-class carrier
  Resources/Maps/_Mono/Shuttles/Carrier/ample.yml
  Resources/Maps/_Mono/Shuttles/Carrier/veska.yml
  Resources/Maps/_Mono/Shuttles/mclass.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/ample.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/veska.yml
  Resources/Prototypes/_Mono/Shipyard/mclass.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: S: Untriaged, YML, No C#, size/XL

#23 Woohoo! Colors fixed
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/_NF/LateJoin/Controls/CrewPickerControl.xaml
  Content.Client/_NF/LateJoin/Controls/StationOrCrewLargeControl.xaml
  Content.Client/_NF/LateJoin/Controls/StationPickerControl.xaml
Labels: S: Untriaged, UI, C#, size/S

#24 Ship weapons balancing
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/autocannon.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
Labels: S: Untriaged, YML, size/S, No C#

#27 woo
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/nfsd.yml
Labels: S: Untriaged, size/L, No C#, Map-POI

#29 shitmed locales fix
  Resources/Locale/en-US/_Shitmed/abductor/abductor-ui.ftl
  Resources/Locale/en-US/_Shitmed/abductor/abductor.ftl
  Resources/Locale/en-US/_Shitmed/autodoc.ftl
  Resources/Locale/en-US/_Shitmed/emag/emag.ftl
  Resources/Locale/en-US/_Shitmed/guidebook/guides.ftl
  Resources/Locale/en-US/_Shitmed/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/_Shitmed/inventory/slot-popup.ftl
  Resources/Locale/en-US/_Shitmed/itemswitch/item-switch.ftl
  Resources/Locale/en-US/_Shitmed/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/_Shitmed/research/technologies.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-tools.ftl
  Resources/Locale/en-US/_Shitmed/surgery/surgery-ui.ftl
  Resources/Locale/en-US/_Shitmed/technologies/technologies.ftl
  Resources/Locale/en-US/_Shitmed/verbs/verb-system.ftl
  Resources/Locale/en-US/_Shitmed/wires/wire-names.ftl
Labels: S: Untriaged, FTL, No C#

#35 Revert "Revert "Shuttle Shields""
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/_Mono/ShipShield/GridShieldGeneratorSystem.cs
  Content.Server/_Mono/ShipShield/GridShieldProtectionSystem.cs
  Content.Shared/_Mono/ShipShield/GridShieldGeneratorComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectedEntityComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectionComponent.cs
  Resources/Locale/en-US/_Mono/shield-generator-component.ftl
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/ShipShield/shield.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Textures/_Mono/Tiles/space.png
Labels: S: Untriaged, C#, YML, FTL

#37 Traits UI + Shuttle Impact "Nerf" + Lobby Screen Eclipse + YAML Linter Fix?
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitCategoryButton.xaml
  Content.Client/Lobby/UI/Roles/TraitCategoryButton.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitExpandCollapseButtons.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Resources/Locale/en-US/_Shitmed/guidebook/guides.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/_Mono/lobbyscreens.yml
  Resources/Prototypes/_NF/lobbyscreens.yml
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/_Mono/LobbyScreens/attributions.yml
  Resources/Textures/_Mono/LobbyScreens/eclipse.webp
  Resources/Textures/_Mono/LobbyScreens/eclipse.webp.yml
Labels: UI, C#, YML, size/M, FTL

#38 Monolith Changelog
  Resources/Changelog/Admin.yml
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Frontier.yml
  Resources/Changelog/Monolith.yml
  Resources/Locale/en-US/_Mono/changelog/changelog-window.ftl
Labels: YML, FTL, size/S, No C#

#41 Rt sucks sometimes
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
Labels: S: Untriaged, YML, size/XS, No C#

#43 Aghost Loadout Changes
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
Labels: S: Untriaged, YML, size/S, No C#

#44 Fix Chitinid and Resomi Loadouts
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
Labels: S: Untriaged, YML, size/XS, No C#

#45 Minor Localization Changes
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: S: Untriaged, FTL, size/XS, No C#

#46 Expedition FTL Fix
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: S: Untriaged, C#, YML, FTL, size/S

#47 Webediting nation
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Maps/_Mono/Shuttles/mclass.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/autocannon.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#49 New pirate and merc combat shit
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/archer.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/kessler.yml
  Resources/Prototypes/_Mono/Shipyard/archer.yml
Labels: YML, No C#, size/XL

#52 NPC Banner
  Resources/Prototypes/_Mono/Entities/Structures/Decoration/banners.yml
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/meta.json
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/ngc-banner.png
Labels: YML, Sprites, No C#

#55 Who up spriting they drives
  Resources/Prototypes/_Mono/Entities/ShipShield/shield.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/ftldrive.yml
  Resources/Textures/_Mono/Structures/ShuttleComponents/drive.rsi/control.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/drive.rsi/control_on.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/drive.rsi/meta.json
  Resources/Textures/_Mono/Structures/ShuttleComponents/shield.rsi/control.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/shield.rsi/control_on.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/shield.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#56 Another shield gen/ftl drive resprite
  Resources/Prototypes/_Mono/Entities/Structures/Machines/ftldrive.yml
  Resources/Textures/_Mono/Structures/ShuttleComponents/drive.rsi/control.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/drive.rsi/control_on.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/drive.rsi/meta.json
  Resources/Textures/_Mono/Structures/ShuttleComponents/shield.rsi/control.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/shield.rsi/control_on.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/shield.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#57 Target Seeking
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingComponent.cs
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingSystem.cs
Labels: C#, size/M

#58 MonoDev Map
  Resources/Maps/_Mono/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: YML, No C#, size/XL

#59 New Shields [Port + "Rework"] + Misc Changes
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleBoundUserInterface.cs
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleWindow.xaml
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleWindow.xaml.cs
  Content.Client/Theta/ShipEvent/Systems/CircularShieldOverlay.cs
  Content.Client/Theta/ShipEvent/Systems/CircularShieldOverlaySystem.cs
  Content.Client/_Mono/FireControl/UI/FireControlConsoleBoundUserInterface.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
  Content.Client/_Mono/FireControl/UI/FireControlWindow.xaml
  Content.Client/_Mono/FireControl/UI/FireControlWindow.xaml.cs
  Content.Client/_Mono/Radar/RadarBlipsSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Theta/ShipEvent/Components/CircularShieldRadarComponent.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldRadarSystem.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Content.Server/_Mono/Radar/RadarBlipComponent.cs
  Content.Server/_Mono/Radar/RadarBlipSystem.cs
  Content.Server/_Mono/ShipShield/GridShieldGeneratorSystem.cs
  Content.Server/_Mono/ShipShield/GridShieldProtectionSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Shuttles/BUIStates/RadarConsoleBoundInterfaceState.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldProjectileSystem.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldTempSpeedChangeEffect.cs
  Content.Shared/Theta/ShipEvent/CircularShield/SharedCircularShieldSystem.cs
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Content.Shared/Theta/ShipEvent/UI/ShieldConsoleBoundsUserInterfaceState.cs
  Content.Shared/Theta/ThetaHelpers.cs
  Content.Shared/_Mono/Radar/RadarMessages.cs
  Content.Shared/_Mono/ShipGuns/ShipGunTypeComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldGeneratorComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectedEntityComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectionComponent.cs
  Resources/Locale/en-US/Theta/ShipEvent/shipevent-ui.ftl
  Resources/Locale/en-US/_Mono/shield-generator-component.ftl
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Theta/DeviceLinking/sink_ports.yml
  Resources/Prototypes/Theta/DeviceLinking/source_ports.yml
  Resources/Prototypes/Theta/Shaders/shaders.yml
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_Mono/Entities/ShipShield/shield.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Theta/ShipEvent/Shaders/circular_waves.swsl
Labels: S: Untriaged, UI, C#, YML, size/L, FTL, Shaders

#60 Shield gen and FTL drive tweaks + mapping
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/marauder.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/Expedition/archon.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/anura.yml
  Resources/Maps/_Mono/Shuttles/argent.yml
  Resources/Maps/_Mono/Shuttles/mclass.yml
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/ftldrive.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/kessler.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/marauder.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/archon.yml
  Resources/Prototypes/_Mono/Shipyard/argent.yml
Labels: S: Untriaged, YML, No C#, size/XL

#61 If you have a ingrown toenail you need to repeat these numbers
  Resources/Maps/_Mono/Shuttles/iapetus.yml
  Resources/Prototypes/_Mono/Shipyard/iapetus.yml
Labels: YML, size/S, No C#

#62 Shield link fixes
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/Expedition/archon.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/anura.yml
  Resources/Maps/_Mono/Shuttles/mclass.yml
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
Labels: S: Untriaged, YML, size/S, No C#, size/XL

#64 Outpost Ship Impact Fix + Shield Generator Outline Fix
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
Labels: S: Untriaged, C#, YML, size/S, Map-POI

#66 Projectiles Fix Attempt
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldProjectileSystem.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldTempSpeedChangeEffect.cs
Labels: S: Untriaged, C#, YML, size/M

#67 Missile turret + new NFSD ship
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/mayhem.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/mayhem.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/vanyk.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/vanyk.rsi/space_artillery.png
Labels: S: Untriaged, YML, Sprites, No C#, size/XL, Map-Shuttle, Map-POI

#68 Alt click no longer makes you climb on shit
  Content.Shared/Climbing/Systems/ClimbSystem.cs
Labels: S: Untriaged, C#, size/S

#69 The UNJ Framework
  Resources/Maps/_Mono/Shuttles/framework.yml
  Resources/Prototypes/_Mono/Shipyard/framework.yml
  _debug_data.lnk
  _maps_shuttles.lnk
  _prototypes_shipyard.lnk
Labels: YML, size/M, Sprites, No C#, Map-Shuttle, Docs, Map-POI, S: Needs Review, Changes: Map, Changes: No C#

#70 Those who buff
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
Labels: S: Untriaged, C#, YML

#71 Mmm
  Resources/Maps/_Mono/Shuttles/Nfsd/mayhem.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/autocannon.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/mayhem.yml
Labels: S: Untriaged, YML, size/L, No C#, Map-Shuttle

#72 Ship Gunnery Guidebook initial commit
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Prototypes/_Mono/Guidebook/gunnery.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/AK570.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/ASM302.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CHARON.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/L85.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/MARAUDER.xml
Labels: enhancement, S: Untriaged, UI, YML, size/M, FTL, No C#, Docs, Map-POI

#77 MR-8A AR and skalpel chemmaster
  Resources/Maps/_Mono/Shuttles/skalpel.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/wielded-inhand-right.png
Labels: S: Untriaged, YML, size/M, size/L, Sprites, No C#

#80 How did i forget
  Resources/Maps/_Mono/Shuttles/tzipora.yml
  Resources/Prototypes/_Mono/Shipyard/tzipora.yml
Labels: S: Untriaged, YML, size/L, No C#

#78 Projectile Predictions [Port]
  Content.Client/Projectiles/ProjectileSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Client/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Server/Movement/Systems/LagCompensationSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Components/RangedDamageSoundComponent.cs
  Content.Shared/Weapons/Ranged/Events/RequestShootEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedFlyBySoundSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Random/SplitMix64.cs
  Content.Shared/_RMC14/Random/Xoroshiro64S.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/IgnorePredictionHideComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileClientComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileServerComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/SharedGunPredictionSystem.cs
Labels: S: Untriaged, C#, size/L, Map-POI

#79 Guided Missiles
  Content.Client/_Mono/FireControl/UI/FireControlConsoleBoundUserInterface.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
  Content.Server/_Mono/FireControl/FireControlSystem.Console.cs
  Content.Server/_Mono/FireControl/FireControlSystem.TargetGuided.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
  Content.Server/_Mono/Projectiles/TargetGuided/TargetGuidedComponent.cs
  Content.Server/_Mono/Projectiles/TargetGuided/TargetGuidedSystem.cs
  Content.Shared/_Mono/FireControl/FireControlMessages.cs
  Resources/Maps/_Mono/Test/dev_map.yml
Labels: S: Untriaged, C#, YML, size/L, size/XL

#81 Muzzle Flash Hotfix
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
Labels: S: Untriaged, C#, size/XS, size/S

#82 Pirate changes
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: S: Untriaged, YML, size/S, No C#, Docs, S: Needs Review

#83 Revert "Muzzle Flash Hotfix"
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
Labels: S: Untriaged

#84 Revert "Projectile Predictions [Port]"
  Content.Client/Projectiles/ProjectileSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Client/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Server/Movement/Systems/LagCompensationSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapons/Ranged/Components/RangedDamageSoundComponent.cs
  Content.Server/_RMC14/Weapons/Ranged/Prediction/GunPredictionSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Events/RequestShootEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedFlyBySoundSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/CCVar/RMCCVars.cs
  Content.Shared/_RMC14/Random/SplitMix64.cs
  Content.Shared/_RMC14/Random/Xoroshiro64S.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/IgnorePredictionHideComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileClientComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileHitEvent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/PredictedProjectileServerComponent.cs
  Content.Shared/_RMC14/Weapons/Ranged/Prediction/SharedGunPredictionSystem.cs
Labels: S: Untriaged, size/L

#85 Picses exped ship and 20mm autocannon fix
  Resources/Maps/_Mono/Shuttles/Expedition/picses.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/autocannon.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/picses.yml
Labels: S: Untriaged, YML, size/L, No C#, Map-Shuttle, Changes: Sprites
