Repository Monolith-Station/Monolith, pull requests merged in 2025-08, with the labels that each got.

#1720 Unstrangle Volumetrics
  Content.Shared/CCVar/CCVars.Atmos.cs
Labels: S: Untriaged, C#, size/XS

#1722 Update CODEOWNERS.txt
  .github/CODEOWNERS.txt
Labels: S: Untriaged, size/M, No C#

#1730 Added Artifact Chamber to Halcyon 2: Electric Boogalo
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
Labels: YML, size/M, No C#

#1733 Fix 8x65mm Being Full AP Instead of Partial AP
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/8x65mm.yml
Labels: S: Untriaged, YML, No C#

#1731 Parabellum Dock Directional Fan Fix
  Resources/Maps/_Mono/Shuttles/parabellum.yml
Labels: YML, size/S, No C#

#1735 Sabine Tweaks to Be a Better Salvage Vessel
  Resources/Maps/_Mono/Shuttles/sabine.yml
  Resources/Prototypes/_Mono/Shipyard/sabine.yml
Labels: S: Untriaged, YML, size/M, No C#

#1725 Arkansaw Gas Mixer Values Fix
  Resources/Maps/_Mono/Shuttles/Expedition/arkansaw.yml
Labels: S: Untriaged, YML, size/M, No C#

#1742 Added a Fib and Wall Recharger to the Fracture
  Resources/Maps/_Mono/Shuttles/Nfsd/fracture.yml
Labels: S: Untriaged, YML, size/S, No C#

#1743 UI Slop I Am Xamlmaxxer
  Content.Client/Shuttles/UI/DockingScreen.xaml
  Content.Client/Shuttles/UI/MapScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
  Content.Client/_NF/Bank/UI/BankATMMenu.xaml
  Content.Client/_NF/Bank/UI/WithdrawBankATMMenu.xaml
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/_NF/Shipyard/UI/VesselRow.xaml
  Resources/Locale/en-US/_Mono/ui-flavor.ftl
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: UI, FTL, No C#

#1746 Parabellum Vacuum Tile Fix
  Resources/Maps/_Mono/Shuttles/parabellum.yml
Labels: S: Untriaged, YML, size/S, No C#

#1747 Added a Holopad and Fax to the Scorpion
  Resources/Maps/_Mono/Shuttles/BlackMarket/scorpion.yml
Labels: S: Untriaged, YML, size/S, No C#

#1625 Adds the Tiny Boarding Ship Called The Sable
  Resources/Maps/_Mono/Shuttles/BlackMarket/sable.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/sable.yml
Labels: YML, size/M, No C#, S: Needs Review

#1750 Revert "Resomi Chirp Sounds for Speech"
  Resources/Prototypes/_Floofstation/Voice/avali_speech_sounds.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1739 Faction Base Point Gen Down
  Resources/Prototypes/Entities/Structures/Machines/research.yml
Labels: YML, size/XS, No C#, S: Needs Review

#1718 Heaven Piercing Punchout - The Concussive Gauntlets
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Textures/_Mono/Clothing/Hands/Gloves/concussive_gauntlets.rsi/equipped-HAND.png
  Resources/Textures/_Mono/Clothing/Hands/Gloves/concussive_gauntlets.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Hands/Gloves/concussive_gauntlets.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#1751 The Regular Whitelist Update
  Resources/Prototypes/_Mono/companies.yml
Labels: YML, No C#

#1753 Padval Hell
  Resources/Maps/_Mono/Shuttles/Expedition/padval.yml
Labels: S: Untriaged, YML, size/L, No C#

#1756 Takeaway YML
  Resources/Maps/_Mono/Shuttles/takeaway.yml
  Resources/Prototypes/_Mono/Shipyard/takeaway.yml
Labels: YML, size/XS, No C#

#1709 Adding the NS Ethereal, a Science Ship Shaped Like a Butterfly!
  Resources/Maps/_Mono/Shuttles/ethereal.yml
  Resources/Prototypes/_Mono/Shipyard/ethereal.yml
Labels: S: Untriaged, YML, No C#, size/XL, S: Needs Review

#1757 Survival Box Buff
  Resources/Maps/_Mono/Test/dev_map.yml
  Resources/Prototypes/Entities/Objects/Devices/base_handheld.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/Boxes/emergency.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/Lockers/salvmaint_locker.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/mre.yml
  Resources/Prototypes/_Mono/tags.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/survival.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/nf_migration.yml
Labels: S: Untriaged, YML, size/M, No C#

#1755 Removes CO Shield Gen
  Resources/Maps/_Mono/Outpost/colonial.yml
Labels: S: Untriaged, YML, size/M, No C#

#1761 Fix USSP Getting TSFMC Chest Rigs
  Resources/Prototypes/_Mono/Loadouts/USSP/belt.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/role_loadouts_ussp.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/universal_groups.yml
Labels: S: Untriaged, YML, size/S, No C#

#1765 Fax Machine UI Update
  Content.Client/Fax/UI/FaxWindow.xaml
  Content.Client/Fax/UI/FaxWindow.xaml.cs
Labels: S: Untriaged, UI, C#, size/S

#1771 Revert "increases uncryo max time"
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: S: Untriaged, C#

#1778 Halcyon Tweaks. More.
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
Labels: S: Untriaged, YML, No C#, size/XL

#1780 More Faction Thrusters
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/capital_thrusters.yml
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/thrusters_ussp.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Textures/_Mono/Structures/Shuttles/thrusternfsd_large.rsi/base.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusternfsd_large.rsi/meta.json
  Resources/Textures/_Mono/Structures/Shuttles/thrusternfsd_large.rsi/thrust.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusternfsd_large.rsi/thrust_burn_unshaded.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp.rsi/base.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp.rsi/meta.json
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp.rsi/thrust.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp.rsi/thrust_burn_unshaded.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp_large.rsi/base.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp_large.rsi/meta.json
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp_large.rsi/thrust.png
  Resources/Textures/_Mono/Structures/Shuttles/thrusterussp_large.rsi/thrust_burn_unshaded.png
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#1782 Ughhh Im Gamerlooting It
  Resources/Maps/_Mono/POI/Dungeons/lancelot.yml
  Resources/Maps/_Mono/POI/Dungeons/polaris.yml
  Resources/Maps/_Mono/POI/Dungeons/ruin_tanker.yml
  Resources/Maps/_Mono/POI/Dungeons/zenith_poi.yml
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/lancelot.yml
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/polaris.yml
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/ruin_tanker.yml
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/zenith_poi.yml
Labels: S: Untriaged, YML, No C#, size/XL

#1789 Magboots and Combat Boots (Readds Damage Slowdown Reduction)
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
Labels: S: Untriaged, YML, size/M, No C#, S: Needs Review

#1791 Revert "Revert "Revert "Increases Uncryo Max Time"""
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: S: Untriaged, C#, size/XS

#1793 Ledokol Updates
  Resources/Maps/_Mono/Shuttles/USSP/Ledokol/ledokol.yml
  Resources/Prototypes/_Mono/Access/security.yml
Labels: S: Untriaged, YML, size/L, No C#

#1792 More Baikal Updates
  Resources/Maps/_Mono/POI/usspbaikal.yml
Labels: S: Untriaged, YML, size/L, No C#

#1796 Hideout Syndicate Commander Suit Location + Access Changes
  Resources/Maps/_Mono/POI/cove.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/door_access.yml
  Resources/Prototypes/_Mono/Entities/Structures/Doors/Airlocks/hatch.yml
Labels: S: Untriaged, YML, size/M, No C#

#1801 Added 2x Defibs to the Padval
  Resources/Maps/_Mono/Shuttles/Expedition/padval.yml
Labels: S: Untriaged, YML, size/S, No C#

#1805 Nothing of concern, just updating
  Resources/Changelog/Monolith.yml
  Resources/Maps/_Mono/POI/cove.yml
  Resources/Maps/_Mono/Shuttles/Expedition/padval.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/door_access.yml
  Resources/Prototypes/_Mono/Entities/Structures/Doors/Airlocks/hatch.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/tools.yml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/One_RandomDeathmatch.xml
  Resources/Textures/_NF/Objects/Tools/maintenance-jack.rsi/meta.json
  Resources/Textures/_NF/Objects/Tools/maintenance-jack.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Tools/maintenance-jack.rsi/wielded-inhand-right.png
Labels: S: Untriaged, YML, size/M, Sprites, No C#, Docs

#1807 RMC Wielded Crosshairs (REBALANCE BRANCH)
  Content.Client/CombatMode/CombatModeIndicatorsOverlay.cs
  Content.Client/_RMC14/CombatMode/RMCCombatModeUISystem.cs
  Content.Shared/_RMC14/CombatMode/RMCCombatModeSystem.cs
  Content.Shared/_RMC14/CombatMode/WieldedCrosshairComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/SMGs/smartgun.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/LMGs/smartgun.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_RMC14/Interface/MousePointer/explosive_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/explosive_mouse.rsi/meta.json
  Resources/Textures/_RMC14/Interface/MousePointer/flamer_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/flamer_mouse.rsi/meta.json
  Resources/Textures/_RMC14/Interface/MousePointer/lmg_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/lmg_mouse.rsi/meta.json
  Resources/Textures/_RMC14/Interface/MousePointer/pistol_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/pistol_mouse.rsi/meta.json
  Resources/Textures/_RMC14/Interface/MousePointer/rifle_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/rifle_mouse.rsi/meta.json
  Resources/Textures/_RMC14/Interface/MousePointer/shotgun_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/shotgun_mouse.rsi/meta.json
  Resources/Textures/_RMC14/Interface/MousePointer/smartgun_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/smartgun_mouse.rsi/meta.json
  Resources/Textures/_RMC14/Interface/MousePointer/sniper_mouse.rsi/all.png
  Resources/Textures/_RMC14/Interface/MousePointer/sniper_mouse.rsi/meta.json
Labels: C#, YML, size/M, Sprites

#1806 Faction Hardsuit Changes 1 (REBALANCE BRANCH)
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/Hardsuits/TSFMC/m86.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/TSFMC/m82series.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/TSFMC/m86.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/scaf_pirate.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/ussp.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/viper_group.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/modsuit.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12_gauge.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45_ACP.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/4_gauge.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/9x19mm.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, YML, size/M, No C#

#1810 Port Goob(/Wizden) HTN Fixes
  Content.Server/NPC/Components/NPCSteeringComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Resources/Prototypes/NPCs/Combat/melee.yml
Labels: C#, YML, size/M

#1817 Disables Desert Planet
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: S: Untriaged, YML, size/S, No C#

#1824 Updated the Claymore to Have an Exped Console
  Resources/Maps/_Mono/Shuttles/Expedition/claymore.yml
Labels: YML, size/S, No C#

#1803 Moved Leader-Unique Guns Out of Loadouts Into Maps
  Resources/Maps/_Mono/POI/cove.yml
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
  Resources/Maps/_Mono/POI/usspbaikal.yml
  Resources/Prototypes/_Mono/Loadouts/Rogue/role_loadouts_rogue.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/role_loadouts_tsfmc.yml
  Resources/Prototypes/_Mono/Loadouts/USSP/role_loadouts_ussp.yml
Labels: S: Untriaged, YML, size/M, No C#

#1825 Fix Planets Being Deleted by GridCleanupSystem
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Shuttles/Systems/GridCleanupSystem.cs
  Content.Server/_Mono/Planets/PlanetMapComponent.cs
  Resources/Maps/_Mono/surface_outpost_desert.yml
Labels: S: Untriaged, C#, YML, size/S

#1823 Shuttle Mass Affects FTL Times.
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/_Mono/Ships/FTLDriveComponent.cs
  Resources/Prototypes/_Mono/Entities/Structures/Machines/heavy_drive.yml
Labels: C#, YML, size/M

#1829 Fix IPC Surgery
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryBodyConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganSlotConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/Steps/SurgeryAddOrganSlotStepComponent.cs
  Resources/Locale/en-US/_Shitmed/surgery/surgery-popup.ftl
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: C#, YML, size/M, FTL

#1832 Fix PMC WL-01 Light Being Shit
  Resources/Prototypes/_Mono/Entities/Clothing/Head/Hardsuits/mercs.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1830 Renames Contractor to Spacer Again
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#, S: Needs Review

#1827 By the Euphrates River
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_Mono/Planets/biome_ocean.yml
  Resources/Textures/_Mono/Tiles/planet/water.rsi/full.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/meta.json
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water0.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water1.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water2.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water3.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water4.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water5.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water6.png
  Resources/Textures/_Mono/Tiles/planet/water.rsi/water7.png
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#1831 Let the Breaching Hammer Pry Doors
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
Labels: YML, size/S, No C#

#1828 Some Flora for Your Desert
  Resources/Prototypes/_Mono/Entities/Objects/Misc/flora.yml
  Resources/Prototypes/_Mono/Entities/Objects/Misc/flora_yield.yml
  Resources/Prototypes/_Mono/Planets/permanent_planet.yml
  Resources/Textures/_Mono/Objects/Consumable/Food/piluma.rsi/meta.json
  Resources/Textures/_Mono/Objects/Consumable/Food/piluma.rsi/produce.png
  Resources/Textures/_Mono/Objects/Flora/flora.rsi/bush1.png
  Resources/Textures/_Mono/Objects/Flora/flora.rsi/bush2.png
  Resources/Textures/_Mono/Objects/Flora/flora.rsi/bush3.png
  Resources/Textures/_Mono/Objects/Flora/flora.rsi/meta.json
  Resources/Textures/_Mono/Objects/Flora/flora_32x.rsi/meta.json
  Resources/Textures/_Mono/Objects/Flora/flora_32x.rsi/stalkybush_1.png
  Resources/Textures/_Mono/Objects/Flora/flora_32x.rsi/stalkybush_2.png
  Resources/Textures/_Mono/Objects/Flora/flora_32x.rsi/stalkybush_3.png
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#1833 Halcyon Power Fix Again Oh God
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
Labels: YML, No C#, size/XL

#1814 Mercgun Rebalance, Again
  Resources/Changelog/Monolith.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/merc_weapons.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/mercenary_techfab.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/mag-1.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/mag-2.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/mag-3.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/mag-4.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/mag-5.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/knallstock.rsi/wielded-inhand-right.png
Labels: S: Untriaged, YML, size/M, Sprites, No C#, Docs, S: Needs Review

#1841 Fixes Urgents
  Content.Client/_Crescent/ShipShields/ShipShieldOverlay.cs
Labels: S: Untriaged, C#, size/XS

#1842 Adds Ftl Mass Mechanic to Guidebook
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
Labels: S: Untriaged, size/XS, No C#, Docs

#1657 Adding the PB Piva, a Small and Agile Cargo Ship!
  Resources/Maps/_Mono/Shuttles/piva.yml
  Resources/Prototypes/_Mono/Shipyard/piva.yml
Labels: S: Untriaged, YML, size/L, No C#

#1843 Massively Buffs Missile Acceleration
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/asm_220_ammo.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/projectiles.yml
Labels: YML, size/S, No C#

#1845 Planet Construction Better Yes
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/_Mono/Planets/PlanetMapComponent.cs
  Resources/Maps/_Mono/surface_outpost_desert.yml
  Resources/Prototypes/Entities/Markers/tile.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/Tiles/space.yml
  Resources/Prototypes/_Mono/Parallaxes/planet.yml
  Resources/Prototypes/_Mono/Recipes/Construction/Graphs/roofing.yml
  Resources/Prototypes/_Mono/Shipyard/Base/base.yml
  Resources/Textures/_Mono/Tiles/planet/Asteroid/sand_double_edge.png
  Resources/Textures/_Mono/Tiles/planet/Asteroid/sand_single_edge.png
  Resources/Textures/_Mono/Tiles/planet/bedrock.png
Labels: S: Untriaged, C#, YML, size/M

#1846 Letoferal Infection Rework
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Locale/en-US/_Mono/metabolizer-types.ftl
  Resources/Prototypes/_Mono/Body/Organs/chimera.yml
  Resources/Prototypes/_Mono/Body/Parts/chimera.yml
  Resources/Prototypes/_Mono/Body/Prototypes/chimera.yml
  Resources/Prototypes/_Mono/Polymorphs/polymorph.yml
  Resources/Prototypes/_Mono/Reagents/letoferol.yml
Labels: S: Untriaged, C#, YML, size/M, FTL

#1849 Chimera Organs, Chimera Guidebook
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Prototypes/_Mono/Body/Organs/chimera.yml
  Resources/Prototypes/_Mono/Body/Prototypes/chimera.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Chimera/chimera.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Chimera/chimera_base.yml
  Resources/Prototypes/_Mono/Guidebook/letoferol.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
  Resources/ServerInfo/_Mono/Guidebook/Chimera.xml
  Resources/Textures/Mobs/Species/Slime/organs.rsi/meta.json
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/brain-inhand-left.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/brain-inhand-right.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/brain.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/heart-inhand-left.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/heart-inhand-right.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/heart-off.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/heart-on.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/meta.json
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/pheropod-inhand-left.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/pheropod-inhand-right.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/pheropod.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/spike-inhand-left.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/spike-inhand-right.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/spike.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/stomach-inhand-left.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/stomach-inhand-right.png
  Resources/Textures/_Mono/Mobs/Chimera/organs.rsi/stomach.png
Labels: YML, size/M, Sprites, FTL, No C#, Docs

#1850 Stop Mobs Randomly Despawning
  Content.Server/_NF/Salvage/NFSalvageMobRestrictionsComponent.cs
Labels: C#, size/XS

#1853 Claymore Balacing Update
  Resources/Maps/_Mono/Shuttles/claymore.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/claymore.yml
  Resources/Prototypes/_Mono/Shipyard/claymore.yml
Labels: S: Untriaged, YML, No C#, size/XL

#1854 Some Stuff
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/lancelot.yml
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/polaris.yml
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/ruin_tanker.yml
  Resources/Prototypes/_Mono/PointsOfInterest/Dungeon/zenith_poi.yml
Labels: YML, No C#

#1857 Desert Planet Improvements
  Resources/Prototypes/Recipes/Lathes/Packs/ore.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Planet/flora.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Planet/flora_yield.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Planet/kiln.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Planet/turf.yml
  Resources/Prototypes/_Mono/Planets/fauna.yml
  Resources/Prototypes/_Mono/Planets/permanent_planet.yml
  Resources/Prototypes/_Mono/tags.yml
  Resources/Textures/_Mono/Objects/Misc/desert_sand.rsi/icon.png
  Resources/Textures/_Mono/Objects/Misc/desert_sand.rsi/meta.json
  Resources/Textures/_Mono/Objects/Misc/desert_stone.rsi/icon.png
  Resources/Textures/_Mono/Objects/Misc/desert_stone.rsi/meta.json
  Resources/Textures/_Mono/Structures/Machines/forge.rsi/icon.png
  Resources/Textures/_Mono/Structures/Machines/forge.rsi/inserting.png
  Resources/Textures/_Mono/Structures/Machines/forge.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#1859 Constructible Containment Field Gens
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Mono/Damage/modifier_sets.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Circuitboards/Machine/misc.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/electronics.yml
Labels: S: Untriaged, YML, size/S, No C#

#1861 Fixes Being Unable to Sell Mechs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
Labels: S: Untriaged, C#

#1864 Make Sand Stack, because Its Really Annoying
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Planet/turf.yml
  Resources/Prototypes/_Mono/Stacks/sand.yml
  Resources/Textures/Structures/Hydroponics/misc.rsi/meta.json
  Resources/Textures/Structures/Hydroponics/misc.rsi/sand.png
Labels: S: Untriaged, YML, size/M, Sprites, size/S, No C#

#1863 Gas Crystallizer Port
  Content.Client/_Funkystation/Atmos/CrystallizerBoundUserInterface.cs
  Content.Client/_Funkystation/Atmos/CrystallizerWindow.xaml
  Content.Client/_Funkystation/Atmos/CrystallizerWindow.xaml.cs
  Content.Server/_Funkystation/Atmos/Components/CrystallizerComponent.cs
  Content.Server/_Funkystation/Atmos/EntitySystems/AdjustAirOnTriggerSystem.cs
  Content.Server/_Funkystation/Atmos/EntitySystems/CrystallizerSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/_Funkystation/Atmos/Components/SharedCrystallizerComponent.cs
  Content.Shared/_Funkystation/Atmos/Crystals/Components/AdjustAirOnTriggerComponent.cs
  Content.Shared/_Funkystation/Atmos/Prototypes/CrystallizerRecipePrototype.cs
  Resources/Locale/en-US/_Mono/materials/materials.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Funkystation/Entities/Structures/Machines/Atmospherics/crystallizer.yml
  Resources/Prototypes/_Mono/Atmospherics/crystallizer.yml
  Resources/Prototypes/_Mono/Entities/Materials/materials.yml
  Resources/Prototypes/_Mono/Stacks/Materials/Sheets/sheets.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/meta.json
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/off.png
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/on.png
  Resources/Textures/_Funkystation/Structures/Machines/crystallizer.rsi/panel.png
  Resources/Textures/_Mono/Objects/Materials/iridite.rsi/iridite-inhand-left.png
  Resources/Textures/_Mono/Objects/Materials/iridite.rsi/iridite-inhand-right.png
  Resources/Textures/_Mono/Objects/Materials/iridite.rsi/iridite.png
  Resources/Textures/_Mono/Objects/Materials/iridite.rsi/iridite_2.png
  Resources/Textures/_Mono/Objects/Materials/iridite.rsi/iridite_3.png
  Resources/Textures/_Mono/Objects/Materials/iridite.rsi/meta.json
Labels: S: Untriaged, UI, C#, YML, size/L, Sprites, FTL, S: Needs Review

#1868 Cortical Borer Fixes/Changes
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Mono/CorticalBorer/CorticalBorerSystem.cs
  Content.Shared/_Mono/CorticalBorer/Components/CorticalBorerComponent.cs
  Content.Shared/_Mono/CorticalBorer/SharedCorticalBorerSystem.cs
  Resources/Prototypes/_Mono/Alerts/cortical_borer.yml
  Resources/Prototypes/_Mono/CorticalBorer/cortical_borer_species.yml
Labels: S: Untriaged, C#, YML, size/S

#1872 Fixes Build Testing
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
  Resources/Maps/Test/empty.yml
Labels: S: Untriaged, C#, YML, size/S

#1876 Change Cortical Borer Control to 5 Minute Cooldown
  Resources/Prototypes/_Mono/Actions/cortical_borer.yml
Labels: S: Untriaged, YML, No C#

#1877 10 Hour Playtime Requirement for Borers
  Resources/Prototypes/_Mono/CorticalBorer/cortical_borer_species.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1881 Voidboots
  Resources/Locale/en-US/_Mono/research/experimental.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/Lockers/salvmaint_locker.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/equipment.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/equipment.yml
  Resources/Prototypes/_Mono/Research/experimental.yml
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/equipped-FEET-vox.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/equipped-FEET.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/icon-on.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/on-equipped-FEET.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/on-inhand-left.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/on-inhand-right.png
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#1885 Less Obnoxious Vespera
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/launcher.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1891 Fix Lathe Upgrade Kits
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: YML, size/XS, No C#

#1890 Language Fix
  Content.Server/_Mono/Jobs/AddLanguageSpecial.cs
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_EinsteinEngines/Traits/languages.yml
  Resources/Prototypes/_Mono/Roles/Jobs/TSFMC/engineer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/security_guard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/nfdetective.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: S: Untriaged, C#, YML, size/M, S: Needs Review

#1886 The Thing
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Server/_Mono/CorticalBorer/CorticalBorerSystem.Abilities.cs
  Resources/Prototypes/_Mono/CorticalBorer/cortical_borer_species.yml
Labels: C#, YML, size/S

#1893 Parabellum Update
  Resources/Maps/_Mono/Shuttles/parabellum.yml
Labels: S: Untriaged, YML, size/L, No C#

#1897 Cortical Borer Ghost and Speach Fix
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/_Mono/CorticalBorer/CorticalBorerSystem.cs
  Resources/Prototypes/_Mono/CorticalBorer/cortical_borer_species.yml
Labels: C#, YML, size/S

#1895 Fix Automation Upgrade Kit
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1904 Assorted Mech and Vehicle Fixes
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/mechs.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
Labels: YML, size/S, No C#

#1908 Grid Cleanup More
  Content.Server/Shuttles/Systems/GridCleanupSystem.cs
Labels: C#, size/XS

#1889 Microwave Buff
  Resources/Prototypes/Nyanotrasen/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
Labels: S: Untriaged, YML, size/M, No C#

#1899 Small Code Fix
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: S: Untriaged, C#, size/S

#1909 Forgot Ripley, Speedmerge Please
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: YML, size/XS, No C#

#1910 Port Goob Inline Atmos Devices
  Content.Server/Atmos/EntitySystems/HeatExchangerSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_trinary.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/utilities.yml
  Resources/Textures/_Goobstation/Structures/Piping/inlinegasfilter.rsi/gasFilter.png
  Resources/Textures/_Goobstation/Structures/Piping/inlinegasfilter.rsi/gasFilterOn.png
  Resources/Textures/_Goobstation/Structures/Piping/inlinegasfilter.rsi/meta.json
  Resources/Textures/_Goobstation/Structures/Piping/inlineradiator.rsi/heInlineBend.png
  Resources/Textures/_Goobstation/Structures/Piping/inlineradiator.rsi/heInlineStraight.png
  Resources/Textures/_Goobstation/Structures/Piping/inlineradiator.rsi/meta.json
Labels: S: Untriaged, C#, YML, size/M, Sprites

#1906 Sentinel
  Resources/Maps/_Mono/Shuttles/Nfsd/sentinel.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/sentinel.yml
Labels: S: Untriaged, YML, No C#, size/XL

#1916 Unique USSP Language
  Resources/Locale/en-US/_EinsteinEngines/chat/managers/chat-language.ftl
  Resources/Locale/en-US/_EinsteinEngines/language/languages.ftl
  Resources/Prototypes/_Mono/Language/ussp.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/commissar.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/corporal.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/medic.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/rifleman.yml
  Resources/Prototypes/_Mono/Roles/Jobs/UnionOfSovietSocialistPlanets/sergeant.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#1921 Refactor Item Miners
  Content.Server/_Goobstation/ItemMiner/Components/PlanetMinerComponent.cs
  Content.Server/_Goobstation/ItemMiner/Components/PowerConsumerMinerComponent.cs
  Content.Server/_Goobstation/ItemMiner/Systems/ItemMinerSystem.cs
  Content.Server/_Goobstation/ItemMiner/Systems/PlanetMinerSystem.cs
  Content.Server/_Goobstation/ItemMiner/Systems/PowerConsumerMinerSystem.cs
  Content.Server/_Mono/Miner/ItemGeneratorComponent.cs
  Content.Server/_Mono/Miner/ItemGeneratorSystem.cs
  Content.Shared/_Goobstation/ItemMiner/ItemMinerComponent.cs
  Content.Shared/_Goobstation/ItemMiner/ItemMinerEvents.cs
  Resources/Prototypes/_Mono/Entities/Structures/Machines/disk_printer.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/laser_drill.yml
Labels: S: Untriaged, C#, YML, size/M

#1926 Fix EVA Suit Bundle Testfail
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
Labels: S: Untriaged, YML, size/S, No C#

#1924 New Tumour Fighters
  Resources/Maps/_Mono/Shuttles/Carrier/qj270.yml
  Resources/Maps/_Mono/Shuttles/Carrier/qj490.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/tumour.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/light_munitions_launcher.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/qj270.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/qj490.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/lightmunitionsbay.rsi/space_artillery.png
Labels: S: Untriaged, YML, size/L, Sprites, No C#

#1856 Scale Shuttle Max Speed From TWR
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/capital_thrusters.yml
Labels: S: Untriaged, UI, C#, YML, size/S

#1932 EMERGENCY FIX
  Resources/Prototypes/_Mono/Research/debug.yml
Labels: YML, size/XS, No C#

#1936 (Rebalance Branch) Sprites 2
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie_inhands_32x.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie_inhands_32x.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie_inhands_32x.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie_inhands_32x.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie_inhands_32x.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie_inhands_32x.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie_inhands_32x.rsi/wielded-inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter_inhands_32x.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter_inhands_32x.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter_inhands_32x.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter_inhands_32x.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter_inhands_32x.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter_inhands_32x.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter_inhands_32x.rsi/wielded-inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/wielded-inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-1.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-2.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-3.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-4.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-5.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd_inhands_32x.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd_inhands_32x.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd_inhands_32x.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd_inhands_32x.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd_inhands_32x.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd_inhands_32x.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd_inhands_32x.rsi/wielded-inhand-right.png
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#1938 (Rebalance) Kinda Port RMC Wield Delay
  Content.Shared/_RMC14/Wieldable/Components/WieldDelayComponent.cs
  Content.Shared/_RMC14/Wieldable/Events/GetWieldDelayEvent.cs
  Content.Shared/_RMC14/Wieldable/RMCWieldableSystem.cs
  Resources/Locale/en-US/_RMC14/weapons/guns.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
Labels: S: Untriaged, C#, YML, size/M, FTL

#1937 Nerf Reagent Fires
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
Labels: S: Untriaged, C#, size/XS

#1949 (Rebalance Branch) TSF ERTrole Stuff
  Resources/Locale/en-US/_Mono/ghostroles/marsoc.ftl
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Ghostroles/MARSOC/jobs.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Ghostroles/MARSOC/loadouts.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Ghostroles/MARSOC/roles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/pda.yml
Labels: YML, size/M, FTL, No C#

#1950 Fix GravityGridTest
  Content.IntegrationTests/Tests/GravityGridTest.cs
Labels: C#, size/S

#1953 Fix TryAllReactionsTest
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1958 Fix This Stupid Chimera HTN Shit
  Resources/Prototypes/_Mono/Entities/Mobs/Chimera/biomass.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Chimera/chimera_base.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Chimera/htn.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Chimera/modifier_sets.yml
  Resources/Prototypes/_Mono/Polymorphs/polymorph.yml
Labels: S: Untriaged, YML, size/M, No C#

#1961 Delete Planet, Die
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: S: Untriaged, YML, size/XS, No C#

#1959 Plastitanium Buildable Yay
  Resources/Locale/en-US/_Mono/materials/materials.ftl
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/_Mono/Atmospherics/crystallizer.yml
  Resources/Prototypes/_Mono/Entities/Materials/materials.yml
  Resources/Prototypes/_Mono/Recipes/Construction/structures.yml
  Resources/Prototypes/_Mono/Stacks/Materials/Sheets/sheets.yml
  Resources/Textures/_Mono/Objects/Materials/plastitanium.rsi/meta.json
  Resources/Textures/_Mono/Objects/Materials/plastitanium.rsi/plastitanium-inhand-left.png
  Resources/Textures/_Mono/Objects/Materials/plastitanium.rsi/plastitanium-inhand-right.png
  Resources/Textures/_Mono/Objects/Materials/plastitanium.rsi/plastitanium.png
  Resources/Textures/_Mono/Objects/Materials/plastitanium.rsi/plastitanium_2.png
  Resources/Textures/_Mono/Objects/Materials/plastitanium.rsi/plastitanium_3.png
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#1972 Powercreep
  Resources/Maps/_Mono/Shuttles/Capitals/flyssa.yml
  Resources/Prototypes/_Mono/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Mono/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/shield_generator.yml
  Resources/Prototypes/_Mono/Entities/Structures/walls.yml
  Resources/Prototypes/_Mono/Shipyard/Capitals/flyssa.yml
Labels: S: Untriaged, YML, size/L, No C#

#1969 Archer & Mclass Visual Updates, Removing Deprecated Ships
  Resources/Maps/_Mono/Shuttles/Expedition/archer_expd.yml
  Resources/Maps/_Mono/Shuttles/Expedition/praetorian_expd.yml
  Resources/Maps/_Mono/Shuttles/aclass.yml
  Resources/Maps/_Mono/Shuttles/akasono.yml
  Resources/Maps/_Mono/Shuttles/archer.yml
  Resources/Maps/_Mono/Shuttles/mclass.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/archer_expd.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/praetorian_expd.yml
  Resources/Prototypes/_Mono/Shipyard/aclass.yml
  Resources/Prototypes/_Mono/Shipyard/akasono.yml
Labels: S: Untriaged, YML, No C#, size/XL, S: Needs Review

#1975 Real Autopulser Starsector, Shipgun HP Buffs
  Resources/Audio/_Mono/Weapons/Guns/Gunshots/autopulse_laser_fire_01.ogg
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Projectiles/muzzleflashes.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/charon_launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/light_munitions_ammo.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/light_munitions_launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/projectiles.yml
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/energyplasma.png
  Resources/Textures/_Impstation/Objects/Weapons/Guns/Projectiles/muzzleflashes.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t54.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t54.rsi/space_artillery.png
Labels: S: Untriaged, YML, size/M, Sprites, Audio, No C#

#1984 Buildable Gaslocks and Gas Drills
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/engineering_techfab.yml
Labels: S: Untriaged, YML, size/S, No C#

#1981 Prevent Vgroids/Etc From Despawning with Players Nearby
  Content.Server/_Mono/StationEvents/AutoExtendRuleComponent.cs
  Content.Server/_Mono/StationEvents/AutoExtendRuleSystem.cs
  Content.Server/_NF/StationEvents/Components/BluespaceErrorRuleComponent.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
Labels: S: Untriaged, C#, size/M

#1986 Fix Crossmap Shortband
  Content.Server/Radio/EntitySystems/RadioSystem.cs
Labels: S: Untriaged, C#, size/XS

#1971 Gas Multifilter Port
  Content.Client/Atmos/UI/GasFilterBoundUserInterface.cs
  Content.Client/Atmos/UI/GasFilterWindow.xaml
  Content.Client/Atmos/UI/GasFilterWindow.xaml.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasFilterComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Shared/Atmos/Piping/Trinary/Components/SharedGasFilterComponent.cs
  Resources/Locale/en-US/components/gas-filter-component.ftl
Labels: S: Untriaged, UI, C#, size/M, FTL

#1946 The Promise-MED, a Med Ship Equipped with All the Stuff a Med Ship Would Want + Spacious Crew Quarters
  Resources/Maps/_Mono/Shuttles/promise.yml
  Resources/Prototypes/_Mono/Shipyard/promise.yml
Labels: YML, No C#, size/XL, S: Needs Review

#1980 Solar Panel Partial Obstruction
  Content.Server/_NF/Solar/Components/NFSolarPanelComponent.cs
  Content.Server/_NF/Solar/EntitySystems/NFPowerSolarSystem.cs
Labels: S: Untriaged, C#, size/S

#1988 Oh Well (Gatfruit Nerf^2)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: YML, size/XS, No C#

#1989 Artemis Wiring Fix
  Resources/Maps/_Mono/Shuttles/artemis.yml
Labels: S: Untriaged, YML, size/S, No C#

#1994 Nerf Ballistic/Laser Turrets
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
Labels: S: Untriaged, YML, size/S, No C#

#1987 Banner Grid Claiming
  Content.Server/_Mono/GridClaimer/ClaimableGridComponent.cs
  Content.Server/_Mono/GridClaimer/GridClaimerComponent.cs
  Content.Server/_Mono/GridClaimer/GridClaimerSystem.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
  Resources/Locale/en-US/_Mono/grid-claimer/grid-claimer.ftl
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_Mono/Guidebook/misc.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_salvage_events.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/ServerInfo/_Mono/Guidebook/Misc.xml
  Resources/ServerInfo/_Mono/Guidebook/Misc/GridClaimer.xml
Labels: S: Untriaged, C#, YML, size/M, FTL, Docs

#1995 Rogue Secondary Outpost (Ship)
  Resources/Locale/en-US/_Mono/holopad/holopad.ftl
  Resources/Locale/en-US/_Mono/poi/stations.ftl
  Resources/Maps/_Mono/POI/jupiter.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Mono/Entities/Markers/Spawners/mechs.yml
  Resources/Prototypes/_Mono/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_Mono/PointsOfInterest/jupiter.yml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Conflict/Four_PortStriking.xml
Labels: S: Untriaged, YML, FTL, No C#, size/XL, Docs

#1978 Mandatory Frag Rules
  Resources/Prototypes/_Mono/Guidebook/rules.yml
  Resources/ServerInfo/Intro.txt
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/_Mono/Guidebook/Rules/MonolithRuleset.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Roleplay/Eight_FactionRoles.xml
  Resources/ServerInfo/_Mono/Guidebook/Rules/Three_CheatingExploits.xml
Labels: S: Untriaged, YML, size/M, No C#, Docs, DO NOT MERGE

#1957 HES-Canister, an Entry Level Gas Mining Ship
  Resources/Maps/_Mono/Shuttles/canister.yml
  Resources/Prototypes/_Mono/Shipyard/canister.yml
Labels: YML, size/L, No C#, S: Needs Review

#1873 Drunk Piloting Update (Beer Hat)
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/Hats/unsa.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/head.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/Clothing/Head/Hats/beerhat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beerhat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beerhat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beerhat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beerhat.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#1758 Adding the Leaf, a MED Botany/Chemistry Ship for Medical Players
  Resources/Maps/_Mono/Shuttles/leaf.yml
  Resources/Prototypes/_Mono/Shipyard/leaf.yml
Labels: S: Untriaged, YML, No C#, size/XL, S: Needs Review

#2013 AllComponentsOneToOneDeleteTest Fix
  Content.Server/_Mono/CorticalBorer/CorticalBorerInfestedSystem.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
Labels: S: Untriaged, C#, size/S

#2016 Out-of-Setting Poster Removal
  Resources/Maps/_NF/POI/medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: S: Untriaged, YML, size/M, No C#, Map-POI

#1990 (REBALANCE OP) Loadout + Vender Changes
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/registered.yml
  Resources/Prototypes/_Mono/Loadouts/Mercenary/gun.yml
  Resources/Prototypes/_Mono/Loadouts/Rogue/Specifics/gun.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/Specifics/gun.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/role_loadouts_tsfmc.yml
  Resources/Prototypes/_Mono/Loadouts/gun.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
Labels: S: Untriaged, UI, C#, YML, size/M, Sprites, FTL, No C#

#2026 Craftable Shooting Targets
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/_Mono/Recipes/Construction/Graphs/furniture/targets.yml
  Resources/Prototypes/_Mono/Recipes/Construction/furniture.yml
Labels: S: Untriaged, YML, size/M, No C#

#2025 Wizden #37466 Port: Ensure Large Entities Don't Get Stuck on Conveyor Belt Corners
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
Labels: S: Untriaged, C#, size/S

#2023 Ship Telecommunications Start with Shortband
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
Labels: C#, YML, size/S, No C#

#2027 New Blips Hotfix
  Content.Client/_Mono/Radar/RadarBlipsSystem.cs
Labels: S: Untriaged, C#

#2017 Poncho Port
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Neck/ponchos.yml
  Resources/Prototypes/_Mono/Loadouts/Rogue/neck.yml
  Resources/Prototypes/_Mono/Loadouts/Rogue/role_loadouts_rogue.yml
  Resources/Prototypes/_Mono/Loadouts/Rogue/universal_groups.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/neck.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/arctic.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/arctic.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/arctic.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/arctic.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/arctic.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/black.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/black.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/black.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/black.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/black.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blacksmall.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blacksmall.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blacksmall.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blacksmall.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blacksmall.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/blackstripe.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/pinksmall.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/pinksmall.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/pinksmall.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/pinksmall.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/pinksmall.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/purplesmall.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/purplesmall.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/purplesmall.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/purplesmall.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/purplesmall.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/redsmall.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/redsmall.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/redsmall.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/redsmall.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/redsmall.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/syndicate.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/syndicate.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/syndicate.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/syndicate.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/syndicate.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/whitesmall.rsi/equipped-NECK.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/whitesmall.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/whitesmall.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/whitesmall.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Neck/Ponchos/whitesmall.rsi/meta.json
Labels: YML, size/M, Sprites, No C#

#2012 (Rebalance-Ops) New Ammo Recipes
  Resources/Locale/en-US/_Mono/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_Mono/research/faction-universal.ftl
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Department/science.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Mono/Catalogs/Fills/Lockers/salvmaint_locker.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/4.6x30mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/45_ACP.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/45_magnum.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/5.7x28mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/7.62x51mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/9x19mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/45_magnum.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/research.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/disk_printer.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Recipes/Categories/ammo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/12_gauge.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/4_gauge.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/FullyPowered_7.62x51mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/FullyPowered_7.62x54mmR.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/Intermediate_45_magnum.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/Intermediate_5.56x45mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/Intermediate_7.62x39mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_4.6x30mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_45_ACP.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_5.7x28mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_9x19mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/BaseAmmo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/ammo.yml
  Resources/Prototypes/_Mono/Research/Rogue/rogue_weapons.yml
  Resources/Prototypes/_Mono/Research/TSF/tsf_weapons.yml
  Resources/Prototypes/_Mono/Research/USSP/ussp_weapons.yml
  Resources/Prototypes/_Mono/Research/Universal/prerequisites.yml
  Resources/Prototypes/_Mono/Research/Universal/shipgun_ammo.yml
  Resources/Prototypes/_Mono/Research/Universal/smallarms.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/Research.rsi/T1.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/Research.rsi/T2.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/Research.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#2030 Upgradeable Scrap Processor
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
Labels: S: Untriaged, YML, size/S, No C#

#2032 Shiptest Fixes
  Content.Shared/_NF/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Maps/_Mono/POI/Dungeons/lancelot.yml
  Resources/Maps/_Mono/POI/Dungeons/ruin_tanker.yml
  Resources/Maps/_Mono/POI/cove.yml
  Resources/Maps/_Mono/POI/jupiter.yml
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
  Resources/Maps/_Mono/POI/usspbaikal.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/vulture.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/splinter.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/welder.yml
  Resources/Maps/_Mono/Shuttles/Syndicate/hunter.yml
  Resources/Maps/_Mono/Shuttles/USSP/Ledokol/Attatchments/kupol.yml
  Resources/Maps/_Mono/Shuttles/USSP/Ledokol/ledokol.yml
  Resources/Maps/_Mono/Shuttles/USSP/akula.yml
  Resources/Maps/_Mono/Shuttles/USSP/gruznyk.yml
  Resources/Maps/_Mono/Shuttles/USSP/sulak.yml
  Resources/Maps/_Mono/Shuttles/arribane.yml
  Resources/Maps/_Mono/Shuttles/bratan.yml
  Resources/Maps/_Mono/Shuttles/brute.yml
  Resources/Maps/_Mono/Shuttles/canister.yml
  Resources/Maps/_Mono/Shuttles/mcchicken.yml
  Resources/Maps/_Mono/Shuttles/olympus.yml
  Resources/Maps/_Mono/Shuttles/phaeron.yml
  Resources/Maps/_Mono/Shuttles/shareholder.yml
  Resources/Maps/_Mono/Shuttles/sunrise.yml
  Resources/Maps/_Mono/Shuttles/tokarev.yml
  Resources/Maps/_Mono/Shuttles/windreign.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/defector.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/scorpion.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/tethys.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/dagger.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/legionnaire.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/spear.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tarantula.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tumour.yml
  Resources/Prototypes/_Mono/Shipyard/canister.yml
  Resources/Prototypes/_Mono/Shipyard/mcchicken.yml
  Resources/Prototypes/_Mono/Shipyard/twilight.yml
Labels: C#, YML, size/L, Map-POI

#2029 More Test Fails
  Content.IntegrationTests/Tests/Doors/AirlockPryingTest.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
  Resources/Prototypes/_Mono/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Mono/Entities/Objects/Consumable/Food/steak.yml
  Resources/nf_migration.yml
Labels: S: Untriaged, C#, YML, size/M

#2036 Port Goob Borg Stuff
  Content.Client/Construction/ConstructionSystem.cs
  Content.Client/_Goobstation/Construction/ConstructionComponent.cs
  Content.Client/_Goobstation/DragDrop/GoobDragDropSystem.cs
  Content.Server/Construction/Components/ConstructionComponent.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Ghost/Roles/ToggleableGhostRoleSystem.cs
  Content.Server/_Goobstation/DragDrop/GoobDragDropSystem.cs
  Content.Shared/Construction/Events.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/_Goobstation/Construction/SharedConstructionComponent.cs
  Content.Shared/_Goobstation/DragDrop/DragDropTargetableComponent.cs
  Content.Shared/_Goobstation/DragDrop/SharedGoobDragDropSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Mechs/mechs.yml
Labels: S: Untriaged, C#, YML, size/M

#2038 Craftable Ore Crabs
  Resources/Prototypes/_Mono/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/_Mono/Recipes/Construction/Graphs/Misc/orecrab.yml
  Resources/Prototypes/_Mono/Recipes/Construction/orecrab.yml
Labels: YML, size/M, No C#

#2045 Rebalance Ops - Sprite Fixes
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/ak502.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/annie.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556.rsi/wielded-inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556_inhands_32x.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556_inhands_32x.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556_inhands_32x.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556_inhands_32x.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556_inhands_32x.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556_inhands_32x.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/xlr556_inhands_32x.rsi/wielded-inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/ak220.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/SMGs/drozd.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Snipers/ak410.rsi/base.png
Labels: YML, Sprites, No C#

#2048 Weightless Test Fix
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
Labels: C#, size/S

#2047 Fix Most of the Power Tests
  Content.IntegrationTests/Tests/Power/PowerTest.cs
Labels: S: Untriaged, C#, size/S

#2049 Spawnpoint Test Fixes
  Resources/Maps/_Mono/Outpost/colonial.yml
  Resources/Maps/_Mono/Test/dev_map.yml
Labels: S: Untriaged, YML, size/M, No C#

#2037 Fix Lathes
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/_DV/Lathe/LatheUpgradeSystem.cs
Labels: S: Untriaged, C#, size/S

#2041 Reverts Gruznyk Change Made Prior (to the Belts) and Small Changes to Gruznyk.
  Resources/Maps/_Mono/Shuttles/USSP/gruznyk.yml
Labels: S: Untriaged, YML, size/M, No C#

#2051 Simple Fix Really
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/Rogues/ammo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/ammo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/USSP/ammo.yml
  Resources/Prototypes/_Mono/Research/experimental.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/mercenary_techfab.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
Labels: S: Untriaged, YML, size/M, No C#

#2052 Research Test Now Accounts for Tech Disks
  Content.IntegrationTests/Tests/ResearchTest.cs
Labels: C#, size/S

#2055 Fix UninitializedSaveTest
  Content.Server/Advertise/EntitySystems/AdvertiseSystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.Startup.cs
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/_Goobstation/Body/Organs/yowie.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/autodoc.yml
Labels: S: Untriaged, C#, YML, size/M

#2057 Workflow Edits(Don't Merge yet Testing)
  .github/workflows/build-map-renderer.yml
  .github/workflows/nf-mapchecker.yml
  .github/workflows/nf-shipyard-tests.yml
  .github/workflows/test-packaging.yml
  .github/workflows/update-credits.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: YML, size/M, No C#

#2061 Uncoal Merc Guns
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Mono/Research/arsenal.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
Labels: YML, size/S, No C#

#2060 Refactor Toggleable Blips/Add Blips to Borgs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/_Mono/Radar/ToggleableSignatureComponent.cs
  Content.Server/_Mono/Radar/ToggleableSignatureSystem.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: S: Untriaged, C#, YML, size/M

#2059 Fix Factorio Machine Construction
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Circuitboards/machine.yml
Labels: YML, size/S, No C#

#2056 Add Dock Names to USSP Baikal
  Resources/Maps/_Mono/POI/usspbaikal.yml
Labels: S: Untriaged, YML, size/S, No C#

#2064 RebalanceOps PMC Loadouts Cleanup
  Resources/Locale/en-US/_Mono/loadout.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/registered.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Mono/Loadouts/ColonialOutpost/gun.yml
  Resources/Prototypes/_Mono/Loadouts/Contractor/gun.yml
  Resources/Prototypes/_Mono/Loadouts/Mercenary/gun.yml
  Resources/Prototypes/_Mono/Loadouts/gun.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: YML, size/M, FTL, No C#

#2054 Adds Blueprints to Research Test Too, Unbreaks Plastitanium Too Cheap (DO NOT MERGE YET)
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.IntegrationTests/Tests/ResearchTest.cs
  Content.IntegrationTests/Tests/_NF/ShipyardTests.cs
  Content.Shared/_NF/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/charon_launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/launcher.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/prowler.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/sable.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/spyglass.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/tethys.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/vulture.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/ample.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/antlion.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/qj270.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/qj490.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/duran.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/dagger.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/legionnaire-tov.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/legionnaire.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/spear.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tarantula.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tumour.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/welder.yml
  Resources/Prototypes/_Mono/Shipyard/Syndicate/hydra.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/Rams/kupol.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/gadyuka.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/gruznyk.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/sekunda.yml
  Resources/Prototypes/_Mono/Shipyard/autumn.yml
  Resources/Prototypes/_Mono/Shipyard/borer.yml
  Resources/Prototypes/_Mono/Shipyard/canister.yml
  Resources/Prototypes/_Mono/Shipyard/jitterbug.yml
  Resources/Prototypes/_Mono/Shipyard/mcchicken.yml
  Resources/Prototypes/_Mono/Shipyard/piva.yml
  Resources/Prototypes/_Mono/Shipyard/rhea.yml
  Resources/Prototypes/_Mono/Shipyard/sabine.yml
  Resources/Prototypes/_Mono/Shipyard/shirokami.yml
  Resources/Prototypes/_Mono/Shipyard/twilight.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/blueprints.yml
Labels: C#, YML, size/M

#2073 Grav Test Fix
  Content.IntegrationTests/Tests/GravityGridTest.cs
Labels: C#

#2074 Dispenser Test Fix
  Content.IntegrationTests/Tests/Chemistry/DispenserTest.cs
Labels: S: Untriaged, C#, size/S

#2072 Missile Tweaks Again
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/projectiles.yml
Labels: YML, size/S, No C#
