Repository Monolith-Station/Monolith, pull requests merged in 2025-03, with the labels that each got.

#95 more ships!!
  Resources/Maps/_Mono/AdmemeMaps/Gen3/cfl.yml
  Resources/Maps/_Mono/AdmemeMaps/NanoTrasen/Gen3/hammerhead.yml
  Resources/Maps/_Mono/AdmemeMaps/NanoTrasen/Gen3/sphel.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/50cal.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Walls/walls.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t35.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t35.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/plasmashot.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/plasmashot.rsi/plasmashot.png
Labels: Changes: Map, Changes: No C#, Changes: Sprites, S: Untriaged, size/XL

#96 Fixing the ships
  Resources/Maps/_Mono/AdmemeMaps/Gen3/cfl.yml
  Resources/Maps/_Mono/AdmemeMaps/NanoTrasen/Gen3/hammerhead.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/L

#97 fix abductor walls
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Shitmed/Tiles/abductor.yml
Labels: Changes: No C#, S: Untriaged, size/S

#100 Blips Bugfix + Mass Scanner + Blip Shapes
  Content.Client/Shuttles/BUI/RadarConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
  Content.Client/_Mono/Radar/RadarBlipsSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/_Mono/Radar/RadarBlipComponent.cs
  Content.Server/_Mono/Radar/RadarBlipSystem.cs
  Content.Shared/_Mono/Radar/RadarMessages.cs
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/50cal.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: Changes: UI, S: Untriaged, size/M

#102 Possible Projectiles Hotfix
  Content.Server/_Mono/Radar/RadarBlipSystem.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/_Goobstation/Wizard/Projectiles/HomingProjectileSystem.cs
Labels: S: Untriaged, size/S

#103 Yet another plasma buff
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
Labels: Changes: No C#, size/S

#104 FTL Drive
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_Mono/Ships/FTLDriveSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Content.Shared/_Mono/Ships/FTLDriveComponent.cs
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/Entities/Structures/Machines/ftldrive.yml
Labels: S: Untriaged, size/M

#105 Shield Hotfix 2
  Content.Server/_Mono/ShipShield/GridShieldGeneratorSystem.cs
  Content.Server/_Mono/ShipShield/GridShieldProtectionSystem.cs
  Content.Shared/_Mono/ShipShield/GridShieldGeneratorComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectedEntityComponent.cs
  Content.Shared/_Mono/ShipShield/GridShieldProtectionComponent.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-greenshift.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Structures/Machines/ftldrive.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: S: Untriaged, size/M

#106 Yeag
  Resources/Locale/en-US/_Mono/ghostroles/abductor.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Belt/belts.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/alien.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Battery/plasmarifle.yml
  Resources/Prototypes/_Mono/Roles/GhostRoles/Fun/alien.yml
  Resources/Prototypes/_Shitmed/Tiles/abductor.yml
  Resources/Textures/_Mono/Clothing/Back/Backpacks/advanced.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Clothing/Back/Backpacks/advanced.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Back/Backpacks/advanced.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Back/Backpacks/advanced.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Back/Backpacks/advanced.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Belt/alienwebbing.rsi/equipped-BELT.png
  Resources/Textures/_Mono/Clothing/Belt/alienwebbing.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Belt/alienwebbing.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Belt/alienwebbing.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Belt/alienwebbing.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/sphelak.rsi/icon-flash.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/sphelak.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/sphelak.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/sphelak.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/sphelak.rsi/off-equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/sphelak.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/sphelak.rsi/on-equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/sphelak.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/sphelak.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/sphelak.rsi/icon.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/sphelak.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/sphelak.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/sphelak.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Battery/akx.rsi/wielded-inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Projectiles/plasmashot.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Projectiles/plasmashot.rsi/plasmashot.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/M

#107 FTL Hotfix
  Content.Client/_RMC14/GhostColor/GhostColorSystem.cs
  Content.Server/Administration/Commands/AGhostCommand.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/_Mono/Ships/FTLDriveSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Content.Shared/_Mono/Ships/FTLDriveComponent.cs
Labels: S: Untriaged, size/M

#109 Ship Impacts II
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
Labels: S: Untriaged, size/S

#110 Ship Designation
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Server/Shuttles/Systems/ShipDesignationSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/Shuttles/Components/ShipDesignationComponent.cs
  Resources/Locale/en-US/shuttle/ship-designation.ftl
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Maps/_Mono/AdmemeMaps/Gen3/cfl.yml
  Resources/Maps/_Mono/AdmemeMaps/NanoTrasen/Gen3/hammerhead.yml
  Resources/Maps/_Mono/AdmemeMaps/NanoTrasen/Gen3/sphel.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/anole.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/anura.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/argent.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/calypso.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/svallin.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: Changes: Map, Changes: UI, S: Untriaged, size/M

#111 Revert "Docked Shuttles FTL Together (#77)"
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
Labels: S: Untriaged, size/M

#114 Ghost Color Hotfix
  Content.Server/Ghost/GhostSystem.cs
Labels: S: Untriaged, size/XS

#116 Ship Impact Hotfix
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
Labels: S: Untriaged, size/S

#117 Planetmap combat fake
  Resources/Maps/_Mono/Flesh/Gen2/fleshBBprowler.yml
  Resources/Maps/_Mono/Flesh/Gen2/fleshCApatrol.yml
  Resources/Maps/_Mono/Gen0/boarding.yml
  Resources/Maps/_Mono/Gen0/colonyship.yml
  Resources/Maps/_Mono/Gen0/colonyshipderelict.yml
  Resources/Maps/_Mono/Gen0/colonyshipwreck.yml
  Resources/Maps/_Mono/Gen1/Meteor/javelin.yml
  Resources/Maps/_Mono/Gen1/javelin.yml
  Resources/Maps/_Mono/Gen2/colonygen2.yml
  Resources/Maps/_Mono/Gen3/cfl.yml
  Resources/Maps/_Mono/NanoTrasen/Gen3/hammerhead.yml
  Resources/Maps/_Mono/NanoTrasen/Gen3/sphel.yml
  Resources/Maps/_Mono/Statics/platasyk.yml
  Resources/Maps/_Mono/TSFMC/Gen1/calypso.yml
  Resources/Maps/_Mono/TSFMC/Gen1/dropship.yml
  Resources/Maps/_Mono/TSFMC/Gen1/iapetus.yml
  Resources/Maps/_Mono/TSFMC/Gen1/tethys.yml
  Resources/Maps/_Mono/TSFMC/Gen2/BBclassprowler.yml
  Resources/Maps/_Mono/TSFMC/Gen2/CAtypepatrol.yml
  Resources/Maps/_Mono/TSFMC/Gen3/anole.yml
  Resources/Maps/_Mono/TSFMC/Gen3/anura.yml
  Resources/Maps/_Mono/TSFMC/Gen3/argent.yml
  Resources/Maps/_Mono/TSFMC/Gen3/calypso.yml
  Resources/Maps/_Mono/TSFMC/Gen3/svallin.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#118 FIX TH ESHIT I THINK
  Resources/Prototypes/_Mono/Entities/Mobs/Player/alien.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#120 Traits UI Overhaul II
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitCategorySelector.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/_Mono/Traits/SelfAwareSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/quirks.yml
Labels: Changes: UI, S: Untriaged, size/M
