Repository Monolith-Station/Monolith, pull requests merged in 2025-09, with the labels that each got.

#2139 Jupiter QoL and Faction Cameras
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Maps/_Mono/POI/jupiter.yml
  Resources/Prototypes/Device/devicenet_frequencies.yml
  Resources/Prototypes/Entities/Structures/Machines/surveillance_camera_routers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/_NF/Entities/Structures/Lighting/strobe_lighting.yml
Labels: YML, size/L, FTL, No C#, S: Needs Review

#2170 Make Liquid and Plasma Gas Canisters Buyable Again.
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
Labels: S: Untriaged, YML, size/S, No C#

#2168 Halycon Plating Under Walls
  Resources/Maps/_Mono/POI/tsfmchalcyon.yml
Labels: YML, size/M, No C#

#2173 Tsf Experimental Tacsuit Buffs
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, YML, size/S, No C#

#2174 Elite Suit + Jugsuit Tweaks
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Untriaged, YML, size/S, No C#

#2154 Spessbite Updated
  Resources/Maps/_Mono/Shuttles/spessbite.yml
Labels: S: Untriaged, YML, size/M, No C#

#2167 Ultimate Warrior
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Locale/en-US/_Mono/radio.ftl
  Resources/Maps/_Mono/ShuttleEvent/asakim_medium.yml
  Resources/Maps/_Mono/ShuttleEvent/nebula.yml
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/wyvern.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith_e.yml
  Resources/Maps/_Mono/Shuttles/Capitals/flyssa.yml
  Resources/Prototypes/_Mono/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Ghostroles/Asakim/roles.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon-laws.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Prototypes/_Mono/GameRules/Shuttles/ship_spawns.yml
  Resources/Prototypes/_Mono/GameRules/base.yml
  Resources/Prototypes/_Mono/GameRules/damaged_ai.yml
  Resources/Prototypes/_Mono/radio_channels.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Walls/walls.yml
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/full.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/meta.json
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state0.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state1.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state2.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state3.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state4.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state5.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state6.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor.rsi/state7.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor_diagonal.rsi/meta.json
  Resources/Textures/_Shitmed/Structures/Walls/abductor_diagonal.rsi/state0.png
  Resources/Textures/_Shitmed/Structures/Walls/abductor_diagonal.rsi/state1.png
Labels: S: Untriaged, YML, Sprites, FTL, No C#, size/XL, S: Needs Review

#2175 Revert "Reenable Grand Lottery"
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
Labels: S: Untriaged, YML, size/S, No C#

#2176 Lag Tweak
  Content.Shared/_NF/Shipyard/Components/ShipOwnershipComponent.cs
Labels: S: Untriaged, C#

#2180 Incentivize Not Being a Cuck
  Resources/Prototypes/_Shitmed/Entities/Structures/Walls/walls.yml
Labels: S: Untriaged, YML, No C#

#2179 Re-Enabled Ai Eye Movement
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
Labels: S: Untriaged, YML, size/S, No C#

#2184 Reverts #1850
  Content.Server/_NF/Salvage/NFSalvageMobRestrictionsComponent.cs
Labels: S: Untriaged, C#, size/XS

#2195 Missile Fix
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingSystem.cs
  Resources/ServerInfo/_Mono/Guidebook/Specifications/ASM302.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/TOVEK.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/VESPERA.xml
Labels: S: Untriaged, C#, size/S, Docs

#2198 Fixes AI Movement Properly
  Content.Shared/Interaction/SharedInteractionSystem.Blocking.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
Labels: S: Untriaged, C#, YML, size/S

#2189 Ultimate Charon Buff
  Resources/Locale/en-US/_Mono/research/faction-universal.ftl
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/charon_ammo.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/charon_launcher.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/universal_shipgun_ammo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/universal_ship_ammo.yml
  Resources/Prototypes/_Mono/Research/Universal/shipgun_ammo.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/Explosives/charonslug.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/Explosives/charonslug.rsi/subnuclear.png
Labels: YML, Sprites, FTL, size/S, No C#

#2194 Shuttle Console Ranges Again
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/Computers/radar_computers.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: S: Untriaged, YML, size/S, No C#

#2204 Sets up REUSE to by Default Use MPL Instead of APGLv3
  .github/workflows/reuse-updater.yml
  LICENSES/MPL-2.0.txt
Labels: S: Untriaged, YML, size/S, No C#

#2205 Revert "Sets up REUSE to by Default Use MPL Instead of APGLv3"
  .github/workflows/reuse-updater.yml
  LICENSES/MPL-2.0.txt
Labels: S: Untriaged, YML, size/S, No C#

#2208 Revert "Revert "Sets up REUSE to by Default Use MPL Instead of APGLv3""
  .github/workflows/reuse-updater.yml
  LICENSES/MPL-2.0.txt
Labels: YML, size/S, No C#

#2187 Fix Borg Tetherguns
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: S: Untriaged, YML, size/S, No C#

#2191 Cortical Borer """"Bugfix""""
  Resources/Prototypes/_Mono/CorticalBorer/cortical_borer_species.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2212 Fuck that Track
  Resources/Audio/_DV/Jukebox/deck_the_halls_b-MONO.ogg
  Resources/Audio/_Mono/Jukebox/attributions.yml
  Resources/Audio/_Mono/Jukebox/koganusan.ogg
  Resources/Prototypes/_DV/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/_Mono/Catalogs/Jukebox/Standard.yml
Labels: S: Untriaged, YML, Audio, size/S, No C#, S: Needs Review

#2215 Fixes Blip Error Spams, Also Fixes Blips Clipping Into Grids.
  Content.Client/_Mono/Radar/RadarBlipsSystem.cs
  Content.Server/_Mono/Radar/RadarBlipSystem.cs
  Content.Shared/_Mono/Radar/RadarMessages.cs
Labels: S: Untriaged, C#, size/S

#2217 Fix QJ490 Not Having Enough GCS Power
  Resources/Maps/_Mono/Shuttles/Carrier/qj490.yml
Labels: YML, size/S, No C#

#2218 Increases Max Power Draw for Bigger Shields
  Resources/Prototypes/_Mono/Entities/Structures/Machines/shield_generator.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2226 Gcqueue Additions
  Content.Server/Worldgen/Prototypes/GCQueuePrototype.cs
  Content.Server/Worldgen/Systems/GC/GCQueueSystem.cs
  Resources/Prototypes/GC/world.yml
Labels: S: Untriaged, C#, YML, size/S

#2232 Small Gcqueue Tweak
  Content.Server/Worldgen/Systems/GC/GCQueueSystem.cs
Labels: S: Untriaged, C#, size/XS

#2233 Ship Ammo Lathe/Tech Tweaks
  Resources/Prototypes/_Mono/Research/Universal/shipgun_ammo.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: S: Untriaged, YML, size/S, No C#

#2231 Make Bananium Generators Not Contraband Anymore
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2236 Medium Ship Weapon - RAC-30 "Draupnir"
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/rac-30_draupnir.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/rac-30_draupnir.rsi/space_artillery.png
Labels: S: Untriaged, YML, size/M, Sprites, No C#

#2223 Jupiter Network Device Fixes
  Resources/Maps/_Mono/POI/jupiter.yml
Labels: S: Untriaged, YML, No C#

#2199 Cooking Gases in the Microwave
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
Labels: S: Untriaged, C#, size/S

#2245 Make the Military Multipurpose Assembler (Faction Fab) Slightly More Useful
  Resources/Prototypes/_Mono/Entities/Structures/Machines/lathe.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2244 Add Name for Cybernetic Left Hand
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2246 Vox Magboot Resprite
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/magboots-drake_industries.rsi/equipped-FEET-vox.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/magboots-drake_industries.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/equipped-FEET-vox.png
  Resources/Textures/_Mono/Clothing/Shoes/Boots/voidboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-mercenary.rsi/equipped-FEET-vox.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-mercenary.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-mercenary.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/equipped-FEET-vox.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/on-equipped-FEET-vox.png
Labels: S: Untriaged, Sprites, size/S, No C#

#2242 Buff Plasma Lance Direct Damage and HP
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
Labels: YML, size/S, No C#

#2248 Fix Legionnaire GCS Not Being Powerful Enough
  Resources/Maps/_Mono/Shuttles/Nfsd/legionnaire.yml
Labels: S: Untriaged, YML, No C#

#2253 Hardsuit Adjustments
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/TSFMC/m86.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/ussp.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/modsuit.yml
Labels: S: Untriaged, YML, size/S, No C#

#2247 Readd Polaris (as TSF Ship :Trollface:), Resprite Faction Ship Vouchers
  Resources/Locale/en-US/_Mono/research/tsf-research.ftl
  Resources/Maps/_Mono/Shuttles/Nfsd/polaris.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Factions/vouchers.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/TSFMC/tsfmc.yml
  Resources/Prototypes/_Mono/Research/TSF/tsf_misc.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/polaris.yml
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/htech-inhand-left.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/htech-inhand-right.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/htech.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon0.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon1.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon2.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon3.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon4.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon5.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon6.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon7.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon8.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/icon9.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/ltech-inhand-left.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/ltech-inhand-right.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/ltech.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/meta.json
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/mtech-inhand-left.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/mtech-inhand-right.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/mtech.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/stripeasr.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/stripetsfmc.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/stripeussp.png
  Resources/Textures/_Mono/Objects/Misc/lpc.rsi/vouchermilitary.png
Labels: YML, Sprites, FTL, No C#, size/XL

#2249 Hoverbike Changes
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
Labels: S: Untriaged, YML, size/S, No C#

#2250 Sunrise Airlock Access Update
  Resources/Maps/_Mono/Shuttles/sunrise.yml
Labels: YML, size/M, No C#

#2262 Reinforced Sprite for Capital Plastitanium
  Resources/Prototypes/_Mono/Entities/Structures/walls.yml
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/full.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/meta.json
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium0.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium1.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium2.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium3.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium4.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium5.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium6.png
  Resources/Textures/_Mono/Structures/Walls/rplas.rsi/plastitanium7.png
  Resources/Textures/_Mono/Structures/Walls/rplas_diagonal.rsi/meta.json
  Resources/Textures/_Mono/Structures/Walls/rplas_diagonal.rsi/state0.png
  Resources/Textures/_Mono/Structures/Walls/rplas_diagonal.rsi/state1.png
Labels: S: Untriaged, YML, Sprites, No C#

#2264 RAC-30 Modifications
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
Labels: S: Untriaged, YML, No C#

#2266 Allow Borgs to Fuel Ame
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
Labels: YML, size/XS, No C#

#2207 Station Defense Weapon - Thanatos SN Twin Massdriver
  Resources/Maps/_Mono/POI/usspbaikal.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/thantos_launcher.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/thanatos.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/thanatos.rsi/space_artillery.png
Labels: S: Untriaged, YML, size/L, Sprites, No C#, S: Needs Review

#2272 Hitscan Entities Port
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_Mono/Radar/HitscanRadarSystem.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanAmmoComponent.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanBasicDamageComponent.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanBasicEffectsComponent.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanBasicRaycastComponent.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanBasicVisualsComponent.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanRadarSignatureComponent.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanReflectComponent.cs
  Content.Shared/Weapons/Hitscan/Components/HitscanStaminaDamageComponent.cs
  Content.Shared/Weapons/Hitscan/Events/HitscanEvents.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanBasicDamageSystem.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanBasicEffectsSystem.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanBasicRaycastSystem.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanBasicVisualsSystem.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanReflectSystem.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanStunSystem.cs
  Content.Shared/Weapons/Ranged/Components/HitscanBatteryAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/HitscanPrototype.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/tags.yml
Labels: S: Untriaged, C#, YML, size/L

#2274 Those Who Know.
  Resources/Maps/_Mono/ShuttleEvent/asakim_small.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2275 BiomeSystem.cs Reorganization and Optimization
  Content.Server/Parallax/BiomeSystem.ChunkLoader.cs
  Content.Server/Parallax/BiomeSystem.Commands.cs
  Content.Server/Parallax/BiomeSystem.ConfigManager.cs
  Content.Server/Parallax/BiomeSystem.MarkerProcessor.cs
  Content.Server/Parallax/BiomeSystem.PlanetSetup.cs
  Content.Server/Parallax/BiomeSystem.PlayerTracker.cs
  Content.Server/Parallax/BiomeSystem.cs
Labels: C#, size/L

#2299 Energy Artillery - The Start
  Content.Shared/Weapons/Hitscan/Components/HitscanExplosionComponent.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanExplosionSystem.cs
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Projectiles/explosive_laser.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles.rsi/impact_beam_heavy2.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/apollo.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/apollo.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/gladius.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/gladius.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/hoplite.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/hoplite.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/phalanx.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/phalanx.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/zeus.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/zeus.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/Beam_SuperHeavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/impact_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/muzzle_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/zeus_projectile.png
Labels: S: Untriaged, C#, YML, size/M, Sprites

#2304 Buffs the Autopulsar and L85 20mm
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
Labels: YML, size/XS, No C#, S: Needs Review

#2308 Dravon Projectile Speed Buff
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/DRAVON.xml
Labels: S: Untriaged, YML, size/XS, No C#, Docs

#2307 Hitscan and Laser Tweaks
  Content.Shared/Weapons/Hitscan/Components/HitscanSpawnEntityComponent.cs
  Content.Shared/Weapons/Hitscan/Systems/HitscanSpawnEntitySystem.cs
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Projectiles/explosive_laser.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/hlgg9.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/hlgg9.rsi/space_artillery.png
Labels: C#, YML, size/M, Sprites

#2310 Small BiomeSystem Changes
  Content.Server/Parallax/BiomeSystem.ChunkLoader.cs
  Content.Server/Parallax/BiomeSystem.cs
Labels: S: Untriaged, C#, size/M

#2312 Test Fix Yay
  Content.IntegrationTests/AssemblyInfo.cs
Labels: S: Untriaged, C#, size/XS

#2315 Vote Changes
  Content.Shared/CCVar/CCVars.Vote.cs
  Resources/Prototypes/_Mono/game_presets.yml
Labels: S: Untriaged, C#, YML

#2324 Added Button/Switch/Port Support that the LMB Was Lacking
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/light_munitions_launcher.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2331 Stop Shipguns From Firing Unanchored/On Pacified Grids
  Content.Server/_Mono/SpaceArtillery/SpaceArtillerySystem.cs
Labels: C#, size/S

#2165 Fix Remaining Mentions of Spesos
  Resources/Locale/en-US/_DV/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/store/tsfmc-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/accent/caveman.ftl
  Resources/Locale/en-US/_NF/accent/goblin_accent.ftl
  Resources/Locale/en-US/_NF/accent/streetpunk_accent.ftl
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/_NF/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Locale/en-US/cargo/price-gun-component.ftl
  Resources/Locale/en-US/nyanotrasen/mail.ftl
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/mercenaries.yml
  Resources/Prototypes/_NF/Mail/Items/paper.yml
Labels: YML, size/M, FTL, No C#

#2109 NSK Tiger, a Racing Ship that Can Deliver Express Cargo on the Side.
  Resources/Maps/_Mono/Shuttles/tiger.yml
  Resources/Prototypes/_Mono/Shipyard/tiger.yml
Labels: S: Untriaged, YML, size/L, No C#

#2285 Give Grizzly & Lecter Multiple Calibers Like TSF Sentry
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
Labels: S: Untriaged, YML, size/S, No C#

#2329 Welder Energy Swords
  Resources/Audio/_Goobstation/Weapons/EswordWelder/eblade1.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/hum.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/off.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/on.ogg
  Resources/Audio/_Goobstation/Weapons/EswordWelder/swing.ogg
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/e_sword_welder.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/Graphs/fun/welder_sword.yml
  Resources/Prototypes/_Goobstation/Recipes/Construction/fun.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Prototypes/_Shitmed/Entities/Specific/Abductor/tools.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-left-blade.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-right-blade.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder-inhands.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon_experimental.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon_industrial.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/icon_mini.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade_experimental.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade_industrial.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_blade_simple.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_experimental.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/e_sword_welder.rsi/welder_sword_industrial.png
Labels: S: Untriaged, YML, size/M, Sprites, Audio, No C#

#2326 The Great AP Nuking
  Resources/Locale/en-US/_Mono/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_Mono/research/universal-ammo.ftl
  Resources/Maps/_Mono/POI/camelot.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/4.6x30mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/45_ACP.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/45_magnum.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/5.56x45mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/5.7x28mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/7.62x39mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/7.62x51mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/9x19mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/4.6x30mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/45_ACP.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/45_magnum.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/5.56x45mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/5.7x28mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/7.62x39mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/7.62x51mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/9x19mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/4.6x30mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/45_ACP.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/45_magnum.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/5.56x45mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/5.7x28mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/7.62x39mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/7.62x51mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/9x19mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12_gauge.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/4.6x30mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45_ACP.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/45_magnum.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/4_gauge.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/5.56x45mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/5.7x28mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/7.62x39mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/7.62x51mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/7.62x54mmR.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/9x19mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/45_magnum.yml
  Resources/Prototypes/_Mono/Recipes/Categories/ammo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/FullyPowered_7.62x51mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/FullyPowered_7.62x54mmR.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/Intermediate_45_magnum.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/Intermediate_5.56x45mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/Intermediate_7.62x39mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_4.6x30mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_45_ACP.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_5.7x28mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/AllTheAmmo/PistolCaliber_9x19mm.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/BaseAmmo.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/ammo.yml
  Resources/Prototypes/_Mono/Research/Universal/shipgun_ammo.yml
  Resources/Prototypes/_Mono/Research/Universal/smallarms.yml
Labels: S: Untriaged, YML, size/L, FTL, No C#, S: Needs Review

#2314 Nanite Applicator
  Content.Client/Tools/UI/WelderStatusControl.cs
  Content.Server/Repairable/RepairableComponent.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Shared/Tools/Components/WelderComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Resources/Locale/en-US/_Mono/reagents/technological.ftl
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_Mono/tools/tool-qualities.ftl
  Resources/Locale/en-US/tools/components/welder-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_ballistic.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_Mono/Entities/Objects/Tools/nanite_applicator.yml
  Resources/Prototypes/_Mono/Reagents/technological.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/Rogues/rogues.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/tools.yml
  Resources/Prototypes/_Mono/Research/Rogue/rogue_misc.yml
  Resources/Prototypes/_Mono/tool_qualities.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
  Resources/Textures/_Mono/Objects/Tools/naninte-injector-auto.gif
  Resources/Textures/_Mono/Objects/Tools/naninte-injector-syndie.gif
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator.rsi/base.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator.rsi/icon.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator.rsi/meta.json
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_experimental.rsi/base.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_experimental.rsi/icon.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_experimental.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_experimental.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_experimental.rsi/meta.json
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_syndicate.rsi/base.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_syndicate.rsi/icon.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_syndicate.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_syndicate.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Tools/nanite_applicator_syndicate.rsi/meta.json
Labels: S: Untriaged, C#, YML, size/M, Sprites, FTL, S: Needs Review

#2347 No Gas Purity Penalty At Edison
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/_NF/Atmos/Systems/GasDepositSystem.cs
Labels: S: Untriaged, C#, size/S

#2338 Target-Seeking Projectile Lock-On Warnings
  Content.Server/_Mono/Projectiles/TargetSeeking/Events.cs
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingComponent.cs
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingSystem.cs
  Content.Server/_Mono/TargetSeekingAlert/Events.cs
  Content.Server/_Mono/TargetSeekingAlert/TargetSeekerAlertComponents.cs
  Content.Server/_Mono/TargetSeekingAlert/TargetSeekerAlertSystem.cs
  Resources/Audio/_Mono/Effects/Alerts/attributions.yml
  Resources/Audio/_Mono/Effects/Alerts/launchwarning.ogg
  Resources/Audio/_Mono/Effects/Alerts/master_caution.ogg
  Resources/Audio/_Mono/Effects/Alerts/rwr_beep.ogg
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/mpssm.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: C#, YML, size/M, Audio

#2352 Github Tests Update
  .github/Schemas/mapfile_requirements.txt
  .github/Schemas/rga.yml
  .github/Schemas/rga_requirements.txt
  .github/Schemas/rga_validators.py
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
Labels: S: Untriaged, YML, size/S, No C#

#2346 IPC Cell Drain Reduction
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
Labels: YML, size/XS, No C#

#2353 Redo Tips Pr
  Resources/Locale/en-US/_NF/tips.ftl
Labels: S: Untriaged, FTL, size/S, No C#, S: Needs Review

#2344 [Bounty] Gary Language
  Resources/Locale/en-US/_Mono/language/languages.ftl
  Resources/Locale/en-US/_Mono/traits/language-traits.ftl
  Resources/Prototypes/_EinsteinEngines/Recipes/Lathes/Packs/language.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/_Mono/Entities/Objects/Specific/Science/TechDisks/tech_disks_language.yml
  Resources/Prototypes/_Mono/Language/gary.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/language.yml
  Resources/Prototypes/_Mono/Traits/speech.yml
Labels: YML, size/M, FTL, No C#
