Repository Monolith-Station/Monolith, pull requests merged in 2025-01, with the labels that each got.

#5 Larp
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/armour.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
Labels: enhancement, adjustment

#7 BLEHHHH
  Resources/Locale/en-US/_Mono/ghostroles/merc/ghostrole.ftl
  Resources/Locale/en-US/_Mono/ghostroles/military/ghostrole.ftl
  Resources/Locale/en-US/_Mono/headset/headsets.ftl
  Resources/Maps/_Mono/AdmemeMaps/UN.yml
  Resources/Maps/_Mono/AdmemeMaps/UNlight.yml
  Resources/Prototypes/_Mono/Entities/Clothing/AdmMilitary/Fills.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/merc.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/military.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/telecomms.yml
  Resources/Prototypes/_Mono/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_Mono/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/_Mono/Roles/GhostRoles/Fun/military.yml
  Resources/Prototypes/_Mono/Roles/play_time_trackers.yml
  Resources/Prototypes/_Mono/radio_channels.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_unmc.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/meta.json
Labels: enhancement, adjustment

#11 Forkify Rules
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC15Roleplay.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/README.txt
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR20EndRoundGrief.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR21SSD.xml
Labels: adjustment

#13 Forkify Changelog
  Resources/Changelog/Changelog.yml
  Resources/Changelog/GoobChangelog.yml
  Resources/Changelog/Mono.yml
  Resources/Changelog/MonoChangelog.yml
  Resources/Locale/en-US/_Goobstation/changelog/changelog-window.ftl
  Tools/actions_changelogs_since_last_run.py
Labels: adjustment

#14 Fix Admin Changelog Order
  Resources/Changelog/Admin.yml
Labels: adjustment

#15 OAF
  Content.Client/_Goobstation/Emoting/FartSystem.cs
  Content.Server/_Goobstation/Emoting/FartSystem.cs
  Content.Shared/_Goobstation/Emoting/FartComponent.cs
  Content.Shared/_Goobstation/Emoting/SharedFartSystem.cs
  Resources/Audio/_Goobstation/Voice/Human/attributions.yml
  Resources/Audio/_Goobstation/Voice/Human/fart2-long.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart2-reverse.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart2.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart3-long.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart3-reverse.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart3.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart4-long.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart4-reverse.ogg
  Resources/Audio/_Goobstation/Voice/Human/fart4.ogg
  Resources/Audio/_Goobstation/Voice/Human/parp1-long.ogg
  Resources/Audio/_Goobstation/Voice/Human/parp1-reverse.ogg
  Resources/Changelog/Mono.yml
  Resources/Locale/en-US/_Goobstation/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Goobstation/Body/dummyparts.yml
  Resources/Prototypes/_Goobstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Goobstation/Voice/speech_emotes.yml
  Resources/Textures/_Goobstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Goobstation/Interface/Emotes/fart-in.png
  Resources/Textures/_Goobstation/Interface/Emotes/fart-super.png
  Resources/Textures/_Goobstation/Interface/Emotes/fart.png
  Resources/Textures/_Goobstation/Mobs/butt.rsi/butt.png
  Resources/Textures/_Goobstation/Mobs/butt.rsi/meta.json
Labels: Changes: Audio, Changes: Sprites, S: Untriaged, size/M

#16 junk u dont have to worry about
  Resources/Maps/_Mono/AdmemeMaps/UN.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/caspiansky.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/dropship.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/rhea.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/tethys.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shuttles.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#19 yeah
  Resources/Maps/_Mono/AdmemeMaps/UNMC/calypso.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/iapetus.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/rhea.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/tethys.yml
  Resources/Prototypes/_Mono/Entities/Clothing/AdmMilitary/containerfills.yml
  Resources/Prototypes/_Mono/Entities/Clothing/AdmMilitary/headsets_alt.yml
  Resources/Prototypes/_Mono/Roles/GhostRoles/Fun/military.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#20 ROBUST
  Content.Server/GameTicking/Rules/Components/DeathMatchRuleComponent.cs
Labels: S: Untriaged, size/XS

#21 ert shuttle + alternate poweredlights for mapping
  Resources/Maps/_Mono/AdmemeMaps/UNMC/calypso.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/dropship.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/iapetus.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/rhea.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/tethys.yml
  Resources/Maps/_Mono/AdmemeMaps/javelin.yml
  Resources/Prototypes/_Mono/Entities/Structures/Lighting/base_lighting.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#22 Respawn
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Changes: UI, S: Untriaged, size/S

#24 Respawn
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Shared/CCVar/CCVars.GhostRespawn.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
Labels: Changes: UI, S: Untriaged, size/M, size/S

#27 garteg for iapetus, delete rhea, fix super door remote not having merc/unmc access
  Resources/Maps/_Mono/AdmemeMaps/UNMC/iapetus.yml
  Resources/Maps/_Mono/AdmemeMaps/UNMC/rhea.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#28 Autovote & Respawn Hotfix?
  Content.Server/AutoVote/AutoVoteSystem.cs
  Content.Shared/CCVar/CCVars.GhostRespawn.cs
  Content.Shared/_Goobstation/CCVars/CCVars.AutoVote.cs
Labels: Changes: UI, S: Untriaged, size/S

#29 Change from Goob Logo
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
Labels: Changes: No C#
