Repository Monolith-Station/Monolith, pull requests merged in 2025-10, with the labels that each got.

#2369 Changes some Small Arms Sounds
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/ak_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/atreides_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/attributions.yml
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/bigshotgun_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/hawk_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/l6_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/mk_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/mla_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/python_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/viper_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/wspr_fire.ogg
  Resources/Audio/_Mono/Weapons/Guns/SmallArms/Gunshots/wt_fire.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Pistols/recharging.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: S: Untriaged, YML, Audio, size/S, No C#

#2367 Fix Two Small Typos
  Resources/Prototypes/_Mono/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Hands/gloves.yml
Labels: YML, size/S, No C#

#2355 Vulcan and Ratel Wield Delay Fix
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
Labels: YML, size/S, No C#

#2323 Make Default Explosions Deal Structural Damage
  Resources/Prototypes/explosion.yml
Labels: S: Untriaged, YML, size/S, No C#

#2368 Update loadouts.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Ghostroles/Asakim/loadouts.yml
Labels: S: Untriaged, YML, size/XS, No C#

#2373 Lizard Tag Fix
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: YML, size/XS, No C#

#2358 Pre-Fracture Tech - ADS Weaponry Rework
  Resources/Maps/_Mono/ShuttleEvent/nebula.yml
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/wyvern.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith_e.yml
  Resources/Prototypes/_Mono/Entities/Effects/projectile.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/flayer.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/flayer.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/harbringer.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/harbringer.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/reaper.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/reaper.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/scythe.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/scythe.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/sunder.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/sunder.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/Beam_SuperHeavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_impact.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_muzzle.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_trail.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/impact_superheavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/muzzle_superheavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_beam.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_impact.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_muzzle.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/Beam_SuperHeavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/impact_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/ion_blast.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/muzzle_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/neutron_bolt.png
Labels: C#, YML, Sprites, No C#, size/XL, DO NOT MERGE

#2371 Masks
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/face.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: S: Untriaged, YML, size/S, No C#

#2376 Revert "Pre-Fracture Tech - ADS Weaponry Rework"
  Resources/Maps/_Mono/ShuttleEvent/nebula.yml
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/wyvern.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith_e.yml
  Resources/Prototypes/_Mono/Entities/Effects/projectile.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/flayer.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/flayer.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/harbringer.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/harbringer.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/reaper.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/reaper.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/scythe.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/scythe.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/sunder.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/sunder.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/Beam_SuperHeavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_impact.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_muzzle.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_trail.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/impact_superheavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/muzzle_superheavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_beam.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_impact.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_muzzle.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/Beam_SuperHeavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/impact_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/ion_blast.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/muzzle_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/neutron_bolt.png
Labels: S: Untriaged, YML, Sprites, No C#, size/XL

#2379 Revert "Revert "Pre-Fracture Tech - ADS Weaponry Rework""
  Resources/Maps/_Mono/ShuttleEvent/nebula.yml
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/wyvern.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith_e.yml
  Resources/Prototypes/_Mono/Entities/Effects/projectile.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/flayer.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/flayer.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/harbringer.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/harbringer.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/reaper.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/reaper.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/scythe.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/scythe.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/sunder.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/sunder.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/Beam_SuperHeavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_impact.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_muzzle.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/gauss_trail.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/impact_superheavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/muzzle_superheavy_prefrac.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_beam.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_impact.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_lasers.rsi/proton_muzzle.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/Beam_SuperHeavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/impact_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/ion_blast.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/muzzle_superheavy.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Projectiles/ship_projectiles.rsi/neutron_bolt.png
Labels: size/XL

#2380 Slight ADS Weapons Rebalance
  Resources/Prototypes/_Mono/Entities/Effects/projectile.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
Labels: S: Untriaged, YML, size/S, No C#

#2382 Boxfont Round Is Really Ugly. Tooltip Is Aura-Ified.
  Resources/Fonts/Boxfont-round/Boxfont Round.ttf
  Resources/Fonts/Boxfont-round/README.txt
  Resources/Fonts/Boxfont-round/credits.txt
  Resources/Textures/Interface/Nano/tooltip.png
Labels: S: Untriaged, size/XS, No C#
