Repository Monolith-Station/Monolith, pull requests merged in 2025-02, with the labels that each got.

#31 Meteor PD
  Content.Server/NPC/NPCBlackboard.cs
  Content.Server/StationEvents/Components/MeteorSwarmComponent.cs
  Resources/Audio/_Mono/Weapons/Misc/attributions.yml
  Resources/Audio/_Mono/Weapons/Misc/pdtarget.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/point_defense.yml
  Resources/Prototypes/_Mono/NPCs/pd.yml
  Resources/Prototypes/_Mono/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: Audio, Changes: Map, Changes: No C#, S: Untriaged, size/M, size/XL

#32 pd small meteor fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/M, size/XS

#34 MlA-53 and PD turret flatpack
  Resources/Maps/_Mono/AdmemeMaps/UNMC/dropship.yml
  Resources/Prototypes/_Mono/Entities/Clothing/AdmMilitary/containerfills.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/PistolCaliber/smg.yml
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/point_defense.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/PistolCaliber/mla53.rsi/wielded-inhand-right.png
Labels: Changes: Map, Changes: No C#, Changes: Sprites, S: Untriaged, size/M

#35 rebrand UNMC to TSFMC
  Resources/Locale/en-US/_Mono/ghostroles/military/ghostrole.ftl
  Resources/Locale/en-US/_Mono/headset/headsets.ftl
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/calypso.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/dropship.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/iapetus.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/tethys.yml
  Resources/Prototypes/_Mono/Entities/Clothing/TSFMC/containerfills.yml
  Resources/Prototypes/_Mono/Entities/Clothing/TSFMC/headsets_alt.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/military.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_Mono/Roles/GhostRoles/Fun/military.yml
Labels: Changes: Map, Changes: No C#, Changes: Sprites, S: Untriaged, size/M, size/S

#37 Aghost Loadout Change
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: No C#, S: Untriaged, size/S

#36 Adds bullet collision to station lights (#34070)
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/strobe_lighting.yml
Labels: Changes: No C#, S: Untriaged, size/S

#39 Add new admeme ship + crowbar for TFSMC loadouts
  Resources/Maps/_Mono/AdmemeMaps/Gen0/boarding.yml
  Resources/Maps/_Mono/AdmemeMaps/Gen0/colonyship.yml
  Resources/Maps/_Mono/AdmemeMaps/Gen0/colonyshipderelict.yml
  Resources/Maps/_Mono/AdmemeMaps/Gen0/colonyshipwreck.yml
  Resources/Maps/_Mono/AdmemeMaps/Gen1/javelin.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen1/calypso.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen1/dropship.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen1/iapetus.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen1/tethys.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen2/CAtypepatrol.yml
  Resources/Prototypes/_Mono/Entities/Clothing/TSFMC/containerfills.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#40 Goob MRP Gamemodes Port
  Resources/Locale/en-US/game-ticking/game-presets/preset-irregular.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-survival.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: No C#, S: Untriaged, size/M

#41 PD Turret Buff
  Content.Server/NPC/NPCBlackboard.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/point_defense.yml
Labels: S: Untriaged, size/S

#42 20mm caseless turret
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_20mm.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_20mm.yml
  Resources/Prototypes/_Mono/Entities/Structures/Shuttles/point_defense.yml
Labels: Changes: No C#, S: Untriaged, size/S

#43 Meteor Update (I)
  Content.Server/NPC/NPCBlackboard.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-irregular.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-survival.ftl
  Resources/Maps/_Mono/AdmemeMaps/Gen1/Meteor/javelin.yml
  Resources/Maps/_Mono/atlas.yml
  Resources/Maps/_Mono/reach.yml
  Resources/Maps/_Mono/saltern.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/_Goobstation/Maps/atlas.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Map, S: Untriaged, size/XL

#47 CA type patrol telecomms server and BB type prowler
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen2/BBclassprowler.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen2/CAtypepatrol.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#48 FR Command Disabled
  Resources/clientCommandPerms.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#49 Copyright infringement tutorial
  Resources/Locale/en-US/_Mono/ghostroles/merc.ftl
  Resources/Locale/en-US/_Mono/ghostroles/tsfmc.ftl
  Resources/Locale/en-US/_Mono/prototypes/access/accesses.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Mono/Access/access.yml
  Resources/Prototypes/_Mono/Entities/Clothing/TSFMC/containerfills.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/military.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/RifleCaliber/rifles.yml
  Resources/Prototypes/_Mono/Roles/GhostRoles/Fun/military.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/wielded-inhand-right.png
Labels: Changes: No C#, Changes: Sprites, size/M

#50 Possible Hotfix for Respawn Overflow
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
Labels: S: Untriaged, size/XS

#51 Yeah
  Resources/Maps/_Mono/AdmemeMaps/Flesh/Gen2/fleshBBprowler.yml
  Resources/Maps/_Mono/AdmemeMaps/Flesh/Gen2/fleshCApatrol.yml
  Resources/Maps/_Mono/AdmemeMaps/Gen2/colonygen2.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/meta.json
Labels: Changes: Map, Changes: No C#, Changes: Sprites

#53 Raska
  Resources/Maps/_Mono/raska.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Mono/Catalog/VendingMachines/Inventories/colonization.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Mono/Maps/raska.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#54 Raska hotfixes
  Resources/Maps/_Mono/raska.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#55 Music for sportacus
  Resources/Audio/StationEvents/number_one.ogg
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/miscellaneous.yml
Labels: Changes: Audio, Changes: No C#, S: Untriaged, size/XS

#56 Revert "[Bounty] Ghost Verbs (#1368)" - MRPify
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/_Goobstation/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/_Goobstation/Voice/speech_verbs.yml
Labels: S: Untriaged, size/S

#60 Remove Natural Antag Cyborg
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#61 Meteor Velocity Buff
  Content.Server/StationEvents/Components/MeteorSwarmComponent.cs
Labels: S: Untriaged, size/XS

#64 fix honkops minpop
  Resources/Prototypes/_Goobstation/GameRules/roundstart.yml
Labels: Changes: No C#, size/XS

#66 Abductor Weight Nerf
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: Changes: No C#, size/XS

#67 Blueshield Gets Shoes
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#68 CBURN Shotgun + Loadout Change
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
Labels: Changes: No C#, size/S

#69 Goob Upstream Merge
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Store/Conditions/BuyerAntagCondition.cs
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Server/Store/Conditions/BuyerJobCondition.cs
  Content.Server/Store/Conditions/BuyerSpeciesCondition.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Server/_EinsteinEngines/Silicon/DeadStartupButton/DeadStartupButtonSystem.cs
  Content.Server/_Goobstation/Weapons/ChangeTemperatureOnHit/ChangeTemperatureOnHitComponent.cs
  Content.Server/_Goobstation/Weapons/ChangeTemperatureOnHit/ChangeTemperatureOnHitSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/Weapons/MeleeDash/DashingComponent.cs
  Content.Shared/_Goobstation/Weapons/MeleeDash/MeleeDashComponent.cs
  Content.Shared/_Goobstation/Weapons/MeleeDash/MeleeDashSystem.cs
  Content.Shared/_White/Blink/SharedBlinkSystem.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/throwhard.ogg
  Resources/Changelog/GoobChangelog.yml
  Resources/Credits/GitHub.txt
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Magic/mindswap_spell.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cryokatana.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/equipped-BACKPACK.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Melee/cryokatana.rsi/meta.json
Labels: Changes: Audio, Changes: Sprites

#70 do it right dingus
  Resources/Prototypes/_Goobstation/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: No C#

#71 Abductor Minimum Player Bump (10 -> 15)
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: Changes: No C#, S: Untriaged

#73 Docked Shuttle FTL
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
Labels: S: Untriaged, size/M

#75 Arrivals Terminal Hotfix
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, S: Untriaged, size/M

#76 Revert "Arrivals Terminal Hotfix"
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, size/M

#77 Docked Shuttles FTL Together
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
Labels: S: Untriaged, size/M

#78 Dude
  Resources/Maps/_Mono/raska.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged, size/XL

#81 Evil UI Colors
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/Controls/MenuButton.cs
  Resources/Prototypes/_White/themes.yml
  Resources/Prototypes/themes.yml
  Resources/Textures/Interface/Nano/checkbox_checked.svg.96dpi.png
  Resources/Textures/Interface/Nano/checkbox_unchecked.svg.96dpi.png
  Resources/Textures/Interface/Nano/gear.svg.192dpi.png
  Resources/Textures/Interface/Nano/light_panel_background_bordered.png
  Resources/Textures/Interface/Nano/lineedit.png
  Resources/Textures/Interface/Nano/lock.svg.192dpi.png
  Resources/Textures/Interface/Nano/lock_open.svg.192dpi.png
  Resources/Textures/Interface/Nano/nanoheading.svg.96dpi.png
  Resources/Textures/Interface/Nano/stripeback.svg.96dpi.png
  Resources/Textures/Interface/Nano/tabcontainer_panel.png
  Resources/Textures/Interface/Nano/tooltip.png
  Resources/Textures/Interface/Nano/transparent_window_background_bordered.png
  Resources/Textures/Interface/Nano/whisper.png
  Resources/Textures/Interface/Nano/window_background.png
  Resources/Textures/Interface/Nano/window_background_bordered.png
  Resources/Textures/Interface/Nano/window_header.png
Labels: S: Untriaged, size/M

#83 More tsfmc slop
  Resources/Prototypes/_Mono/Datasets/Names/military.yml
  Resources/Prototypes/_Mono/Entities/Clothing/TSFMC/riflemen.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/military.yml
  Resources/Prototypes/_Mono/Roles/GhostRoles/Fun/military.yml
  Resources/Textures/_Mono/Clothing/Head/Helmets/ch252.rsi/equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Helmets/ch252.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Head/Helmets/ch252.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Uniforms/Jumpsuit/bdu.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Mono/Clothing/Uniforms/Jumpsuit/bdu.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Uniforms/Jumpsuit/bdu.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/Uniforms/Jumpsuit/bdu.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/Uniforms/Jumpsuit/bdu.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/M

#84 Traits II
  Content.Client/Access/UI/AccessOverriderWindow.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/_Goobstation/Traits/disabilities.yml
  Resources/Prototypes/_Mono/Traits/quirks.yml
Labels: Changes: UI, S: Untriaged, size/M

#85 Traits three...
  Resources/Locale/en-US/_Mono/Traits/traits.ftl
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/_Mono/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Mono/Traits/quirks.yml
Labels: Changes: No C#, size/M

#86 Traits IV
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Server/_Mono/Traits/BrittleBonesSystem.cs
  Content.Shared/_Mono/Traits/BrittleBonesComponent.cs
  Resources/Locale/en-US/_Mono/Traits/traits.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Traits/quirks.yml
  Resources/Prototypes/_Mono/Traits/quirks.yml
Labels: Changes: UI, S: Untriaged, size/M

#87 Fix thieving trait
  Resources/Prototypes/_Mono/Traits/quirks.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#91 fix the m-90a5 suitstorage sprites
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/RifleCaliber/ma37.rsi/equipped-SUITSTORAGE.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/XS

#90 Exodus Lawset
  Resources/Locale/en-US/_Mono/station-laws/laws.ftl
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/silicon-laws.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: No C#, enhancement, size/S

#94 tune shipguns power and add shipguns ships
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/anole.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/anura.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/argent.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/calypso.yml
  Resources/Maps/_Mono/AdmemeMaps/TSFMC/Gen3/svallin.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
Labels: Changes: Map, Changes: No C#, S: Untriaged
