Repository Monolith-Station/Monolith, pull requests merged in 2025-04, with the labels that each got.

#86 Mercury
  Resources/Maps/_Mono/Shuttles/BlackMarket/mercury.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/mercury.yml
Labels: S: Untriaged, YML, size/M, No C#, size/XL, Map-Shuttle, S: Needs Review, Changes: Map, Changes: Sprites

#87 Update tzipora.yml
  Resources/Maps/_Mono/Shuttles/tzipora.yml
Labels: S: Untriaged, YML, size/XS, size/S, No C#

#88 I hate the dagger
  Resources/Maps/_Mono/Shuttles/dagger.yml
  Resources/Prototypes/_Mono/Shipyard/dagger.yml
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
Labels: S: Untriaged, YML, size/S, No C#, Docs, Changes: No C#

#90 Fire Control Negation
  Content.Server/_Mono/FireControl/FireControlNegationComponent.cs
  Content.Server/_Mono/FireControl/FireControlNegationSystem.cs
Labels: C#, size/M

#92 Relicensing
  Content.Client/_Mono/FireControl/UI/FireControlConsoleBoundUserInterface.cs
  Content.Client/_Mono/FireControl/UI/FireControlWindow.xaml
  Content.Client/_Mono/FireControl/UI/FireControlWindow.xaml.cs
  Content.Server/_Mono/FireControl/FireControlGridComponent.cs
  Content.Server/_Mono/FireControl/FireControlServerComponent.cs
  Content.Server/_Mono/FireControl/FireControlSystem.Console.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
Labels: UI, C#, size/S

#91 New Shield Appearance
  Content.Client/Theta/ShipEvent/Systems/CircularShieldOverlay.cs
  Resources/Audio/Lobby/attributions.yml
  Resources/Textures/Theta/ShipEvent/Shaders/circular_waves.swsl
Labels: S: Untriaged, C#, YML, size/S, Shaders

#94 MR-8 replacement and stack size increases
  Content.Shared/Ame/Components/AmeFuelContainerComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Stacks/Materials/Sheets/glass.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/Stacks/Materials/Sheets/other.yml
  Resources/Prototypes/Stacks/Materials/ingots.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/Stacks/Materials/parts.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/Stacks/power_stacks.yml
  Resources/Prototypes/Stacks/science_stacks.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/PMC/registered.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_syndicate.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Stacks/Materials/fuelgrade.yml
  Resources/Prototypes/_NF/Stacks/science_stacks.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_box.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_box.rsi/mag-1.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_box.rsi/mag-2.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_box.rsi/mag-3.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_box.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_mag.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_mag.rsi/mag-1.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_mag.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Ammunition/DMR/dmr_mag.rsi/red.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/base.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/bolt-open.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/mag-0.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/meta.json
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/wielded-inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Guns/Rifles/mr8c.rsi/wielded-inhand-right.png
Labels: C#, YML, size/M, Sprites, No C#

#93 NFSDO Re-map
  Resources/Maps/_NF/POI/nfsd.yml
Labels: No C#, size/XL, Map-POI

#98 Music & More (Should Be Fixed)
  Resources/Audio/_Mono/Jukebox/attributions.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_NF/SoundCollections/lobby.yml
Labels: S: Untriaged, YML, size/S, No C#

#100 Xeno Expedition Fix
  Resources/Prototypes/Procedural/salvage_factions.yml
Labels: S: Untriaged, YML, No C#

#101 Shield Fixes
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleWindow.xaml
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleWindow.xaml.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Content.Shared/Shuttles/BUIStates/RadarConsoleBoundInterfaceState.cs
  Resources/Locale/en-US/Theta/ShipEvent/shipevent-ui.ftl
Labels: S: Untriaged, UI, C#, FTL, size/S

#102 Polaris compliancy and mercury glow up
  Resources/Maps/_Mono/Shuttles/BlackMarket/mercury.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Prototypes/Stacks/Materials/Sheets/glass.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/Stacks/Materials/Sheets/other.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/Stacks/Materials/parts.yml
  Resources/Prototypes/Stacks/power_stacks.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/mercury.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/polaris.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Stacks/Materials/fuelgrade.yml
Labels: S: Untriaged, YML, No C#, size/XL

#103 Cryosleep Changes
  Content.Server/_NF/CryoSleep/CryoSleepSystem.Returning.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Resources/Locale/en-US/_NF/cryosleep/cryosleep-component.ftl
Labels: C#, FTL, size/S

#104 Grid Name Display
  Content.Client/Popups/GridNameDisplay/GridNameDisplaySystem.cs
  Content.Server/Popups/GridNameDisplay/GridNameSystem.cs
  Content.Shared/Popups/GridNameDisplay/ShowGridNameEvent.cs
  Content.Shared/Popups/GridNameDisplay/VisitedGridsComponent.cs
  Resources/Fonts/Helvetica/Helvetica-Bold.ttf
  Resources/Prototypes/fonts.yml
Labels: S: Untriaged, C#, YML

#105 Pirate shipyard voucher attempt
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/kessler.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/marauder.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/mercury.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/polaris.yml
Labels: YML, size/S, No C#

#106 Night & Thermal Vision [Port]
  Content.Client/Gameplay/GameplayStateBase.cs
  Content.Client/Overlays/EquipmentHudSystem.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Client/_White/Overlays/BaseSwitchableOverlay.cs
  Content.Client/_White/Overlays/NightVisionSystem.cs
  Content.Client/_White/Overlays/ThermalVisionOverlay.cs
  Content.Client/_White/Overlays/ThermalVisionSystem.cs
  Content.Server/Flash/Components/FlashImmunityComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Body/Components/BodyComponent.cs
  Content.Shared/Eye/Blinding/Components/EyeProtectionComponent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/_Goobstation/Flashbang/FlashEvents.cs
  Content.Shared/_White/Overlays/BaseVisionOverlayComponent.cs
  Content.Shared/_White/Overlays/NightVisionComponent.cs
  Content.Shared/_White/Overlays/SharedNightVisionSystem.cs
  Content.Shared/_White/Overlays/SharedThermalVisionSystem.cs
  Content.Shared/_White/Overlays/SwitchableOverlaySystem.cs
  Content.Shared/_White/Overlays/SwitchableVisionOverlayComponent.cs
  Content.Shared/_White/Overlays/ThermalVisionComponent.cs
  Resources/Audio/_White/Items/Goggles/activate.ogg
  Resources/Audio/_White/Items/Goggles/attributions.yml
  Resources/Audio/_White/Items/Goggles/deactivate.ogg
  Resources/Locale/en-US/_white/research/techologies.ftl
  Resources/Locale/en-US/_white/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_White/Actions/types.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/_White/Recipes/Lathes/devices.yml
  Resources/Prototypes/_White/Research/experimental.yml
  Resources/Prototypes/_White/Shaders/shaders.yml
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES-off.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/equipped-EYES.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/icon.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/inhand-left.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/inhand-right.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/nightvision.rsi/meta.json
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/equipped-EYES.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/icon.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/inhand-left.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/inhand-right.png
  Resources/Textures/_White/Clothing/Eyes/Goggles/thermal.rsi/meta.json
  Resources/Textures/_White/Shaders/nightvision.swsl
Labels: S: Untriaged, C#, YML, size/M, Sprites, Audio, FTL, Shaders

#107 Calypso shuttle
  Resources/Maps/_Mono/Shuttles/Nfsd/calypso.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/calypso.yml
Labels: S: Untriaged, YML, size/L, No C#

#109 Pirate cove update + mass driver impact fix
  Resources/Maps/_Mono/Shuttles/Nfsd/calypso.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
Labels: S: Untriaged, YML, No C#, size/XL, Map-POI

#108 NFSDO fixes
  Resources/Maps/_NF/POI/nfsd.yml
Labels: S: Untriaged, No C#, Map-POI

#110 bandaid fix
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: S: Untriaged, YML, size/XS, No C#

#112 Fix Night Vision
  Content.Client/_White/Overlays/NightVisionSystem.cs
  Content.Client/_White/Overlays/ThermalVisionSystem.cs
  Content.Shared/_White/Overlays/SwitchableOverlaySystem.cs
  Content.Shared/_White/Overlays/ThermalVisionComponent.cs
Labels: S: Untriaged, C#, size/S

#111 Lore-Friendly Sprite & Name Changes
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Textures/Objects/Misc/id_cards.rsi/ert_commander.png
  Resources/Textures/Objects/Misc/id_cards.rsi/gold.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idcentcom.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idheadofpersonnel.png
  Resources/Textures/Objects/Misc/id_cards.rsi/pirate.png
  Resources/Textures/Objects/Misc/id_cards.rsi/syndie.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/equipped-HELMET-cat.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_cap.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_cap.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/sr.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/sr.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/sr.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/sr.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Mantles/sr.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Mantles/sr.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Mantles/sr.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Mantles/sr.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/sr_carapace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/sr_carapace.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/sr_carapace.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/sr_carapace.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Misc/sr_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Misc/sr_jacket.rsi/icon.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/sr.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/sr.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/sr.rsi/icon.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/sr.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/sr.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/sr.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/sr.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/sr.rsi/icon.png
  Resources/Textures/_NF/Objects/Devices/pda.rsi/pda-sr.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/ert_mailcarrier.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/nfsd.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/pirate.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/silver.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/computer_sr.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_sr.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/sr.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/sr_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/sr_open.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_sr.png
Labels: S: Untriaged, YML, Sprites, size/XS, No C#

#114 More NFSDO Fixes
  Resources/Maps/_NF/POI/nfsd.yml
Labels: S: Untriaged, size/M, No C#, Map-POI

#115 Iapetus Directional Fan
  Resources/Maps/_Mono/Shuttles/iapetus.yml
Labels: S: Untriaged, YML, size/S, No C#

#116 Dynamic Jobs
  Content.Server/_Mono/DynamicRoles/DynamicRoleSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
Labels: S: Untriaged, C#

#118 Changes
  Resources/Maps/_Mono/Shuttles/seraphim.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Shipyard/seraphim.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, No C#

#119 Shipyard Compass
  Content.Server/_Mono/Shipyard/ShipyardDirectionSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Locale/en-US/_Mono/shipyard/shipyard.ftl
Labels: S: Untriaged, C#, FTL

#122 Shield Flicker Fix
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
Labels: S: Untriaged, C#, size/XS

#125 Ship Shield Changes
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldTempSpeedChangeEffect.cs
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
Labels: S: Untriaged, C#, size/S, Docs

#126 Portstriking perhaps godo
  .github/mapchecker/mapchecker.py
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Changelog/Frontier.yml
  Resources/Locale/en-US/_NF/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/_NF/holopad/holopad.ftl
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/lobby/station.ftl
  Resources/Locale/en-US/_NF/tips.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
  Resources/ServerInfo/_NF/Guidebook/Bank.xml
  Resources/ServerInfo/_NF/Guidebook/Expeditions.xml
  Resources/ServerInfo/_NF/Guidebook/NewFrontier14.xml
  Resources/ServerInfo/_NF/Guidebook/Piloting.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/6_Safezone.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard.xml
Labels: S: Untriaged, C#, YML, size/M, FTL, Docs, Map-Outpost

#127 Lower UIV minimum players
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
Labels: S: Untriaged, YML, size/XS, No C#

#128 lower smuggling note pop requirements
  Resources/Prototypes/_NF/Events/nf_events.yml
Labels: S: Untriaged, YML, size/XS, No C#

#129 Minor fixes
  Resources/Maps/_Mono/Shuttles/Expedition/littora.yml
  Resources/Maps/_Mono/Shuttles/Expedition/picses.yml
  Resources/Maps/_Mono/Shuttles/tzipora.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/littora.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/hacked_mercenary_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/mercenary_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/nfsd_techfab.yml
Labels: S: Untriaged, YML, No C#, size/XL

#130 Update migration.yml
  Resources/migration.yml
Labels: S: Untriaged, YML, No C#

#133 Some Patches
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.IFF.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldRadarSystem.cs
  Resources/Locale/en-US/_Mono/shipyard/shipyard.ftl
  Resources/Prototypes/_Mono/Entities/Structures/Machines/ftldrive.yml
Labels: C#, YML, size/M, FTL

#134 Revert "Companies"
  Content.Client/Company/ClientCompanySystem.cs
  Content.Client/Company/CustomCompanyRegistrySystem.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml.cs
  Content.Server.Database/Migrations/Sqlite/20250412091205_AddCompanyToProfile.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250412091205_AddCompanyToProfile.cs
  Content.Server.Database/Migrations/Sqlite/20250414170229_FixCustomCompanyDataPersistence.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250414170229_FixCustomCompanyDataPersistence.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server/Company/CompanySystem.cs
  Content.Server/Company/CustomCompanyRegistrySystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Company/CompanyColorHelper.cs
  Content.Shared/Company/CompanyComponent.cs
  Content.Shared/Company/CompanyExamineComponent.cs
  Content.Shared/Company/CustomCompanyRegistrySystem.cs
  Content.Shared/Company/SharedCompanySystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/Loadouts/CompanyAffiliation.cs
  Resources/Locale/en-US/company/company.ftl
Labels: S: Untriaged, size/XL

#137 Lorebound
  Resources/Audio/_Mono/Jukebox/attributions.yml
  Resources/Audio/_Mono/Jukebox/oh_mah_nina.ogg
  Resources/Locale/en-US/_NF/job/department-desc.ftl
  Resources/Locale/en-US/_NF/job/department.ftl
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Prototypes/_Mono/Catalogs/Jukebox/Standard.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/nfsd-banner.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/ngc-banner.png
Labels: YML, Sprites, Audio, FTL, size/S, No C#

#140 Spooky
  Content.Server/Ghost/GhostSystem.cs
Labels: C#

#141 Lore pirate edition
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-redemption-console-component.ftl
  Resources/Locale/en-US/_NF/contraband/contraband-severity.ftl
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Locale/en-US/_NF/store/store.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Textures/Structures/Wallmounts/flags.rsi/pirate_flag.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/pirate.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/piratecaptain.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/piratefirstmate.png
Labels: S: Untriaged, YML, Sprites, FTL, No C#

#144 Error
  Content.Server/Theta/ShipEvent/Systems/CircularShieldRadarSystem.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
Labels: C#, size/M

#143 More stupid wall shit. I need to make a different branch.
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/autocannon.yml
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/scaf_pirate.rsi/equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/scaf_pirate.rsi/icon.png
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#151 Coldcap
  Resources/Maps/_Mono/Shuttles/coldcap.yml
  Resources/Prototypes/_Mono/Shipyard/coldcap.yml
Labels: YML, size/L, No C#

#146 Unidentified Ship Removed
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: C#, size/XS

#147 Undock All Button
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/DockingScreen.xaml
  Content.Client/Shuttles/UI/DockingScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Shared/Shuttles/Events/UndockAllRequestMessage.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: S: Untriaged, UI, C#, size/M, FTL

#148 Shuttle FTL Distance Circle
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
Labels: S: Untriaged, UI, C#, size/S

#150 Company Patches
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Company/CompanySystem.cs
  Content.Shared/Company/CompanyPrototype.cs
  Resources/Prototypes/companies.yml
Labels: UI, C#, YML

#149 Maximum Speed Slider
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Shuttles/Events/SetMaxShuttleSpeedRequest.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: UI, C#, FTL

#153 derelict silicon ship ghostroles part 1 real
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/Shuttles/akasono.yml
  Resources/Prototypes/_Mono/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon-laws.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/GameRules/Shuttles/ship_spawns.yml
  Resources/Prototypes/_Mono/GameRules/base.yml
  Resources/Prototypes/_Mono/GameRules/damaged_ai.yml
  Resources/Prototypes/_Mono/Shipyard/akasono.yml
Labels: YML, FTL, No C#

#155 Remove the warp point from station AIs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, YML, size/S, No C#

#154 Lore-Accurate Signs!
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/armoury.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/brief.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/brig.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/brigmed.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/bus.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/detective.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_nfsd.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_sr.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/evidence.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/interrogation.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/law.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/nfsd.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/range.png
Labels: S: Untriaged, Sprites, size/XS, No C#

#156 Fix pirate ships not loading
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/marauder.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/mercury.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_Mono/GameRules/base.yml
  Resources/Prototypes/_Mono/GameRules/damaged_ai.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/game_presets.yml
  Resources/migration.yml
Labels: S: Untriaged, YML, size/S, No C#, Map-POI

#157 Minecraft! Blocks! Chicken Jockey!
  Resources/migration.yml
Labels: YML, size/XS, No C#

#159 Created the Dart
  Resources/Maps/_Mono/Shuttles/Nfsd/dart.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/dart.yml
Labels: S: Untriaged, YML, size/L, No C#

#160 No FTL Combat
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/_Mono/FireControl/FireControlSystem.TargetGuided.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
Labels: S: Untriaged, UI, C#, size/M

#161 No FTL Parking
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
Labels: S: Untriaged, UI, C#, size/S

#162 Shield Power Consumption Display
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleWindow.xaml
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleWindow.xaml.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Content.Shared/Shuttles/BUIStates/RadarConsoleBoundInterfaceState.cs
  Resources/Locale/en-US/Theta/ShipEvent/shipevent-ui.ftl
Labels: S: Untriaged, UI, C#, FTL, size/S

#163 Anti-Space Gibbing
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Destructible/Thresholds/DamageThreshold.cs
Labels: S: Untriaged, C#, size/S

#165 Active Jetpack Blip
  Content.Server/Movement/Systems/JetpackSystem.cs
Labels: S: Untriaged, C#, size/S

#167 Quick Company Change
  Content.Server/Company/CompanySystem.cs
Labels: S: Untriaged, C#, size/XS

#170 New ADS AI
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
Labels: S: Untriaged, FTL, size/S, No C#

#173 AI ships tuning (hopefully) and 100% free lag
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/autocannon.yml
  Resources/Prototypes/_Mono/GameRules/Shuttles/ship_spawns.yml
  Resources/Prototypes/_Mono/GameRules/base.yml
  Resources/Prototypes/_Mono/GameRules/damaged_ai.yml
  Resources/Prototypes/_Mono/Roles/Ghostroles/whitelisted.yml
Labels: S: Untriaged, YML, size/S, No C#

#174 Revert "Z Hotkey Patch"
  Content.Shared/Clothing/EntitySystems/ClothingSwapSystem.cs
Labels: S: Untriaged, C#, size/S

#176 Fly My AI
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: S: Untriaged, YML, size/L, FTL, No C#, S: Needs Review

#179 NSFD -> NCMC Radio
  Resources/Locale/en-US/_NF/headset/headset-component.ftl
  Resources/Prototypes/_NF/radio_channels.yml
Labels: YML, FTL, size/XS, No C#

#178 Company IFF
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
Labels: S: Untriaged, UI, C#, size/M

#177 Even More NCMCO fixes
  Resources/Maps/_NF/POI/nfsd.yml
Labels: S: Untriaged, size/L, No C#, Map-POI

#180 Dart, Company Desc, ADS Lawset
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Company/CompanyComponent.cs
  Content.Shared/Company/CompanyPrototype.cs
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Maps/_Mono/Shuttles/Nfsd/dart.yml
  Resources/Prototypes/companies.yml
  Resources/Textures/_Mono/Companies/armadanexiles.png
  Resources/Textures/_Mono/Companies/gasnewgalactic.png
  Resources/Textures/_Mono/Companies/unionj.png
Labels: S: Untriaged, UI, C#, YML, size/M, FTL

#182 Company Description Changes
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/en-US/_Mono/companies/companies.ftl
Labels: S: Untriaged, UI, C#, FTL, size/S

#185 Shield buff ai whitelist yeah yeah yeah
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/GameRules/damaged_ai.yml
  Resources/Prototypes/_Mono/Roles/Ghostroles/whitelisted.yml
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
Labels: S: Untriaged, C#, YML, FTL, size/S, Docs

#183 Better AI Visualization
  Resources/Textures/Mobs/Silicon/station_ai.rsi/default.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/meta.json
Labels: S: Untriaged, Sprites, size/XS, No C#

#186 Donkhaus, Penman, Wood Crate
  Resources/Maps/_Mono/Shuttles/donkhaus.yml
  Resources/Maps/_Mono/Shuttles/penman.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/cratewood.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/_Mono/Shipyard/donkhaus.yml
  Resources/Prototypes/_Mono/Shipyard/penman.yml
  Resources/Textures/Structures/Storage/Crates/wood.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/wood.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/wood.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/wood.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/wood.rsi/open.png
  Resources/Textures/Structures/Storage/Crates/wood.rsi/sparking.png
  Resources/Textures/Structures/Storage/Crates/wood.rsi/welded.png
  Resources/Textures/_Mono/Companies/cybersunpublicaffairs.png
Labels: S: Untriaged, YML, Sprites, No C#, size/XL

#187 New AI lawset
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
Labels: S: Untriaged, FTL, size/S, No C#

#190 Service ship real and building ship comps
  Resources/Locale/en-US/_Mono/research/shuttle.ftl
  Resources/Maps/_Mono/Shuttles/moonlight.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Circuitboards/Machine/ship_components.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/ftldrive.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/Packs/shuttles.yml
  Resources/Prototypes/_Mono/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Mono/Research/shuttlecomps.yml
  Resources/Prototypes/_Mono/Shipyard/moonlight.yml
Labels: S: Untriaged, YML, FTL, No C#, size/XL

#188 IFF Label Size Decrease
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
Labels: S: Untriaged, UI, C#, size/S

#189 AI Piloting
  Content.Shared/Shuttles/Components/PausedPilotingRelayComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, C#, YML, size/S

#191 New CDN for Publish
  Tools/publish_multi_request.py
Labels: S: Untriaged, size/XS, No C#

#193 No more total shield death
  Resources/Locale/en-US/_Mono/contraband/contraband-severity.ftl
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/registered.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/90mm.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/Ammo/autocannon.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#196 Removed Crypod from Archon.
  Resources/Maps/_Mono/Shuttles/Expedition/archon.yml
Labels: S: Untriaged, YML, size/M, No C#

#198 replace the archon cryopod in a good way..
  Resources/Maps/_Mono/Shuttles/Expedition/archon.yml
Labels: S: Untriaged, YML, size/L, No C#

#200 Shuttle Network Buttons
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/DeviceLinking/Components/NoSignalOnLinkComponent.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_Mono/Shipyard/ShipyardDirectionSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.DeviceLinking.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.OnConsoleStartup.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.Startup.cs
  Content.Shared/_NF/Shuttles/Events/ShuttlePortButtonPressedMessage.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Shuttles/device_linking_ports.yml
Labels: S: Untriaged, UI, C#, YML, size/M, FTL

#201 A lot of minor QOL stuff
  Resources/Maps/_Mono/Shuttles/praetorian.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/projectiles.yml
  Resources/Prototypes/_Mono/Shipyard/praetorian.yml
Labels: YML, size/L, No C#

#202 New Gunnery Console Look
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/computer_not_rot.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/generic_panel_open.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/gunnery_keyboard.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/gunnery_keys.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/gunnery_screen.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#203 Gun Console Proto Hotfix
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#204 NFSD -> NCMC, should be final
  Resources/Locale/en-US/_NF/accent/goblin_accent.ftl
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Locale/en-US/_NF/dock/dock.ftl
  Resources/Locale/en-US/_NF/events/bluespace-syndicate-crate.ftl
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#206 Company Patches
  Content.Client/Lobby/ClientPreferencesManager.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Server/Company/CompanySystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
Labels: C#

#205 Healing Localization Fix
  Content.Server/Medical/HealingSystem.cs
Labels: C#

#207 Ahelp Admin Color
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: C#, size/S

#208 Exped Proximity Removal
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
Labels: C#, FTL, size/S

#209 New map: Eden
  Resources/Maps/_Mono/Shuttles/eden.yml
  Resources/Prototypes/_Mono/Shipyard/eden.yml
Labels: YML, size/L, No C#, S: Needs Review

#211 Calypso and Moonlight fixes + merc combat ships in exped shipyard
  Resources/Maps/_Mono/Shuttles/Expedition/archer_expd.yml
  Resources/Maps/_Mono/Shuttles/Expedition/praetorian_expd.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/calypso.yml
  Resources/Maps/_Mono/Shuttles/moonlight.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/archer_expd.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/praetorian_expd.yml
Labels: YML, No C#, size/XL

#213 Ai ship changes
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
Labels: S: Untriaged, YML, No C#

#215 Todo List Crunch
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/clemency.yml
  Resources/Maps/_Mono/Shuttles/donkhaus.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Objects/Fun/birthdaypresent.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_Mono/Shipyard/clemency.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/military_jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/pouches.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#218 Clemency Price Change
  Resources/Prototypes/_Mono/Shipyard/clemency.yml
Labels: YML, FTL, size/XS, No C#

#212 NCMCO color fixes
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: S: Untriaged, YML, size/S, No C#

#216 New map: Orit
  Resources/Maps/_Mono/Shuttles/orit.yml
  Resources/Prototypes/_Mono/Shipyard/orit.yml
Labels: YML, size/L, No C#

#220 Aetherion Dynamics
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Prototypes/companies.yml
Labels: S: Untriaged, YML, FTL, No C#

#221 Some fixes
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/Expedition/archer_expd.yml
  Resources/Maps/_Mono/Shuttles/archer.yml
  Resources/Maps/_Mono/Shuttles/argent.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Circuitboards/Machine/ship_components.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Boxes/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Magazines/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/dmr.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/FireControl/gunnery.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/archer_expd.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/praetorian_expd.yml
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/computer_not_rot.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/gunnery_screen.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/meta.json
Labels: S: Untriaged, YML, size/L, Sprites, No C#

#222 Whoopsies
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/projectiles.yml
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
Labels: S: Untriaged, C#, YML, size/S, Docs

#224 Cadet and pirate roles
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: S: Untriaged, YML, No C#

#219 New map: Miriam
  Resources/Maps/_Mono/Shuttles/miriam.yml
  Resources/Prototypes/_Mono/Shipyard/miriam.yml
Labels: S: Untriaged, YML, No C#

#225 Single Tile Grids
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
Labels: S: Untriaged, C#, size/XS

#226 Ship Impacts
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
Labels: S: Untriaged, C#, size/M

#227 Grid + Garbage Janitor System
  Content.Server/Shuttles/Systems/GridCleanupSystem.cs
  Content.Server/Shuttles/Systems/SpaceGarbageCleanupSystem.cs
Labels: S: Untriaged, C#, size/M

#228 Shipyard Sell Patch
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
Labels: S: Untriaged, C#, size/S

#229 Shield FOV Fix
  Content.Client/Theta/ShipEvent/Systems/CircularShieldOverlay.cs
Labels: S: Untriaged, C#, size/XS

#232 We got to have money
  Content.Server/_NF/Commands/BankCommand.cs
Labels: S: Untriaged, C#, size/M

#237 anotha charon buff
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/projectiles.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/archon.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/littora.yml
Labels: YML, size/S, No C#

#236 Supplement for companies
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Company/CompanySystem.cs
  Content.Shared/Company/CompanyPrototype.cs
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Prototypes/companies.yml
Labels: UI, C#, YML, FTL, size/S

#239 Add radar blips for vehicles
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: S: Untriaged, C#, size/S

#235 CO remap
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
Labels: C#, YML, size/XL, Docs

#240 Fentanyl
  Resources/Locale/en-US/_Mono/reagents/narcotics.ftl
  Resources/Prototypes/_Mono/Entities/Objects/solids.yml
  Resources/Prototypes/_Mono/Reagents/narcotics.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
  Resources/Textures/_Mono/Objects/Misc/fentanyl.rsi/icon.png
  Resources/Textures/_Mono/Objects/Misc/fentanyl.rsi/meta.json
Labels: YML, size/M, Sprites, FTL, No C#

#238 Luke's todolist, again
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/security.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
Labels: YML, size/M, FTL, No C#

#241 Crawling [Port]
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/_White/Standing/LayingDownSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Standing/StandingStateSystem.cs
  Content.Server/_White/Standing/LayingDownSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Damage/Components/RequireProjectileTargetComponent.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_White/Standing/LayingDownComponent.cs
  Content.Shared/_White/Standing/SharedLayingDownSystem.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/keybinds.yml
Labels: S: Untriaged, UI, C#, YML, size/M, FTL

#242 Abandoned Ship Auto Deletion
  Content.Server/_NF/Shipyard/Systems/ShipOwnershipSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/_NF/Shipyard/Components/ShipOwnershipComponent.cs
Labels: C#, size/M

#243 Fixes
  Resources/Locale/en-US/_Mono/contraband/contraband-severity.ftl
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Prototypes/_Mono/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_Mono/Entities/Objects/solids.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Mono/contraband_severities.yml
Labels: YML, FTL, No C#

#244 Fent Recipe Tweak 2
  Resources/Prototypes/_Mono/Entities/Objects/solids.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, YML, size/S, No C#

#245 Shield buffer nerf
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
Labels: S: Untriaged, YML, size/XS, No C#

#247 Time Transfer Menu [Admin + Port]
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanelEui.cs
  Content.Server/_Goobstation/Administration/Commands/TimeTransferPanelCommand.cs
  Content.Server/_Goobstation/Administration/PlayTimeCommandUtilities.cs
  Content.Server/_Goobstation/Administration/TimeTransferPanelEui.cs
  Content.Shared/_Goobstation/Administration/TimeTransferPanelEui.cs
  Resources/Locale/en-US/_Goobstation/administration/time_transfer.ftl
  Resources/Locale/en-US/_Goobstation/job/job-names.ftl
  Resources/Prototypes/_Goobstation/Roles/Jobs/Misc/misc.yml
Labels: S: Untriaged, UI, C#, YML, FTL

#248 Patreon Chat Color
  Content.Server/Chat/Managers/ChatManager.cs
Labels: S: Untriaged, C#, size/S

#249 Fentanyl Balance. Actually balanced (TM)
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: YML, No C#

#250 Revert "Fentanyl Balance. Actually balanced (TM)"
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: YML, size/XS, No C#

#252 Fix the co
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Prototypes/_Mono/Entities/Objects/Misc/solids.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, YML, size/S, No C#

#253 EMP weapons, Legionnaire, fent guidebook fixes, and reorganizing SpaceArtillery
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Locale/en-US/_Mono/reagents/narcotics.ftl
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/legionnaire.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/BallisticArtillery.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Missile/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/base_launcher.yml
  Resources/Prototypes/_Mono/Guidebook/gunnery.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/legionnaire.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/RUBICON.xml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/rubicon.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/rubicon.rsi/space_artillery.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/gunnery_screen.png
Labels: S: Untriaged, YML, size/L, Sprites, FTL, No C#, Docs

#254 Fent od changes and breakable fent
  Resources/Prototypes/_Mono/Entities/Objects/Misc/solids.yml
  Resources/Prototypes/_Mono/Reagents/narcotics.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, YML, size/S, No C#

#255 Metadata Fix
  Content.Server/Popups/GridNameDisplay/GridNameSystem.cs
  Content.Shared/Popups/GridNameDisplay/VisitedGridsComponent.cs
  Content.Shared/Popups/GridNameDisplay/VisitedGridsSystem.cs
Labels: C#, size/M

#256 Exploding Fent
  Resources/Locale/en-US/_Mono/reagents/narcotics.ftl
  Resources/Prototypes/_Mono/Entities/Objects/Misc/solids.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/medicine.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#257 Shield nerf again fuck man
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Resources/Prototypes/Theta/Shipevent/Structures/shields.yml
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
Labels: S: Untriaged, C#, YML, size/S, Docs

#258 Ship designations + fent changes
  Content.Server/Maps/NameGenerators/NanotrasenNameGenerator.cs
  Resources/Locale/en-US/_Mono/contraband/contraband-severity.ftl
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Locale/en-US/_Mono/reagents/narcotics.ftl
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/_Mono/Guidebook/fentanyl.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/fentanyl.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/kessler.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/marauder.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/mercury.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/polaris.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/ample.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/veska.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/archer_expd.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/archon.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/littora.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/picses.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/praetorian_expd.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/anura.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/calypso.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/dart.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/legionnaire.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/mayhem.yml
  Resources/Prototypes/_Mono/Shipyard/Scrap/tide.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/broom.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/chauffeur.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/mailpod.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/parcel.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/watchdog.yml
  Resources/Prototypes/_Mono/Shipyard/Syndicate/hunter.yml
  Resources/Prototypes/_Mono/Shipyard/akasono.yml
  Resources/Prototypes/_Mono/Shipyard/archer.yml
  Resources/Prototypes/_Mono/Shipyard/argent.yml
  Resources/Prototypes/_Mono/Shipyard/clemency.yml
  Resources/Prototypes/_Mono/Shipyard/coldcap.yml
  Resources/Prototypes/_Mono/Shipyard/donkhaus.yml
  Resources/Prototypes/_Mono/Shipyard/eden.yml
  Resources/Prototypes/_Mono/Shipyard/framework.yml
  Resources/Prototypes/_Mono/Shipyard/gudinov.yml
  Resources/Prototypes/_Mono/Shipyard/iapetus.yml
  Resources/Prototypes/_Mono/Shipyard/jug.yml
  Resources/Prototypes/_Mono/Shipyard/mclass.yml
  Resources/Prototypes/_Mono/Shipyard/miriam.yml
  Resources/Prototypes/_Mono/Shipyard/moonlight.yml
  Resources/Prototypes/_Mono/Shipyard/orit.yml
  Resources/Prototypes/_Mono/Shipyard/penman.yml
  Resources/Prototypes/_Mono/Shipyard/praetorian.yml
  Resources/Prototypes/_Mono/Shipyard/rhea.yml
  Resources/Prototypes/_Mono/Shipyard/sabine.yml
  Resources/Prototypes/_Mono/Shipyard/seraphim.yml
  Resources/Prototypes/_Mono/Shipyard/skalpel.yml
  Resources/Prototypes/_Mono/Shipyard/tzipora.yml
  Resources/ServerInfo/_Mono/Guidebook/Fentanyl.xml
Labels: S: Untriaged, C#, YML, size/M, FTL, Docs

#259 Reduce the Civimed Prices
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: YML, size/XS, No C#

#260 Fent buff!!
  Resources/Prototypes/_Mono/Entities/Objects/Misc/solids.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/fentanyl.yml
  Resources/ServerInfo/_Mono/Guidebook/Fentanyl.xml
Labels: YML, size/XS, No C#, Docs

#267 paramed voidsuit sprite fix
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-light.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/on-equipped-HELMET.png
Labels: S: Untriaged, Sprites, size/S, No C#

#268 CPR [Port]
  Content.Server/_EinsteinEngines/Medical/CPR/CPRSystem.cs
  Content.Server/_EinsteinEngines/Medical/CPR/CPRTrainingComponent.cs
  Content.Shared/_EinsteinEngines/Medical/CPR/CPRDoAfterEvent.cs
  Resources/Audio/_EinsteinEngines/Effects/CPR.ogg
  Resources/Locale/en-US/_EinsteinEngines/medical/components/cpr-training-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: C#, YML, size/M, Audio, FTL

#270 HF Katana Adjustment
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
Labels: S: Untriaged, YML, size/XS, No C#

#271 Fixed a prototype error that would've caused a server crash.
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
Labels: YML, size/XS, No C#

#272 HF Fix
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
Labels: YML, size/XS, No C#

#273 Rebalancing and CO fuelvend
  Resources/Locale/en-US/_Mono/reagents/narcotics.ftl
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/_Mono/Entities/Objects/Misc/solids.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Mono/Guidebook/fentanyl.yml
  Resources/Prototypes/_Mono/Recipes/Reactions/fentanyl.yml
  Resources/ServerInfo/_Mono/Guidebook/Fentanyl.xml
Labels: S: Untriaged, YML, FTL, No C#, size/XL, Docs

#274 Added EVA wall locker to the Duran.
  Resources/Maps/_Mono/Shuttles/Expedition/duran.yml
Labels: S: Untriaged, YML, size/S, No C#

#276 Murasama
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_Mono/Objects/Weapons/Melee/murasama.rsi/equipped-BACKPACK.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/murasama.rsi/equipped-BELT.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/murasama.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/murasama.rsi/icon.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/murasama.rsi/inhand-left.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/murasama.rsi/inhand-right.png
  Resources/Textures/_Mono/Objects/Weapons/Melee/murasama.rsi/meta.json
Labels: S: Untriaged, YML, Sprites, No C#

#277 27apr25 fixes
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Mono/Recipes/Crafting/Graphs/improvised/hf_blade.yml
  Resources/Prototypes/tags.yml
Labels: S: Untriaged, YML, size/L, No C#

#278 Fix DME's Color Scheme
  Resources/Prototypes/_Mono/companies.yml
Labels: S: Untriaged, YML, size/XS, No C#

#282 Fixed medicine stacks, some balance changes and UIV spawn rate change
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
Labels: S: Untriaged, C#, YML, size/M, FTL

#283 Thats it.
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
  Resources/Audio/_Mono/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Mono/Weapons/Guns/Gunshots/uaf_cyrexa_452.ogg
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Maps/_Mono/Shuttles/Nfsd/flyssa.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/base_launcher.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/capital_thrusters.yml
  Resources/Prototypes/_Mono/Guidebook/gunnery.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/flyssa.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/ServerInfo/_Mono/Guidebook/ShipCombat.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CHARON.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CYREXA.xml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/cyrexa.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/cyrexa.rsi/space_artillery.png
Labels: S: Untriaged, C#, YML, Sprites, Audio, FTL, size/XL, Docs

#279 Southern peak mercenaries
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Prototypes/_Mono/companies.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#284 Service Shuttles, Lore, Tweak from Sheriff
  Resources/Locale/en-US/_NF/holopad/holopad.ftl
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Locale/en-US/_NF/lobby/lobby.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/tips.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Maps/_Mono/Shuttles/Service/arachnid.yml
  Resources/Maps/_Mono/Shuttles/Service/bucket.yml
  Resources/Maps/_Mono/Shuttles/Service/letterbox.yml
  Resources/Maps/_Mono/Shuttles/Service/solarsail.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Mono/Entities/Objects/Fun/cassette_player.yml
  Resources/Prototypes/_Mono/Shipyard/Service/arachnid.yml
  Resources/Prototypes/_Mono/Shipyard/Service/bucket.yml
  Resources/Prototypes/_Mono/Shipyard/Service/letterman.yml
  Resources/Prototypes/_Mono/Shipyard/Service/solarsail.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/broom.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/chauffeur.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/mailpod.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/parcel.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/watchdog.yml
  Resources/Prototypes/_Mono/tags.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/badges.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/security.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/Armory/weapon_racks.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/meta.json
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/player_empty.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/player_filled.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/tape_armada.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/tape_blue.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/tape_congress.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/tape_default.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/tape_green.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/tape_red.png
  Resources/Textures/_Mono/Objects/Fun/cassette.rsi/tape_rogue.png
Labels: S: Untriaged, YML, Sprites, FTL, No C#, size/XL

#286 When Rule Breaks
  Resources/Prototypes/_NF/Guidebook/rules.yml
  Resources/ServerInfo/_NF/Guidebook/Rules/10_Crimes.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/11_Silicons.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/12_Security.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/13_Command.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/1_Community.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/2_ICInfo.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/3_Escalation.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/4_Chat.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/5_Roleplay.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/6_Safezone.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/7_Antag.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/8_PVP.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/9_Pirates.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/Zero_Tolerance.xml
Labels: YML, size/M, No C#, Docs

#288 29apr25 flyssa interior revamp
  Resources/Maps/_Mono/Shuttles/Nfsd/flyssa.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CYREXA.xml
Labels: S: Untriaged, YML, No C#, size/XL, Docs

#289 Adjustments
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: S: Untriaged, YML, size/S, No C#

#292 Shield power draw limit
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
Labels: S: Untriaged, C#

#293 Exocron Rogue Ship
  Resources/Maps/_Mono/Shuttles/BlackMarket/exocron.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/exocron.yml
Labels: YML, size/L, No C#

#294 Removed the ability to find over 100 TC after a handful of wrecks.
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
Labels: S: Untriaged, YML, size/S, No C#
