Repository Monolith-Station/Monolith, pull requests merged in 2025-05, with the labels that each got.

#291 'Judiciary' Expeditionary Research Vessel
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Maps/_Mono/Shuttles/Expedition/judiciary.yml
  Resources/Prototypes/_Mono/Guidebook/shipyard.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/judiciary.yml
  Resources/ServerInfo/_Mono/Guidebook/Shipyard/Judiciary.xml
Labels: S: Untriaged, YML, size/L, FTL, No C#, Docs

#305 Flyssa fixes
  Resources/Maps/_Mono/Shuttles/Nfsd/flyssa.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/flyssa.yml
Labels: S: Untriaged, YML, size/L, No C#

#306 Exocron Changes
  Resources/Maps/_Mono/Shuttles/BlackMarket/exocron.yml
Labels: S: Untriaged, YML, size/M, No C#

#308 Tumour and polaris fixes
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/tumour.yml
  Resources/Prototypes/_Mono/Shipyard/Carrier/zephyr.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/tumour.yml
Labels: S: Untriaged, YML, No C#, size/XL

#309 Fixes tweaks
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
Labels: YML, size/XS, No C#

#311 Spyglass
  Resources/Maps/_Mono/Shuttles/BlackMarket/spyglass.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/spyglass.yml
Labels: YML, size/L, No C#

#312 Added expedition console to the Judiciary
  Resources/Maps/_Mono/Shuttles/Expedition/judiciary.yml
Labels: S: Untriaged, YML, size/S, No C#

#314 This adds the Zealots Of Balaam as a playable neutral faction.
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Prototypes/_Mono/companies.yml
Labels: YML, FTL, size/XS, No C#

#315 Shuttle Console Locks
  Content.Client/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shuttles/Components/ShuttleConsoleLockComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleLockSystem.cs
  Content.Shared/_NF/Shipyard/Components/ShuttleDeedComponent.cs
  Resources/Locale/en-US/shuttles/shuttle-console.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: C#, YML, size/M, FTL

#316 Grid Space Garbage Fix
  Content.Server/Shuttles/Systems/GridDeletionContainerSystem.cs
Labels: C#, size/M

#317 Fire Control Off Grid Fix
  Content.Server/_Mono/FireControl/FireControlSystem.cs
Labels: S: Untriaged, C#, size/S

#318 Total FTL Death
  Content.Server/FTL/FTLDamageSystem.cs
Labels: S: Untriaged, C#, size/S

#319 Shield APC Fix
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
Labels: C#, size/XS

#322 02may25 fixes
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/spyglass.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/spyglass.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_brown.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_brown.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_brown.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_brown.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_cream.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_cream.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_cream.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Duffels/nfsd_cream.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Mask/nfsd_sheriff.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_NF/Clothing/Mask/nfsd_sheriff.rsi/equipped-MASK-vox.png
  Resources/Textures/_NF/Clothing/Mask/nfsd_sheriff.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_NF/Clothing/Mask/nfsd_sheriff.rsi/equipped-MASK.png
  Resources/Textures/_NF/Clothing/Mask/nfsd_sheriff.rsi/icon.png
  Resources/Textures/_NF/Clothing/Mask/nfsd_sheriff.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Mask/nfsd_sheriff.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/nfsdstar.png
Labels: YML, size/L, Sprites, No C#

#325 FINALLY FIX THE SHIELDS
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/exocron.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/kessler.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/mercury.yml
  Resources/Maps/_Mono/Shuttles/Expedition/praetorian_expd.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/calypso.yml
Labels: S: Untriaged, YML, size/S, No C#

#327 Mass-ive Impact
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/_Mono/Ships/ImpactProtectionComponent.cs
  Resources/Maps/_Mono/ShuttleEvent/razor.yml
  Resources/Maps/_Mono/ShuttleEvent/zenith.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/flyssa.yml
Labels: C#, YML, size/S

#328 Magboots FTL
  Content.Server/_NF/Shuttles/Systems/MagbootsFTLImmunitySystem.cs
Labels: C#, size/S

#329 Voucher Unlock Fix
  Content.Server/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/_NF/Shipyard/Components/ShuttleDeedComponent.cs
Labels: C#

#330 Shield Anchor Fix
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
Labels: C#

#333 Rogue tweaks
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Resources/Locale/en-US/_Mono/store/uplink-catalog.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/Computers/rogue_comm_computer.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Textures/_Mono/Objects/Misc/module.rsi/cpu_rogue.png
  Resources/Textures/_Mono/Objects/Misc/module.rsi/meta.json
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/comm_rogue.png
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_Mono/Structures/Machines/computers.rsi/rogue_key.png
Labels: C#, YML, size/M, Sprites, FTL

#335 Fix silhea wiring
  Resources/Maps/_Mono/Shuttles/BlackMarket/silhea.yml
Labels: YML, No C#

#337 CC
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Prototypes/_Mono/companies.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_Mono/Companies/armadanexiles.png
  Resources/Textures/_Mono/Companies/gasnewgalactic.png
  Resources/Textures/_Mono/Companies/unionj.png
Labels: S: Untriaged, YML, FTL, size/S, No C#

#338 Saar
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/bags.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/eyes.yml
  Resources/Prototypes/_Mono/Loadouts/universal_groups.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsddrobe.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsdtec.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Textures/Clothing/Back/Duffels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Eyes/Hud/nfsd_hud.rsi/equipped-EYES.png
  Resources/Textures/_NF/Clothing/Eyes/Hud/nfsd_hud.rsi/icon.png
  Resources/Textures/_NF/Clothing/Eyes/Hud/nfsd_hud.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Eyes/Hud/nfsd_hud.rsi/inhand-right.png
Labels: S: Untriaged, YML, Sprites, No C#, size/XL, Map-POI

#339 Cryo Some More
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Server/_NF/CryoSleep/PlayerJobComponent.cs
Labels: S: Untriaged, C#, size/M

#340 Lobbying Efforts
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml
  Resources/Locale/en-US/main-menu/main-menu.ftl
Labels: S: Untriaged, UI, C#, FTL, size/S

#341 Why Direct Edit
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: S: Untriaged, UI, C#

#343 Take Ownership
  Content.Server/_NF/Shipyard/Systems/ShipOwnershipSystem.cs
Labels: C#

#345 Outpost walls strong yes
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Mono/Entities/Structures/walls.yml
  Resources/Prototypes/_Mono/Entities/Structures/windows.yml
Labels: S: Untriaged, YML, size/M, No C#, Map-POI

#344 FTL Carriers
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/Components/FTLLockComponent.cs
  Content.Client/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Client/Shuttles/UI/DockObject.xaml.cs
  Content.Client/Shuttles/UI/DockingScreen.xaml
  Content.Client/Shuttles/UI/DockingScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/Shuttles/Components/FTLLockComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
  Content.Shared/Shuttles/Components/FTLLockComponentState.cs
  Content.Shared/Shuttles/Events/ToggleFTLLockRequestMessage.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: UI, C#, size/L, FTL

#346 Turkish Delight [Port]
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/_NF/Bank/Commands/CheckBankBalance.cs
Labels: S: Untriaged, C#

#348 Airlock Name Fix
  Content.Client/Shuttles/UI/DockingScreen.xaml.cs
Labels: S: Untriaged, UI, C#, size/XS

#332 Working Custom AI cores + AI cores on capital ships [FIXED]
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/flyssa.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/Roles/Ghostroles/whitelisted.yml
  Resources/Prototypes/silicon-laws.yml
Labels: S: Untriaged, YML, size/L, FTL, No C#

#349 Blip Optimizations
  Content.Client/_Mono/Radar/RadarBlipsSystem.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
Labels: S: Untriaged, C#, FTL

#351 Gunnery Control UI Scaling Fix
  Content.Client/_Mono/FireControl/UI/FireControlNavControl.cs
Labels: S: Untriaged, C#, size/XS

#352 My Biscuit
  Resources/Locale/en-US/administration/managers/admin-manager.ftl
Labels: S: Untriaged, FTL, size/XS, No C#

#353 Update substation.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: S: Untriaged, YML, size/S, No C#

#357 WAR WAR WAR ARM EVERY MARINE ARM THEM ALL
  Resources/Locale/en-US/_Mono/loadout.ftl
  Resources/Prototypes/_Mono/Loadouts/TSFMC/gun.yml
  Resources/Prototypes/_Mono/Loadouts/TSFMC/shoes.yml
  Resources/Prototypes/_Mono/Loadouts/gun.yml
  Resources/Prototypes/_Mono/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#358 Fix the shit man
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Maps/_NF/POI/tsfmc.yml
  Resources/Prototypes/_Mono/companies.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: S: Untriaged, YML, FTL, No C#, size/XL, Map-POI

#359 GOODBYE ASTEROIDS....
  Resources/Prototypes/World/Biomes/basic.yml
  Resources/Prototypes/World/Biomes/failsafes.yml
  Resources/Prototypes/World/noise_channels.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
Labels: YML, size/M, No C#

#362 TSF Radio Privacy
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
Labels: S: Untriaged, C#, size/S

#361 Chat Popups [Port]
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Mono/Company/CompanySystem.cs
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Server/_Mono/Company/CompanySystem.cs
  Content.Server/_White/Examine/ExaminableCharacterComponent.cs
  Content.Server/_White/Examine/ExaminableCharacterSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/_Mono/companies/examine.ftl
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
  Resources/Locale/en-US/_white/examine/examine.ftl
  Resources/Locale/en-US/popup/popup.ftl
  Resources/Locale/ru-RU/_white/escape-menu/options-menu.ftl
  Resources/Locale/ru-RU/_white/examine/examine.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: S: Untriaged, UI, C#, YML, FTL

#360 More tsfmc long arm loadout shit fuck you
  Resources/Locale/en-US/_Mono/loadout.ftl
  Resources/Prototypes/_Mono/Loadouts/TSFMC/gun.yml
  Resources/Prototypes/_Mono/Loadouts/gun.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#364 25may05 co shit
  Resources/Audio/Lobby/absconditus.ogg
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/lasers_rip_apart_the_bulkhead.ogg
  Resources/Maps/_Mono/Outpost/colonial.yml
  Resources/Maps/_Mono/Outpost/frontier.yml
  Resources/Prototypes/_Mono/SoundCollections/lobby.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: YML, Audio, No C#

#368 Fix CO not loading and shit
  Resources/Maps/_Mono/Outpost/colonial.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/pouches.yml
Labels: S: Untriaged, YML, No C#, size/XL

#356 AI Additions
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Maps/_Mono/Shuttles/BlackMarket/polaris.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/flyssa.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/silicon-laws.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#, S: Needs Review

#371 The Magus, an expeditionary medical corvette
  Resources/Maps/_Mono/Shuttles/Expedition/magus.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/magus.yml
Labels: S: Untriaged, YML, size/L, No C#

#373 Fire Up Those Fryers
  Content.Client/_Mono/FireControl/FireControlVisualizerSystem.cs
  Content.Server/_Mono/FireControl/FireControlSystem.cs
Labels: S: Untriaged, C#, size/XS

#374 Lethal Company
  Content.Server/_Mono/Company/CompanySystem.cs
  Content.Shared/_Mono/Company/CompanyAccessReader.cs
  Content.Shared/_Mono/Company/CompanyAccessReaderSystem.cs
  Resources/Locale/en-US/_Mono/company/company-access.ftl
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: S: Untriaged, C#, YML, size/M, FTL

#376 Sprite changes
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/bushy_tail_protogen.png
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/ears_protogen.png
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/shark_tail_protogen.png
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/tail_protogen.png
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/two_ears_protogen.png
Labels: S: Untriaged, Sprites, size/XS, No C#

#375 Job Slots Limit
  Content.Server/Station/Systems/StationJobsSystem.cs
Labels: C#

#377 Ship Panic Button
  Content.Client/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/Components/ShuttleConsoleLockComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleLockSystem.cs
  Resources/Locale/en-US/shuttles/shuttle-console.ftl
Labels: S: Untriaged, C#, FTL

#378 You call that a blade? I'll show you a blade!
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
Labels: S: Untriaged, C#, size/S

#379 Fix Compatibility Mode
  Resources/Textures/Theta/ShipEvent/Shaders/circular_waves.swsl
Labels: S: Untriaged, size/S, No C#, Shaders

#380 Detailed Examine Option [Port]
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/_White/Examine/ExaminableCharacterSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/_white/escape-menu/options-menu.ftl
Labels: S: Untriaged, UI, C#, FTL

#381 FTL Proximity
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Resources/Locale/en-US/shuttles/shuttle-console.ftl
Labels: C#, FTL, size/S

#382 Chicago
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
Labels: S: Untriaged, YML, size/S, No C#

#383 WARRIOR
  Resources/Maps/_Mono/Shuttles/BlackMarket/bulwark.yml
  Resources/Maps/_Mono/Shuttles/BlackMarket/spyglass.yml
  Resources/Maps/_Mono/Shuttles/Nfsd/flyssa.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/projectiles.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/bulwark.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/flyssa.yml
Labels: YML, No C#, size/XL

#384 Shuttle Fixes
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: S: Untriaged, C#, size/XS

#385 FTL Docking Patch
  Content.Server/Shuttles/Systems/DockingSystem.cs
Labels: S: Untriaged, C#, size/S

#386 Job Description Changes
  Resources/Locale/en-US/_NF/job/job-description.ftl
Labels: S: Untriaged, FTL, size/S, No C#

#389 Console Ports
  Content.Client/Shuttles/ShuttleConsoleComponent.cs
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/Shuttles/Components/SharedShuttleConsoleComponent.cs
Labels: S: Untriaged, UI, C#, size/M

#388 Unassign
  Content.Client/UserInterface/Controls/ConfirmButton.cs
  Content.Client/_NF/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/_NF/Shipyard/Components/ShipyardUnassignCooldownComponent.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/_NF/Shipyard/Events/ShipyardConsoleUnassignDeedMessage.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: S: Untriaged, UI, C#, size/M, FTL

#392 Shoes (And survival boxes) for Protogens
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
Labels: YML, size/XS, No C#

#398 Range Limited Radio Channels
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Locale/en-US/_NF/headset/headset-component.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_NF/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
Labels: S: Untriaged, C#, YML, FTL

#393 Mmm, raw meat
  Resources/Prototypes/Body/Organs/protogen.yml
Labels: S: Untriaged, YML, size/XS, No C#

#396 Re-enable content drop on Restock box destruction
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: S: Untriaged, YML, size/S, No C#

#400 Faster projectiles for handheld guns
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CHARON.xml
Labels: S: Untriaged, YML, size/S, No C#, Docs

#397 AI Additions Part 2
  Resources/Locale/en-US/_Mono/events/shuttles.ftl
  Resources/Locale/en-US/_Mono/silicon.ftl
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon-laws.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/mercenary_techfab.yml
  Resources/Prototypes/silicon-laws.yml
Labels: S: Untriaged, YML, size/M, FTL, No C#

#402 Viper Group Hardsuits
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Clothing/Head/Hardsuits/viper_group.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/viper_group.yml
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_medic.rsi/icon-flash.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_medic.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_medic.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_medic.rsi/off-equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_medic.rsi/on-equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_standard.rsi/icon-flash.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_standard.rsi/icon.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_standard.rsi/meta.json
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_standard.rsi/off-equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/Head/Hardsuits/viper_group_standard.rsi/on-equipped-HELMET.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_medic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_medic.rsi/icon.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_medic.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_medic.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_medic.rsi/meta.json
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_standard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_standard.rsi/icon.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_standard.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_standard.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Hardsuits/viper_group_standard.rsi/meta.json
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#404 Fix europa and littora shit
  Resources/Maps/_Mono/Shuttles/BlackMarket/europa.yml
  Resources/Maps/_Mono/Shuttles/Expedition/littora.yml
Labels: YML, size/L, No C#

#405 Date 09may25 stuff
  Resources/Locale/en-US/_Mono/markings/protogen_markings.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/protogen.yml
  Resources/Prototypes/Entities/Mobs/Species/protogen.yml
  Resources/Prototypes/Species/protogen.yml
  Resources/Prototypes/World/Biomes/basic.yml
  Resources/Prototypes/World/noise_channels.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/ears_protogen.png
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/two_ears_protogen.png
  Resources/Textures/Mobs/Customization/protogen_parts.rsi/visor_protogen.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Protogen/parts.rsi/torso_m.png
Labels: S: Untriaged, YML, size/M, Sprites, FTL, No C#

#408 FTL Exped Fix
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: S: Untriaged, C#, size/S

#409 Admin Stealth
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: S: Untriaged, YML, size/XS, No C#

#410 Arachnid whitelists the web nest and web cocoon
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
Labels: S: Untriaged, YML, size/XS, No C#

#395 Dymere Weapon Addition
  Resources/Audio/_Mono/Weapons/Guns/Gunshots/laserfire.ogg
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/projectiles.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Prototypes/_Mono/Guidebook/gunnery.yml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/DYMERE.xml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/dymere.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/dymere.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/SpaceArtillery/turbolaser_shot.rsi/meta.json
  Resources/Textures/_Mono/Objects/SpaceArtillery/turbolaser_shot.rsi/turbolaser-shot.png
Labels: YML, size/M, Sprites, Audio, FTL, No C#, Docs, S: Needs Review

#412 Radiohead
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/radio_channels.yml
Labels: C#, YML, size/S

#413 Kheh..... Owned...
  Resources/Locale/en-US/_Mono/guidebook/guides.ftl
  Resources/Prototypes/Species/protogen.yml
  Resources/Prototypes/_Mono/Guidebook/broadband.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/ServerInfo/_Mono/Guidebook/Broadband.xml
Labels: S: Untriaged, YML, FTL, size/S, No C#, Docs

#414 imp nerf
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Hardsuits/viper_group.yml
Labels: S: Untriaged, YML, size/XS, No C#

#415 TSFMC shit?
  Resources/Locale/en-US/_Mono/poi/tsfmc.ftl
  Resources/Maps/_Mono/POI/tsfmcoutpost.yml
  Resources/Maps/_NF/POI/tsfmc.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Mono/Entities/Objects/Misc/turret_spawner.yml
  Resources/Prototypes/_Mono/Entities/Objects/Misc/turrets.yml
  Resources/Prototypes/_Mono/PointsOfInterest/tsfmcsecondary.yml
  Resources/Prototypes/_Mono/ai_factions.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/nfdetective.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: S: Untriaged, YML, FTL, No C#, Map-POI

#416 Reflection Fix
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
Labels: S: Untriaged, C#, size/M

#417 FTL Gibbing Fix
  Content.Server/FTL/FTLDamageSystem.cs
Labels: C#, size/S

#418 Missiles Fix
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingComponent.cs
  Content.Server/_Mono/Projectiles/TargetSeeking/TargetSeekingSystem.cs
Labels: C#, size/S

#419 independent station
  Resources/Locale/en-US/_Mono/poi/stations.ftl
  Resources/Maps/_Mono/POI/camelot.yml
  Resources/Prototypes/_Mono/PointsOfInterest/camelot.yml
Labels: S: Untriaged, YML, FTL, No C#, size/XL

#420 Fast Scan
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
Labels: S: Untriaged, UI, C#, size/S

#424 Fixes for camelot
  Resources/Maps/_Mono/POI/camelot.yml
Labels: S: Untriaged, YML, No C#, size/XL

#426 Revert "Reflection Fix"
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
Labels: S: Untriaged, C#, size/M

#425 Revert "FTL Gibbing Fix"
  Content.Server/FTL/FTLDamageSystem.cs
Labels: S: Untriaged, C#, size/S

#429 Jukebox Hero
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
Labels: S: Untriaged, C#, size/S

#428 Company Tweaks + Re-adding C.O Staff Shuttles
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Maps/_Mono/Shuttles/arachnid.yml
  Resources/Maps/_Mono/Shuttles/bucket.yml
  Resources/Maps/_Mono/Shuttles/letterbox.yml
  Resources/Maps/_Mono/Shuttles/solarsail.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/arachnid.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/bucket.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/letterman.yml
  Resources/Prototypes/_Mono/Shipyard/Sr/solarsail.yml
  Resources/Prototypes/_Mono/companies.yml
Labels: S: Untriaged, YML, FTL, No C#

#427 Dymere new Sprite
  Resources/Textures/_Mono/Objects/ShuttleWeapons/dymere.rsi/space_artillery.png
Labels: Sprites, size/XS, No C#

#432 Magus fixes
  Resources/Maps/_Mono/Shuttles/Expedition/magus.yml
Labels: S: Untriaged, YML, No C#

#433 Serpent + Fixes
  Resources/Maps/_Mono/Shuttles/Nfsd/serpent.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/europa.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/spyglass.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/tethys.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/vega.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/serpent.yml
  Resources/Prototypes/_Mono/ai_factions.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
Labels: S: Untriaged, YML, No C#, size/XL

#436 Always Watches No Eyes
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/_Mono/Company/CompanyPrototype.cs
  Resources/Prototypes/_Mono/companies.yml
  Resources/Textures/_Mono/Companies/cybersunpublicaffairs.png
  Resources/Textures/_Mono/Companies/thevipergroup.png
Labels: S: Untriaged, UI, C#, YML

#434 Aetherion dynamics tweaks
  Resources/Locale/en-US/_Mono/companies/companies.ftl
  Resources/Prototypes/_Mono/companies.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#440 Speedy Rechargers
  Content.Server/Power/Components/ChargerComponent.cs
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: S: Untriaged, C#, YML, size/S

#443 Adds Medfab Flatpack and Surgery tools to DoC locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: YML, size/XS, No C#

#438 Hardsuit Yaml Warrior
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: YML, size/S, No C#

#444 Makes rogue suits cheaper in the uplink, gives energy cutlass structural
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
Labels: S: Untriaged, YML, size/S, No C#

#422 Flashpoint exped ship
  Resources/Maps/_Mono/Shuttles/Expedition/flashpoint.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/flashpoint.yml
Labels: YML, No C#, size/XL

#445 Revert "Revert "Revert "Reflection Fix"""
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
Labels: S: Untriaged, C#

#446 Revert "Total FTL Death"
  Content.Server/FTL/FTLDamageSystem.cs
Labels: S: Untriaged, C#

#435 Grandhonker and a bit of AI stuff
  Resources/Locale/en-US/_Mono/silicon.ftl
  Resources/Maps/_Mono/Shuttles/grandhonker.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon-laws.yml
  Resources/Prototypes/_Mono/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Mono/Shipyard/grandhonker.yml
Labels: S: Untriaged, YML, FTL, No C#, size/XL

#447 this is my Metal Gear Rising: Revengance (and also ClothingGrantComponent/Tag port)
  Content.Shared/_Goobstation/Clothing/Components/ClothingGrantComponentComponent.cs
  Content.Shared/_Goobstation/Clothing/Components/ClothingGrantTagComponent.cs
  Content.Shared/_Goobstation/Clothing/Systems/ClothingGrantingSystem.cs
  Resources/Locale/en-US/_Mono/store/tsfmc-uplink-catalog.ftl
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_Mono/Catalogs/security_uplink_catalog.yml
  Resources/Prototypes/_Mono/Entities/Clothing/OuterClothing/Armor/exosuit.yml
  Resources/Prototypes/_Mono/Shipyard/BlackMarket/europa.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Textures/_Mono/Clothing/OuterClothing/Armor/aurora.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Armor/aurora.rsi/icon.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Armor/aurora.rsi/inhand-left.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Armor/aurora.rsi/inhand-right.png
  Resources/Textures/_Mono/Clothing/OuterClothing/Armor/aurora.rsi/meta.json
Labels: enhancement, C#, YML, Sprites, FTL

#448 Cheaper Bulldog
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
Labels: S: Untriaged, YML, size/XS, No C#

#450 No Idea
  Content.Shared/Projectiles/EmbeddedContainerComponent.Network.cs
  Content.Shared/Projectiles/EmbeddedContainerComponent.cs
Labels: S: Untriaged, C#, size/S

#451 Projectile Raycasting
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_Mono/FireControl/FireControlNegationComponent.cs
  Content.Server/_Mono/FireControl/FireControlNegationSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/_Mono/ProjectileGridPhaseComponent.cs
Labels: S: Untriaged, C#, size/M

#454 More Guessing
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: C#

#456 Revert "Revert "Total FTL Death""
  Content.Server/FTL/FTLDamageSystem.cs
Labels: C#, size/S

#455 Revert "Revert "Revert "Revert "Reflection Fix""""
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
Labels: S: Untriaged, C#, size/M

#458 Spam Fix
  Content.Shared/Projectiles/EmbeddedContainerComponent.Network.cs
Labels: C#, size/XS

#457 Resprites all naval weapons
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Energy/launcher.yml
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
  Resources/Textures/_Mono/Objects/ShuttleWeapons/50cal.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/50cal.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/artillery.rsi/artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/artillery.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/charon.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/charon.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/cyrexa.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/cyrexa.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/dymere.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/dymere.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/rubicon.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/rubicon.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t35.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/t35.rsi/space_artillery.png
  Resources/Textures/_Mono/Objects/ShuttleWeapons/vanyk.rsi/meta.json
  Resources/Textures/_Mono/Objects/ShuttleWeapons/vanyk.rsi/space_artillery.png
Labels: S: Untriaged, YML, Sprites, size/S, No C#

#459 Increases the capacity of a few non-hitscan laser weapons
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: S: Untriaged, YML, size/S, No C#

#460 Add DME Icon
  Resources/Prototypes/_Mono/companies.yml
  Resources/Textures/_Mono/Companies/dme.png
Labels: S: Untriaged, YML, size/XS, No C#

#462 cybrexa resprite
  Resources/Textures/_Mono/Objects/ShuttleWeapons/cyrexa.rsi/space_artillery.png
Labels: S: Untriaged, Sprites, No C#

#463 Revert "Re-enable content drop on Restock box destruction"
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: S: Untriaged, YML, No C#

#467 yeah
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/_Mono/ai_factions.yml
Labels: S: Untriaged, YML, size/XS, No C#

#470 Makes Compact Defibs and Combat Defibs Accessible
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/misc.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#466 It's so FTLver...
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
Labels: S: Untriaged, C#, size/XS

#461 Give marine privates an uplink
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
Labels: S: Untriaged, YML, size/XS, No C#

#465 Hide FTL Ships
  Content.Server/_Mono/Ships/Systems/FtlIffSystem.cs
  Content.Shared/_Mono/Ships/Components/TemporaryFtlIffStorageComponent.cs
Labels: S: Untriaged, C#

#469 Flashpoint update
  Resources/Maps/_Mono/Shuttles/Expedition/flashpoint.yml
  Resources/Prototypes/_Mono/Shipyard/Expedition/flashpoint.yml
Labels: S: Untriaged, YML, size/L, No C#

#468 Viper group company whitelist
  Resources/Prototypes/_Mono/companies.yml
Labels: S: Untriaged, YML, size/S, No C#, S: Needs Review

#473 Syndie Elite Suit Buff
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: YML, size/S, No C#

#474 Shield Generator Cleanup
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleBoundUserInterface.cs
  Content.Client/Theta/ShipEvent/Console/CircularShieldConsoleWindow.xaml.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldRadarSystem.cs
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldProjectileSystem.cs
  Content.Shared/Theta/ShipEvent/CircularShield/CircularShieldTempSpeedChangeEffect.cs
  Content.Shared/Theta/ShipEvent/CircularShield/SharedCircularShieldSystem.cs
  Content.Shared/Theta/ShipEvent/Components/CircularShieldComponent.cs
Labels: UI, C#, size/L, S: Needs Review

#475 Syndi Magboots/jetpack added to uplink
  Resources/Locale/en-US/_Mono/store/pirate-uplink-catalog.ftl
  Resources/Prototypes/_Mono/Catalogs/pirate_uplink_catalog.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#472 Modifies civilian EVA suits + Voidsuit and CMO armors
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
Labels: S: Untriaged, YML, size/M, No C#

#480 MonoDev Update
  Resources/Maps/_Mono/Test/dev_map.yml
Labels: S: Untriaged, YML, No C#

#478 Launcher Fixture
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/Kinetic/launcher.yml
Labels: S: Untriaged, YML, No C#

#479 Ship Guns Rotate (Finally)
  Content.Server/_Mono/FireControl/FireControlSystem.cs
Labels: C#, size/S

#476 Recharger flatpacks + Multitools to TSF tech venders
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsdtec.yml
Labels: YML, No C#

#464 FTL Drives+ / Shuttle QoL and Cleanup
  Content.Server/Shuttles/Systems/ShuttleConsoleLockSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/_Mono/Ships/FTLDriveSystem.cs
  Content.Shared/Shuttles/Components/SharedThrusterComponent.cs
  Content.Shared/Shuttles/Components/ShuttleConsoleLockComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleLockSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Content.Shared/_Goobstation/Clothing/Systems/ClothingGrantingSystem.cs
  Content.Shared/_Mono/Ships/FTLDriveComponent.cs
  Resources/Locale/en-US/_Mono/research/shuttle.ftl
  Resources/Maps/_Mono/Outpost/colonial.yml
  Resources/Prototypes/_Mono/Catalogs/VendingMachines/Inventories/bluespaceworks.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/Circuitboards/Machine/ship_components.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/ftldrive.yml
  Resources/Prototypes/_Mono/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_Mono/Structures/Machines/VendingMachines/drivevend.rsi/broken.png
  Resources/Textures/_Mono/Structures/Machines/VendingMachines/drivevend.rsi/meta.json
  Resources/Textures/_Mono/Structures/Machines/VendingMachines/drivevend.rsi/normal-unshaded.png
  Resources/Textures/_Mono/Structures/Machines/VendingMachines/drivevend.rsi/off.png
  Resources/Textures/_Mono/Structures/Machines/VendingMachines/drivevend.rsi/panel.png
  Resources/Textures/_Mono/Structures/ShuttleComponents/drive.rsi/control_on.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/astrovend.rsi/drive-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/astrovend.rsi/meta.json
Labels: C#, YML, size/L, Sprites, FTL, S: Needs Review

#485 Ship Gun Health Buff
  Resources/Prototypes/_Mono/Entities/SpaceArtillery/SpaceArtillery/base_launcher.yml
Labels: YML, No C#

#483 Adds back hyperwar to the Syndicate Uplink/Contravend, Uplink Cost Adjustments
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Melee/combat.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Mech/Weapons/Melee/industrial.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
  Resources/Prototypes/_White/Catalog/uplink_catalog.yml
Labels: S: Untriaged, YML, size/M, No C#

#486 add weapon range to guidebook
  Resources/ServerInfo/_Mono/Guidebook/Specifications/AK570.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/ASM302.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CHARON.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/CYREXA.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/DYMERE.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/L85.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/MARAUDER.xml
  Resources/ServerInfo/_Mono/Guidebook/Specifications/RUBICON.xml
Labels: S: Untriaged, size/XS, No C#, Docs

#488 Increases radio ranges to 6k.
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/radio_channels.yml
  Resources/ServerInfo/_Mono/Guidebook/Broadband.xml
Labels: S: Untriaged, YML, size/S, No C#, Docs

#497 Shield Crash Fix
  Content.Server/Theta/ShipEvent/Systems/CircularShieldSystem.cs
Labels: C#, size/XS

#494 Syndie Medic Suit to Uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Mono/Catalogs/uplink_catalog.yml
Labels: S: Untriaged, YML, FTL, size/S, No C#

#492 Egun adjustments
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: YML, size/S, No C#

#502 Camelot/USSP updates
  Resources/Locale/en-US/_Mono/prototypes/access/accesses.ftl
  Resources/Locale/en-US/_Mono/radio.ftl
  Resources/Maps/_Mono/POI/camelot.yml
  Resources/Prototypes/_Mono/Access/security.yml
  Resources/Prototypes/_Mono/Entities/Objects/Devices/ship_vouchers.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/drakon.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/gadyuka.yml
  Resources/Prototypes/_Mono/Shipyard/USSP/natisk.yml
Labels: S: Untriaged, YML, FTL, No C#, size/XL

#501 Lisp edit
  Content.Server/Speech/EntitySystems/FrontalLispSystem.cs
Labels: S: Untriaged, C#, size/XS

#491 TSF Ships now have IFF off by default.
  Resources/Prototypes/_Mono/Shipyard/Nfsd/dagger.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/legionnaire.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/serpent.yml
  Resources/Prototypes/_Mono/Shipyard/Nfsd/spear.yml
Labels: S: Untriaged, YML, size/XS, No C#

#505 Fixes for Gadyuka and Camelot
  Resources/Maps/_Mono/POI/camelot.yml
  Resources/Maps/_Mono/Shuttles/USSP/gadyuka.yml
Labels: S: Untriaged, size/XL

#504 Added the ability to have a custom name to the TSFMC (rogue parity)
  Resources/Prototypes/_Mono/Loadouts/TSFMC/role_loadouts_tsfmc.yml
Labels: S: Untriaged, YML, size/XS, No C#

#503 Tuning Down
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/_Mono/Guidebook/broadband.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/Prototypes/radio_channels.yml
  Resources/ServerInfo/_Mono/Guidebook/Broadband.xml
Labels: S: Untriaged, C#, YML, size/S, No C#, Docs

#507 Mechs faster in space
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: YML, size/XS, No C#

#506 All roles can customize names
  Content.Shared/Preferences/Loadouts/RoleLoadoutPrototype.cs
Labels: S: Untriaged, C#, size/XS

#509 Revert "Revert "FTL Gibbing Fix""
  Content.Server/FTL/FTLDamageSystem.cs
Labels: S: Untriaged, C#, size/S

#510 Docked IFF Fix
  Content.Server/_Mono/Ships/Systems/FtlIffSystem.cs
Labels: S: Untriaged, C#, size/S

#512 POI Godmode
  Content.Server/_Mono/GridGodModeComponent.cs
  Content.Server/_Mono/GridGodModeSystem.cs
  Resources/Maps/_Mono/Outpost/colonial.yml
  Resources/Maps/_NF/POI/medical.yml
Labels: S: Untriaged, C#, YML, size/M, Map-POI

#516 LP bugfix + tweak
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/_Mono/Shipyard/Syndicate/infiltrator.yml
Labels: S: Untriaged, YML, No C#, Map-POI
